workflows/Airbus - MyPayslip.json
{
  "name": "Airbus - MyPayslip",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        8144,
        2000
      ],
      "id": "b65677da-a43c-45db-b60f-77db928145b3",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "content": "# Airbus MyPayslip Setup\n\nDieses Workflow nutzt native HTTP-Request-Nodes fuer Login, 2FA, Dokumentenliste und Download und schickt neue Downloads an den Subworkflow **Paperless-ngx - Upload Document**.\n\nKonfiguration im Node **Set workflow config**:\n- `email` ist vorbelegt\n- `maxDocuments`: `1` = neuestes Dokument, `0` = alle Dokumente, `N` = letzte `N` Dokumente\n- `password`: Standardmaessig aus `AIRBUS_MYPAYSLIP_PASSWORD`\n\nTOTP:\n- Im Node **Generate TOTP** ein TOTP-Credential mit deinem Airbus-Secret hinterlegen\n- Der Node erzeugt bei jedem Lauf den aktuellen 6-stelligen Code fuer den 2FA-Login\n\nData Table fuer Dedup:\n- Eine Data Table **Airbus Processed Documents** anlegen\n- Empfohlene Spalten: `documentId` (Text), `filename` (Text)\n- `createdAt` und `updatedAt` kommen bereits als Systemspalten von n8n\n- Bereits vorhandene `documentId`s werden vor dem Download uebersprungen\n\nSubworkflow:\n- Dieser Workflow kann ueber **Execute Workflow** aufgerufen werden\n- Optionale Inputs: `email`, `password`, `maxDocuments`, `baseUrl`, `apiBase`, `userAgent`\n- Ohne Inputs verwendet der Workflow die hinterlegten Default-Werte\n",
        "height": 452,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8144,
        1312
      ],
      "id": "1745ce8f-98e7-494d-a411-18e92972c4be",
      "name": "Setup note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "467a1f8a-b372-4cc7-8aa7-1fbf9996b133",
              "name": "email",
              "value": "={{ $json.email || 'julianreith@gmx.de' }}",
              "type": "string"
            },
            {
              "id": "04039bc5-480e-4ac0-96ee-f3d4d85fa5bf",
              "name": "maxDocuments",
              "value": "={{ Number.isFinite(Number($json.maxDocuments)) ? Math.trunc(Number($json.maxDocuments)) : 1 }}",
              "type": "number"
            },
            {
              "id": "2be17707-22db-4d7d-b9e1-f4ad4e258b61",
              "name": "password",
              "value": "={{ $json.password || $env.AIRBUS_MYPAYSLIP_PASSWORD }}",
              "type": "string"
            },
            {
              "id": "18a3f30d-4e6a-4814-a967-642c3df1f665",
              "name": "baseUrl",
              "value": "={{ $json.baseUrl || 'https://mypayslip.airbus.com' }}",
              "type": "string"
            },
            {
              "id": "7e9367e6-735b-45fd-8121-9e32ae6ba63d",
              "name": "apiBase",
              "value": "={{ $json.apiBase || 'https://mypayslip.airbus.com/api/mobileview2/v1' }}",
              "type": "string"
            },
            {
              "id": "cf0277bd-a44f-445a-860e-c6a2b63f0cc4",
              "name": "userAgent",
              "value": "={{ $json.userAgent || 'n8n-airbus-mypayslip/1.0' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8352,
        1808
      ],
      "id": "1cffc550-5850-45af-8ea3-f20390b7419d",
      "name": "Set workflow config"
    },
    {
      "parameters": {
        "options": {
          "algorithm": "SHA1",
          "digits": 6,
          "period": 30
        }
      },
      "type": "n8n-nodes-base.totp",
      "typeVersion": 1,
      "position": [
        8560,
        1808
      ],
      "id": "a0064043-7c5e-4ef8-8a0a-77f1921cd8d5",
      "name": "Generate TOTP",
      "credentials": {
        "totpApi": {
          "id": "HvaKTHup5TcAVvgu",
          "name": "mypayslip.airbus.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Set workflow config').item.json || {};\nconst totp = $('Generate TOTP').item.json || {};\n\nconst email = typeof cfg.email === 'string' ? cfg.email.trim() : '';\nconst password = typeof cfg.password === 'string' ? cfg.password : '';\nconst token = typeof totp.token === 'string' ? totp.token.trim() : '';\nconst apiBase = typeof cfg.apiBase === 'string' ? cfg.apiBase.replace(/\\/+$/, '') : '';\nconst userAgent = typeof cfg.userAgent === 'string' && cfg.userAgent.trim() ? cfg.userAgent.trim() : 'n8n-airbus-mypayslip/1.0';\n\nlet maxDocuments = Number(cfg.maxDocuments);\nif (!Number.isFinite(maxDocuments)) maxDocuments = NaN;\nif (Number.isFinite(maxDocuments)) maxDocuments = Math.trunc(maxDocuments);\n\nconst errors = [];\nif (!email) errors.push('email fehlt.');\nif (!password) errors.push('password fehlt. Setze AIRBUS_MYPAYSLIP_PASSWORD oder trage den Wert im Set-Node ein.');\nif (!token) errors.push('TOTP-Token fehlt. Konfiguriere den Node Generate TOTP mit einem TOTP-Credential.');\nif (!apiBase) errors.push('apiBase fehlt.');\nif (!Number.isInteger(maxDocuments) || maxDocuments < 0) errors.push('maxDocuments muss eine ganze Zahl >= 0 sein.');\n\nif (errors.length) {\n  return [{\n    json: {\n      kind: 'error',\n      ok: false,\n      status: 'validation_error',\n      action: 'downloadPayslipsToPaperless',\n      message: errors.join(' '),\n      totalAvailable: 0,\n      unseenAvailable: 0,\n      selectedCount: 0,\n      results: []\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    email,\n    password,\n    token,\n    apiBase,\n    userAgent,\n    maxDocuments,\n    action: 'downloadPayslipsToPaperless'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8768,
        1808
      ],
      "id": "d6cdcb72-8d81-4ce5-aa4a-c69a959d12c9",
      "name": "Validate workflow config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80c0d2ea-a38b-4f9b-b693-df7570db84aa",
              "leftValue": "={{ $json.kind || \"config\" }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8976,
        1808
      ],
      "id": "9fd3b583-d770-4a5a-bade-1da8a919a59b",
      "name": "If config valid"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.apiBase + '/Account/Login' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.userAgent }}"
            },
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ email: $json.email, password: $json.password }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9168,
        1648
      ],
      "id": "8dfd6acd-2f89-41d7-ac4b-fe47d95ab6e4",
      "name": "Login request"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Validate workflow config').item.json || {};\nconst response = $json || {};\n\nfunction shortText(value) {\n  return String(value == null ? '' : value).replace(/\\s+/g, ' ').trim().slice(0, 260);\n}\n\nfunction parseSetCookie(cookieLine) {\n  const first = String(cookieLine || '').split(';')[0];\n  const idx = first.indexOf('=');\n  if (idx === -1) return null;\n  return { name: first.slice(0, idx).trim(), value: first.slice(idx + 1).trim() };\n}\n\nfunction extractSetCookies(headers) {\n  const raw = headers?.['set-cookie'] ?? headers?.['Set-Cookie'];\n  if (!raw) return [];\n  return Array.isArray(raw) ? raw : [String(raw)];\n}\n\nconst status = Number(response.statusCode || 0);\nif (!Number.isFinite(status) || status < 200 || status >= 300) {\n  throw new Error(`Login fehlgeschlagen: HTTP ${status}. Antwort: ${shortText(JSON.stringify(response.body ?? ''))}`);\n}\n\nconst jar = {};\nfor (const line of extractSetCookies(response.headers)) {\n  const parsed = parseSetCookie(line);\n  if (parsed) jar[parsed.name] = parsed.value;\n}\n\nconst cookieHeader = Object.entries(jar).map(([name, value]) => `${name}=${value}`).join('; ');\n\nreturn [{ json: { ...cfg, cookieHeader } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9376,
        1648
      ],
      "id": "6d528ae9-0732-49e3-b418-01e48a459aee",
      "name": "Build login session"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.apiBase + '/Account/TwoFactor/Login' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.userAgent }}"
            },
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Cookie",
              "value": "={{ $json.cookieHeader }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ token: $json.token }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9584,
        1648
      ],
      "id": "4c22d1f9-0033-4ee3-9369-db626c29a0b8",
      "name": "Two-factor request"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Build login session').item.json || {};\nconst response = $json || {};\n\nfunction shortText(value) {\n  return String(value == null ? '' : value).replace(/\\s+/g, ' ').trim().slice(0, 260);\n}\n\nfunction parseSetCookie(cookieLine) {\n  const first = String(cookieLine || '').split(';')[0];\n  const idx = first.indexOf('=');\n  if (idx === -1) return null;\n  return { name: first.slice(0, idx).trim(), value: first.slice(idx + 1).trim() };\n}\n\nfunction extractSetCookies(headers) {\n  const raw = headers?.['set-cookie'] ?? headers?.['Set-Cookie'];\n  if (!raw) return [];\n  return Array.isArray(raw) ? raw : [String(raw)];\n}\n\nconst status = Number(response.statusCode || 0);\nif (!Number.isFinite(status) || status < 200 || status >= 300) {\n  throw new Error(`TOTP-Login fehlgeschlagen: HTTP ${status}. Antwort: ${shortText(JSON.stringify(response.body ?? ''))}`);\n}\n\nconst jar = {};\nfor (const chunk of String(cfg.cookieHeader || '').split(';')) {\n  const part = chunk.trim();\n  if (!part) continue;\n  const idx = part.indexOf('=');\n  if (idx === -1) continue;\n  jar[part.slice(0, idx)] = part.slice(idx + 1);\n}\nfor (const line of extractSetCookies(response.headers)) {\n  const parsed = parseSetCookie(line);\n  if (parsed) jar[parsed.name] = parsed.value;\n}\n\nconst cookieHeader = Object.entries(jar).map(([name, value]) => `${name}=${value}`).join('; ');\n\nreturn [{ json: { ...cfg, cookieHeader } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9792,
        1648
      ],
      "id": "dad88b18-d533-4e5d-8be3-976214f671d3",
      "name": "Build authenticated session"
    },
    {
      "parameters": {
        "url": "={{ $json.apiBase + '/Document' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.userAgent }}"
            },
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Cookie",
              "value": "={{ $json.cookieHeader }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10000,
        1648
      ],
      "id": "d18b14c3-4e90-47d3-b346-1120a50551e1",
      "name": "List documents"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Build authenticated session').item.json || {};\nconst response = $json || {};\n\nfunction shortText(value) {\n  return String(value == null ? '' : value).replace(/\\s+/g, ' ').trim().slice(0, 260);\n}\n\nconst status = Number(response.statusCode || 0);\nif (!Number.isFinite(status) || status < 200 || status >= 300) {\n  throw new Error(`Dokumentenliste laden fehlgeschlagen: HTTP ${status}. Antwort: ${shortText(JSON.stringify(response.body ?? ''))}`);\n}\n\nconst rawDocuments = Array.isArray(response.body)\n  ? response.body\n  : Array.isArray(response.body?.data)\n    ? response.body.data\n    : Array.isArray(response.body?.results)\n      ? response.body.results\n      : [];\n\nconst documents = rawDocuments\n  .filter((doc) => doc && doc.itemId != null && doc.documentId != null)\n  .slice()\n  .sort((a, b) => new Date(b?.insertTime || 0).getTime() - new Date(a?.insertTime || 0).getTime());\n\nconst selectedDocuments = cfg.maxDocuments === 0 ? documents : documents.slice(0, cfg.maxDocuments);\n\nif (selectedDocuments.length === 0) {\n  return [{\n    json: {\n      kind: 'noop',\n      ok: true,\n      status: 'nothing_found',\n      action: 'downloadPayslipsToPaperless',\n      message: 'Keine Dokumente gefunden.',\n      totalAvailable: documents.length,\n      unseenAvailable: 0,\n      selectedCount: 0,\n      results: []\n    }\n  }];\n}\n\nreturn selectedDocuments.map((doc) => ({\n  json: {\n    kind: 'document',\n    ok: true,\n    status: 'selected',\n    action: 'downloadPayslipsToPaperless',\n    totalAvailable: documents.length,\n    unseenAvailable: selectedDocuments.length,\n    selectedCount: selectedDocuments.length,\n    email: cfg.email,\n    maxDocuments: cfg.maxDocuments,\n    cookieHeader: cfg.cookieHeader,\n    apiBase: cfg.apiBase,\n    userAgent: cfg.userAgent,\n    itemId: String(doc.itemId),\n    documentId: String(doc.documentId),\n    documentName: doc.name || null,\n    insertTime: doc.insertTime || null,\n    isNew: doc.isNew === true,\n    customFields: Array.isArray(doc.customFields) ? doc.customFields : [],\n    filename: doc.name || null\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10208,
        1648
      ],
      "id": "d52c3eea-6351-4414-920a-b96f358624f0",
      "name": "Select documents"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b028788-243c-47e4-bf87-a54b89c75c77",
              "leftValue": "={{ $json.kind }}",
              "rightValue": "document",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10416,
        1648
      ],
      "id": "efbc2824-7a35-4807-ad35-bc65b7812f0d",
      "name": "If document downloaded"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "Airbus Processed Documents"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "documentId",
              "keyValue": "={{ $json.documentId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        10640,
        1440
      ],
      "id": "36585a2c-6bb3-43e3-820c-068bedb0554f",
      "name": "Filter new documents"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "Airbus Processed Documents"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "documentId",
              "keyValue": "={{ $json.documentId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        10640,
        1632
      ],
      "id": "fe8c183b-44fc-42cb-b31b-bc338b52452a",
      "name": "Filter existing documents"
    },
    {
      "parameters": {
        "url": "={{ $json.apiBase + '/Document/' + encodeURIComponent($json.itemId) + '/' + encodeURIComponent($json.documentId) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.userAgent }}"
            },
            {
              "name": "Accept",
              "value": "application/octet-stream, application/pdf, */*"
            },
            {
              "name": "Cookie",
              "value": "={{ $json.cookieHeader }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10848,
        1440
      ],
      "id": "3eda5e33-3ef2-4184-b882-fb0ac311d194",
      "name": "Download document"
    },
    {
      "parameters": {
        "jsCode": "const source = $('Filter new documents').item.json || {};\nconst response = $json || {};\nconst binary = $binary || {};\n\nfunction shortText(value) {\n  return String(value == null ? '' : value).replace(/\\s+/g, ' ').trim().slice(0, 260);\n}\n\nfunction extractHeader(headers, name) {\n  const wanted = String(name || '').toLowerCase();\n  for (const [key, value] of Object.entries(headers || {})) {\n    if (String(key).toLowerCase() === wanted) return Array.isArray(value) ? value[0] : value;\n  }\n  return '';\n}\n\nfunction safeFilePart(value) {\n  return String(value || '').replace(/[\\/:*?\"<>|]+/g, '-').replace(/\\s+/g, ' ').trim();\n}\n\nfunction filenameFromDisposition(headers) {\n  const contentDisposition = String(extractHeader(headers, 'content-disposition') || '');\n  if (!contentDisposition) return '';\n  const utf8Match = contentDisposition.match(/filename\\*=UTF-8''([^;]+)/i);\n  if (utf8Match) {\n    try {\n      return decodeURIComponent(utf8Match[1]).trim();\n    } catch (error) {\n      return utf8Match[1].trim();\n    }\n  }\n  const plainMatch = contentDisposition.match(/filename=\"?([^\";]+)\"?/i);\n  return plainMatch ? plainMatch[1].trim() : '';\n}\n\nfunction extensionFromMimeType(mimeType) {\n  const normalized = String(mimeType || '').toLowerCase();\n  if (normalized.includes('pdf')) return 'pdf';\n  if (normalized.includes('png')) return 'png';\n  if (normalized.includes('jpeg') || normalized.includes('jpg')) return 'jpg';\n  return 'bin';\n}\n\nfunction fallbackFilename() {\n  const preferredName = safeFilePart(source.documentName || source.filename || '');\n  const contentType = String(extractHeader(response.headers, 'content-type') || '');\n  const ext = extensionFromMimeType(contentType);\n  if (preferredName && /\\.[A-Za-z0-9]{2,5}$/.test(preferredName)) return preferredName;\n  if (preferredName) return `${preferredName}.${ext}`;\n  return `airbus-payslip-${safeFilePart(source.documentId || source.itemId || 'document')}.${ext}`;\n}\n\nconst status = Number(response.statusCode || 0);\nif (!Number.isFinite(status) || status < 200 || status >= 300) {\n  throw new Error(`Dokument ${source.documentId || 'unknown'} herunterladen fehlgeschlagen: HTTP ${status}. Antwort: ${shortText(response.statusMessage || '')}`);\n}\n\nif (!binary.data) {\n  throw new Error(`Dokument ${source.documentId || 'unknown'} wurde ohne Binary-Daten geliefert.`);\n}\n\nconst fileName = filenameFromDisposition(response.headers) || fallbackFilename();\nconst mimeType = String(extractHeader(response.headers, 'content-type') || binary.data.mimeType || 'application/octet-stream').split(';')[0].trim() || 'application/octet-stream';\n\nreturn [{\n  json: {\n    ...source,\n    kind: 'document',\n    ok: true,\n    status: 'downloaded',\n    fileName,\n    filename: fileName\n  },\n  binary: {\n    data: {\n      ...binary.data,\n      fileName,\n      mimeType\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11056,
        1440
      ],
      "id": "69c02d3a-1ac8-4a23-a9c2-40810e52312d",
      "name": "Prepare downloaded document"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VY97ocet0nc0Lkpr",
          "mode": "list",
          "cachedResultUrl": "/workflow/VY97ocet0nc0Lkpr",
          "cachedResultName": "Paperless-ngx - Upload Document"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        11264,
        1440
      ],
      "id": "90e12e3d-e408-41f9-972d-076e0974eb25",
      "name": "Paperless-ngx - Upload Document",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const source = $('Prepare downloaded document').item.json || {};\nconst upload = $json || {};\n\nconst success = upload.isSuccess === true || upload.status === 'success';\n\nreturn [{\n  json: {\n    kind: 'result',\n    ok: success,\n    status: success ? 'uploaded' : 'failed',\n    action: 'downloadPayslipsToPaperless',\n    documentId: source.documentId || null,\n    itemId: source.itemId || null,\n    filename: source.filename || upload.filename || null,\n    documentName: source.documentName || null,\n    insertTime: source.insertTime || null,\n    customFields: source.customFields || [],\n    totalAvailable: source.totalAvailable || 0,\n    unseenAvailable: source.unseenAvailable || 0,\n    selectedCount: source.selectedCount || 0,\n    paperless: upload,\n    errorReason: success ? null : (upload.errorReason || upload.message || 'paperless_upload_failed')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11472,
        1440
      ],
      "id": "69b4e587-96a7-4121-8c29-2e0ca4443fcd",
      "name": "Build upload item result"
    },
    {
      "parameters": {
        "jsCode": "const source = $json || {};\n\nreturn [{\n  json: {\n    kind: 'result',\n    ok: true,\n    status: 'skipped_existing',\n    action: 'downloadPayslipsToPaperless',\n    documentId: source.documentId || null,\n    itemId: source.itemId || null,\n    filename: source.filename || null,\n    documentName: source.documentName || null,\n    insertTime: source.insertTime || null,\n    customFields: source.customFields || [],\n    totalAvailable: source.totalAvailable || 0,\n    unseenAvailable: source.unseenAvailable ?? null,\n    selectedCount: source.selectedCount || 0,\n    paperless: null,\n    errorReason: null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10848,
        1632
      ],
      "id": "0c25e689-b2b0-4aac-a1dd-55598fdbfe7f",
      "name": "Build skipped duplicate result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb2fcc14-06b9-41de-91fd-19fdd0ba0548",
              "leftValue": "={{ $json.status }}",
              "rightValue": "uploaded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        11712,
        1440
      ],
      "id": "1740fe59-0518-4164-8f8c-7eb8cebb9c97",
      "name": "If upload succeeded"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "Airbus Processed Documents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "documentId": "={{ $json.documentId }}",
            "filename": "={{ $json.filename }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        11920,
        1312
      ],
      "id": "c4c2e5b1-0557-4527-a989-a2bd3205c122",
      "name": "Insert processed document"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        11712,
        1616
      ],
      "id": "ed80e7f3-c8e1-43a5-9903-5c432fd7792e",
      "name": "Merge item results"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map((item) => item.json || {});\n\nconst uploadedCount = rows.filter((row) => row.status === 'uploaded').length;\nconst skippedCount = rows.filter((row) => row.status === 'skipped_existing').length;\nconst failedCount = rows.filter((row) => row.status === 'failed').length;\nconst totalAvailable = rows[0]?.totalAvailable || 0;\nconst selectedCount = rows[0]?.selectedCount || rows.length;\nconst newCount = uploadedCount + failedCount;\n\nlet status = 'success';\nlet message = `${uploadedCount} Dokument(e) erfolgreich an Paperless uebergeben.`;\n\nif (failedCount > 0) {\n  status = 'partial_failure';\n  message = `${uploadedCount} Dokument(e) erfolgreich, ${failedCount} fehlgeschlagen.`;\n} else if (uploadedCount === 0 && skippedCount > 0) {\n  status = 'nothing_new';\n  message = `Keine neuen Dokumente. ${skippedCount} Dokument(e) wurden bereits verarbeitet.`;\n} else if (skippedCount > 0) {\n  message = `${uploadedCount} neue Dokument(e) erfolgreich, ${skippedCount} bereits verarbeitet.`;\n}\n\nreturn [{\n  json: {\n    ok: failedCount === 0,\n    status,\n    action: 'downloadPayslipsToPaperless',\n    message,\n    totalAvailable,\n    unseenAvailable: newCount,\n    selectedCount,\n    uploadedCount,\n    skippedCount,\n    failedCount,\n    results: rows.map((row) => ({\n      documentId: row.documentId || null,\n      itemId: row.itemId || null,\n      filename: row.filename || null,\n      status: row.status || null,\n      errorReason: row.errorReason || null\n    }))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11920,
        1616
      ],
      "id": "367a4502-486e-4e6e-addf-a70bcaa18b9a",
      "name": "Build upload summary"
    },
    {
      "parameters": {
        "jsCode": "const data = $json || {};\n\nreturn [{\n  json: {\n    ok: data.ok !== false,\n    status: data.status || data.kind || 'noop',\n    action: data.action || 'downloadPayslipsToPaperless',\n    message: data.message || null,\n    totalAvailable: data.totalAvailable || 0,\n    unseenAvailable: data.unseenAvailable || 0,\n    selectedCount: data.selectedCount || 0,\n    uploadedCount: 0,\n    failedCount: data.ok === false ? 1 : 0,\n    results: Array.isArray(data.results) ? data.results : []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10640,
        1824
      ],
      "id": "b5165ee6-3c39-41be-86fb-1fc9ca2c786e",
      "name": "Return non-document result"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        8144,
        1808
      ],
      "id": "6ff07cb4-3ef5-4d0d-904a-10288f288b43",
      "name": "Execute Workflow Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set workflow config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set workflow config": {
      "main": [
        [
          {
            "node": "Generate TOTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate TOTP": {
      "main": [
        [
          {
            "node": "Validate workflow config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate workflow config": {
      "main": [
        [
          {
            "node": "If config valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login request": {
      "main": [
        [
          {
            "node": "Build login session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build login session": {
      "main": [
        [
          {
            "node": "Two-factor request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Two-factor request": {
      "main": [
        [
          {
            "node": "Build authenticated session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build authenticated session": {
      "main": [
        [
          {
            "node": "List documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List documents": {
      "main": [
        [
          {
            "node": "Select documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select documents": {
      "main": [
        [
          {
            "node": "If document downloaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If document downloaded": {
      "main": [
        [
          {
            "node": "Filter new documents",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter existing documents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return non-document result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter new documents": {
      "main": [
        [
          {
            "node": "Download document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter existing documents": {
      "main": [
        [
          {
            "node": "Build skipped duplicate result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download document": {
      "main": [
        [
          {
            "node": "Prepare downloaded document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare downloaded document": {
      "main": [
        [
          {
            "node": "Paperless-ngx - Upload Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paperless-ngx - Upload Document": {
      "main": [
        [
          {
            "node": "Build upload item result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build upload item result": {
      "main": [
        [
          {
            "node": "If upload succeeded",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge item results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build skipped duplicate result": {
      "main": [
        [
          {
            "node": "Merge item results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If upload succeeded": {
      "main": [
        [
          {
            "node": "Insert processed document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge item results": {
      "main": [
        [
          {
            "node": "Build upload summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If config valid": {
      "main": [
        [
          {
            "node": "Login request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return non-document result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set workflow config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Bin1Me6S1IWNK7e7",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 3
  },
  "versionId": "315e9b4f-397d-409e-a774-d75fd54c696d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "DwMi5ywRbXvxyNVN",
  "tags": [
    {
      "updatedAt": "2026-03-01T07:53:37.792Z",
      "createdAt": "2026-03-01T07:53:37.792Z",
      "id": "26zzfx1aLFPZLhVr",
      "name": "Paperless"
    }
  ]
}