workflows/Airbus - MyPayslip.json
{
  "name": "Airbus - MyPayslip",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        3552,
        1104
      ],
      "id": "71523d94-789c-418d-981b-ae5b0560cd93",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "content": "# Airbus MyPayslip Setup\n\nDieses Workflow nutzt native HTTP-Request-Nodes fuer Login, 2FA, Dokumentenliste und Download und schickt neue Downloads an den Subworkflow **Paperless-ngx - Upload Document**.\n\nKonfiguration im Node **Set workflow config**:\n- `email` ist vorbelegt\n- `maxDocuments`: `1` = neuestes Dokument, `0` = alle Dokumente, `N` = letzte `N` Dokumente\n- `password`: Standardmaessig aus `AIRBUS_MYPAYSLIP_PASSWORD`\n\nTOTP:\n- Im Node **Generate TOTP** ein TOTP-Credential mit deinem Airbus-Secret hinterlegen\n- Der Node erzeugt bei jedem Lauf den aktuellen 6-stelligen Code fuer den 2FA-Login\n\nData Table fuer Dedup:\n- Eine Data Table **Airbus Processed Documents** anlegen\n- Empfohlene Spalten: `documentId` (Text), `filename` (Text)\n- `createdAt` und `updatedAt` kommen bereits als Systemspalten von n8n\n- Bereits vorhandene `documentId`s werden vor dem Download uebersprungen\n",
        "height": 452,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3552,
        608
      ],
      "id": "498793f7-eb54-4822-bef7-7acb4dabdaf0",
      "name": "Setup note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "467a1f8a-b372-4cc7-8aa7-1fbf9996b133",
              "name": "email",
              "value": "julianreith@gmx.de",
              "type": "string"
            },
            {
              "id": "04039bc5-480e-4ac0-96ee-f3d4d85fa5bf",
              "name": "maxDocuments",
              "value": 1,
              "type": "number"
            },
            {
              "id": "2be17707-22db-4d7d-b9e1-f4ad4e258b61",
              "name": "password",
              "value": "={{ $env.AIRBUS_MYPAYSLIP_PASSWORD }}",
              "type": "string"
            },
            {
              "id": "18a3f30d-4e6a-4814-a967-642c3df1f665",
              "name": "baseUrl",
              "value": "https://mypayslip.airbus.com",
              "type": "string"
            },
            {
              "id": "7e9367e6-735b-45fd-8121-9e32ae6ba63d",
              "name": "apiBase",
              "value": "https://mypayslip.airbus.com/api/mobileview2/v1",
              "type": "string"
            },
            {
              "id": "cf0277bd-a44f-445a-860e-c6a2b63f0cc4",
              "name": "userAgent",
              "value": "n8n-airbus-mypayslip/1.0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3760,
        1104
      ],
      "id": "400280cc-d652-4fbe-8055-f02e30b56b29",
      "name": "Set workflow config"
    },
    {
      "parameters": {
        "options": {
          "algorithm": "SHA1",
          "digits": 6,
          "period": 30
        }
      },
      "type": "n8n-nodes-base.totp",
      "typeVersion": 1,
      "position": [
        3968,
        1104
      ],
      "id": "2cec1106-cae4-4b94-996a-67c85ac5b885",
      "name": "Generate TOTP",
      "credentials": {
        "totpApi": {
          "id": "HvaKTHup5TcAVvgu",
          "name": "mypayslip.airbus.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Set workflow config').item.json || {};\nconst totp = $('Generate TOTP').item.json || {};\n\nconst email = typeof cfg.email === 'string' ? cfg.email.trim() : '';\nconst password = typeof cfg.password === 'string' ? cfg.password : '';\nconst token = typeof totp.token === 'string' ? totp.token.trim() : '';\nconst apiBase = typeof cfg.apiBase === 'string' ? cfg.apiBase.replace(/\\/+$/, '') : '';\nconst userAgent = typeof cfg.userAgent === 'string' && cfg.userAgent.trim() ? cfg.userAgent.trim() : 'n8n-airbus-mypayslip/1.0';\n\nlet maxDocuments = Number(cfg.maxDocuments);\nif (!Number.isFinite(maxDocuments)) maxDocuments = NaN;\nif (Number.isFinite(maxDocuments)) maxDocuments = Math.trunc(maxDocuments);\n\nconst errors = [];\nif (!email) errors.push('email fehlt.');\nif (!password) errors.push('password fehlt. Setze AIRBUS_MYPAYSLIP_PASSWORD oder trage den Wert im Set-Node ein.');\nif (!token) errors.push('TOTP-Token fehlt. Konfiguriere den Node Generate TOTP mit einem TOTP-Credential.');\nif (!apiBase) errors.push('apiBase fehlt.');\nif (!Number.isInteger(maxDocuments) || maxDocuments < 0) errors.push('maxDocuments muss eine ganze Zahl >= 0 sein.');\n\nif (errors.length) {\n  return [{\n    json: {\n      kind: 'error',\n      ok: false,\n      status: 'validation_error',\n      action: 'downloadPayslipsToPaperless',\n      message: errors.join(' '),\n      totalAvailable: 0,\n      unseenAvailable: 0,\n      selectedCount: 0,\n      results: []\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    email,\n    password,\n    token,\n    apiBase,\n    userAgent,\n    maxDocuments,\n    action: 'downloadPayslipsToPaperless'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4176,
        1104
      ],
      "id": "77f0c34f-5af3-4abe-a9f9-9850a9a765c4",
      "name": "Validate workflow config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80c0d2ea-a38b-4f9b-b693-df7570db84aa",
              "leftValue": "={{ $json.kind || \"config\" }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4384,
        1104
      ],
      "id": "eb3a3c8c-7423-4319-a762-ff82ed4fb312",
      "name": "If config valid"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.apiBase + '/Account/Login' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.userAgent }}"
            },
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ email: $json.email, password: $json.password }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4576,
        944
      ],
      "id": "8d119b1a-1898-4ea8-b1c4-f714a57c284e",
      "name": "Login request"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Validate workflow config').item.json || {};\nconst response = $json || {};\n\nfunction shortText(value) {\n  return String(value == null ? '' : value).replace(/\\s+/g, ' ').trim().slice(0, 260);\n}\n\nfunction parseSetCookie(cookieLine) {\n  const first = String(cookieLine || '').split(';')[0];\n  const idx = first.indexOf('=');\n  if (idx === -1) return null;\n  return { name: first.slice(0, idx).trim(), value: first.slice(idx + 1).trim() };\n}\n\nfunction extractSetCookies(headers) {\n  const raw = headers?.['set-cookie'] ?? headers?.['Set-Cookie'];\n  if (!raw) return [];\n  return Array.isArray(raw) ? raw : [String(raw)];\n}\n\nconst status = Number(response.statusCode || 0);\nif (!Number.isFinite(status) || status < 200 || status >= 300) {\n  throw new Error(`Login fehlgeschlagen: HTTP ${status}. Antwort: ${shortText(JSON.stringify(response.body ?? ''))}`);\n}\n\nconst jar = {};\nfor (const line of extractSetCookies(response.headers)) {\n  const parsed = parseSetCookie(line);\n  if (parsed) jar[parsed.name] = parsed.value;\n}\n\nconst cookieHeader = Object.entries(jar).map(([name, value]) => `${name}=${value}`).join('; ');\n\nreturn [{ json: { ...cfg, cookieHeader } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4784,
        944
      ],
      "id": "86a58220-d367-4010-9506-050e00c8e9b9",
      "name": "Build login session"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.apiBase + '/Account/TwoFactor/Login' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.userAgent }}"
            },
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Cookie",
              "value": "={{ $json.cookieHeader }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ token: $json.token }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4992,
        944
      ],
      "id": "4ba3e71a-b5b5-4d5a-acf1-f9d9de838508",
      "name": "Two-factor request"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Build login session').item.json || {};\nconst response = $json || {};\n\nfunction shortText(value) {\n  return String(value == null ? '' : value).replace(/\\s+/g, ' ').trim().slice(0, 260);\n}\n\nfunction parseSetCookie(cookieLine) {\n  const first = String(cookieLine || '').split(';')[0];\n  const idx = first.indexOf('=');\n  if (idx === -1) return null;\n  return { name: first.slice(0, idx).trim(), value: first.slice(idx + 1).trim() };\n}\n\nfunction extractSetCookies(headers) {\n  const raw = headers?.['set-cookie'] ?? headers?.['Set-Cookie'];\n  if (!raw) return [];\n  return Array.isArray(raw) ? raw : [String(raw)];\n}\n\nconst status = Number(response.statusCode || 0);\nif (!Number.isFinite(status) || status < 200 || status >= 300) {\n  throw new Error(`TOTP-Login fehlgeschlagen: HTTP ${status}. Antwort: ${shortText(JSON.stringify(response.body ?? ''))}`);\n}\n\nconst jar = {};\nfor (const chunk of String(cfg.cookieHeader || '').split(';')) {\n  const part = chunk.trim();\n  if (!part) continue;\n  const idx = part.indexOf('=');\n  if (idx === -1) continue;\n  jar[part.slice(0, idx)] = part.slice(idx + 1);\n}\nfor (const line of extractSetCookies(response.headers)) {\n  const parsed = parseSetCookie(line);\n  if (parsed) jar[parsed.name] = parsed.value;\n}\n\nconst cookieHeader = Object.entries(jar).map(([name, value]) => `${name}=${value}`).join('; ');\n\nreturn [{ json: { ...cfg, cookieHeader } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5200,
        944
      ],
      "id": "c674b1b6-cc04-4b86-9d73-83a5b194c72c",
      "name": "Build authenticated session"
    },
    {
      "parameters": {
        "url": "={{ $json.apiBase + '/Document' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.userAgent }}"
            },
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Cookie",
              "value": "={{ $json.cookieHeader }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5408,
        944
      ],
      "id": "864326a4-be55-4719-ac29-f5f17034718a",
      "name": "List documents"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Build authenticated session').item.json || {};\nconst response = $json || {};\n\nfunction shortText(value) {\n  return String(value == null ? '' : value).replace(/\\s+/g, ' ').trim().slice(0, 260);\n}\n\nconst status = Number(response.statusCode || 0);\nif (!Number.isFinite(status) || status < 200 || status >= 300) {\n  throw new Error(`Dokumentenliste laden fehlgeschlagen: HTTP ${status}. Antwort: ${shortText(JSON.stringify(response.body ?? ''))}`);\n}\n\nconst rawDocuments = Array.isArray(response.body)\n  ? response.body\n  : Array.isArray(response.body?.data)\n    ? response.body.data\n    : Array.isArray(response.body?.results)\n      ? response.body.results\n      : [];\n\nconst documents = rawDocuments\n  .filter((doc) => doc && doc.itemId != null && doc.documentId != null)\n  .slice()\n  .sort((a, b) => new Date(b?.insertTime || 0).getTime() - new Date(a?.insertTime || 0).getTime());\n\nconst selectedDocuments = cfg.maxDocuments === 0 ? documents : documents.slice(0, cfg.maxDocuments);\n\nif (selectedDocuments.length === 0) {\n  return [{\n    json: {\n      kind: 'noop',\n      ok: true,\n      status: 'nothing_found',\n      action: 'downloadPayslipsToPaperless',\n      message: 'Keine Dokumente gefunden.',\n      totalAvailable: documents.length,\n      unseenAvailable: 0,\n      selectedCount: 0,\n      results: []\n    }\n  }];\n}\n\nreturn selectedDocuments.map((doc) => ({\n  json: {\n    kind: 'document',\n    ok: true,\n    status: 'selected',\n    action: 'downloadPayslipsToPaperless',\n    totalAvailable: documents.length,\n    unseenAvailable: selectedDocuments.length,\n    selectedCount: selectedDocuments.length,\n    email: cfg.email,\n    maxDocuments: cfg.maxDocuments,\n    cookieHeader: cfg.cookieHeader,\n    apiBase: cfg.apiBase,\n    userAgent: cfg.userAgent,\n    itemId: String(doc.itemId),\n    documentId: String(doc.documentId),\n    documentName: doc.name || null,\n    insertTime: doc.insertTime || null,\n    isNew: doc.isNew === true,\n    customFields: Array.isArray(doc.customFields) ? doc.customFields : [],\n    filename: doc.name || null\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5616,
        944
      ],
      "id": "d1bdb0c7-64b6-40af-be6a-8e6ca4733134",
      "name": "Select documents"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b028788-243c-47e4-bf87-a54b89c75c77",
              "leftValue": "={{ $json.kind }}",
              "rightValue": "document",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5824,
        944
      ],
      "id": "0d12885e-f656-4561-abcb-06328c8a7c3f",
      "name": "If document downloaded"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "Airbus Processed Documents"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "documentId",
              "keyValue": "={{ $json.documentId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6048,
        736
      ],
      "id": "72e1432e-89bd-49e7-8a4e-fa27a764b62e",
      "name": "Filter new documents"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "Airbus Processed Documents"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "documentId",
              "keyValue": "={{ $json.documentId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6048,
        928
      ],
      "id": "3d4c982f-2026-4906-a0f1-d4441eb76b7d",
      "name": "Filter existing documents"
    },
    {
      "parameters": {
        "url": "={{ $json.apiBase + '/Document/' + encodeURIComponent($json.itemId) + '/' + encodeURIComponent($json.documentId) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.userAgent }}"
            },
            {
              "name": "Accept",
              "value": "application/octet-stream, application/pdf, */*"
            },
            {
              "name": "Cookie",
              "value": "={{ $json.cookieHeader }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6256,
        736
      ],
      "id": "ea22cb4a-1fc3-4cba-8f90-08cac1788cd9",
      "name": "Download document"
    },
    {
      "parameters": {
        "jsCode": "const source = $('Filter new documents').item.json || {};\nconst response = $json || {};\nconst binary = $binary || {};\n\nfunction shortText(value) {\n  return String(value == null ? '' : value).replace(/\\s+/g, ' ').trim().slice(0, 260);\n}\n\nfunction extractHeader(headers, name) {\n  const wanted = String(name || '').toLowerCase();\n  for (const [key, value] of Object.entries(headers || {})) {\n    if (String(key).toLowerCase() === wanted) return Array.isArray(value) ? value[0] : value;\n  }\n  return '';\n}\n\nfunction safeFilePart(value) {\n  return String(value || '').replace(/[\\/:*?\"<>|]+/g, '-').replace(/\\s+/g, ' ').trim();\n}\n\nfunction filenameFromDisposition(headers) {\n  const contentDisposition = String(extractHeader(headers, 'content-disposition') || '');\n  if (!contentDisposition) return '';\n  const utf8Match = contentDisposition.match(/filename\\*=UTF-8''([^;]+)/i);\n  if (utf8Match) {\n    try {\n      return decodeURIComponent(utf8Match[1]).trim();\n    } catch (error) {\n      return utf8Match[1].trim();\n    }\n  }\n  const plainMatch = contentDisposition.match(/filename=\"?([^\";]+)\"?/i);\n  return plainMatch ? plainMatch[1].trim() : '';\n}\n\nfunction extensionFromMimeType(mimeType) {\n  const normalized = String(mimeType || '').toLowerCase();\n  if (normalized.includes('pdf')) return 'pdf';\n  if (normalized.includes('png')) return 'png';\n  if (normalized.includes('jpeg') || normalized.includes('jpg')) return 'jpg';\n  return 'bin';\n}\n\nfunction fallbackFilename() {\n  const preferredName = safeFilePart(source.documentName || source.filename || '');\n  const contentType = String(extractHeader(response.headers, 'content-type') || '');\n  const ext = extensionFromMimeType(contentType);\n  if (preferredName && /\\.[A-Za-z0-9]{2,5}$/.test(preferredName)) return preferredName;\n  if (preferredName) return `${preferredName}.${ext}`;\n  return `airbus-payslip-${safeFilePart(source.documentId || source.itemId || 'document')}.${ext}`;\n}\n\nconst status = Number(response.statusCode || 0);\nif (!Number.isFinite(status) || status < 200 || status >= 300) {\n  throw new Error(`Dokument ${source.documentId || 'unknown'} herunterladen fehlgeschlagen: HTTP ${status}. Antwort: ${shortText(response.statusMessage || '')}`);\n}\n\nif (!binary.data) {\n  throw new Error(`Dokument ${source.documentId || 'unknown'} wurde ohne Binary-Daten geliefert.`);\n}\n\nconst fileName = filenameFromDisposition(response.headers) || fallbackFilename();\nconst mimeType = String(extractHeader(response.headers, 'content-type') || binary.data.mimeType || 'application/octet-stream').split(';')[0].trim() || 'application/octet-stream';\n\nreturn [{\n  json: {\n    ...source,\n    kind: 'document',\n    ok: true,\n    status: 'downloaded',\n    fileName,\n    filename: fileName\n  },\n  binary: {\n    data: {\n      ...binary.data,\n      fileName,\n      mimeType\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6464,
        736
      ],
      "id": "33ec4e26-2d50-456f-87f5-68106aa91d16",
      "name": "Prepare downloaded document"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VY97ocet0nc0Lkpr",
          "mode": "list",
          "cachedResultUrl": "/workflow/VY97ocet0nc0Lkpr",
          "cachedResultName": "Paperless-ngx - Upload Document"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        6672,
        736
      ],
      "id": "5fab42b9-55ff-4916-96b3-b2538768a634",
      "name": "Paperless-ngx - Upload Document",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const source = $('Prepare downloaded document').item.json || {};\nconst upload = $json || {};\n\nconst success = upload.isSuccess === true || upload.status === 'success';\n\nreturn [{\n  json: {\n    kind: 'result',\n    ok: success,\n    status: success ? 'uploaded' : 'failed',\n    action: 'downloadPayslipsToPaperless',\n    documentId: source.documentId || null,\n    itemId: source.itemId || null,\n    filename: source.filename || upload.filename || null,\n    documentName: source.documentName || null,\n    insertTime: source.insertTime || null,\n    customFields: source.customFields || [],\n    totalAvailable: source.totalAvailable || 0,\n    unseenAvailable: source.unseenAvailable || 0,\n    selectedCount: source.selectedCount || 0,\n    paperless: upload,\n    errorReason: success ? null : (upload.errorReason || upload.message || 'paperless_upload_failed')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6880,
        736
      ],
      "id": "0bc6bd92-f9c3-4bc6-b623-17445a73300b",
      "name": "Build upload item result"
    },
    {
      "parameters": {
        "jsCode": "const source = $json || {};\n\nreturn [{\n  json: {\n    kind: 'result',\n    ok: true,\n    status: 'skipped_existing',\n    action: 'downloadPayslipsToPaperless',\n    documentId: source.documentId || null,\n    itemId: source.itemId || null,\n    filename: source.filename || null,\n    documentName: source.documentName || null,\n    insertTime: source.insertTime || null,\n    customFields: source.customFields || [],\n    totalAvailable: source.totalAvailable || 0,\n    unseenAvailable: source.unseenAvailable ?? null,\n    selectedCount: source.selectedCount || 0,\n    paperless: null,\n    errorReason: null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6256,
        928
      ],
      "id": "623f8145-1f54-40b1-a14b-095b8ff6d13a",
      "name": "Build skipped duplicate result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb2fcc14-06b9-41de-91fd-19fdd0ba0548",
              "leftValue": "={{ $json.status }}",
              "rightValue": "uploaded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7120,
        736
      ],
      "id": "b2763a7e-41f1-425f-a069-5c50d8beede6",
      "name": "If upload succeeded"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "Airbus Processed Documents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "documentId": "={{ $json.documentId }}",
            "filename": "={{ $json.filename }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        7328,
        608
      ],
      "id": "c0451c00-e000-40fc-9ec4-5dad14a6f454",
      "name": "Insert processed document"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        7120,
        912
      ],
      "id": "d7876ff2-b227-49d7-bb70-a68e1c655251",
      "name": "Merge item results"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map((item) => item.json || {});\n\nconst uploadedCount = rows.filter((row) => row.status === 'uploaded').length;\nconst skippedCount = rows.filter((row) => row.status === 'skipped_existing').length;\nconst failedCount = rows.filter((row) => row.status === 'failed').length;\nconst totalAvailable = rows[0]?.totalAvailable || 0;\nconst selectedCount = rows[0]?.selectedCount || rows.length;\nconst newCount = uploadedCount + failedCount;\n\nlet status = 'success';\nlet message = `${uploadedCount} Dokument(e) erfolgreich an Paperless uebergeben.`;\n\nif (failedCount > 0) {\n  status = 'partial_failure';\n  message = `${uploadedCount} Dokument(e) erfolgreich, ${failedCount} fehlgeschlagen.`;\n} else if (uploadedCount === 0 && skippedCount > 0) {\n  status = 'nothing_new';\n  message = `Keine neuen Dokumente. ${skippedCount} Dokument(e) wurden bereits verarbeitet.`;\n} else if (skippedCount > 0) {\n  message = `${uploadedCount} neue Dokument(e) erfolgreich, ${skippedCount} bereits verarbeitet.`;\n}\n\nreturn [{\n  json: {\n    ok: failedCount === 0,\n    status,\n    action: 'downloadPayslipsToPaperless',\n    message,\n    totalAvailable,\n    unseenAvailable: newCount,\n    selectedCount,\n    uploadedCount,\n    skippedCount,\n    failedCount,\n    results: rows.map((row) => ({\n      documentId: row.documentId || null,\n      itemId: row.itemId || null,\n      filename: row.filename || null,\n      status: row.status || null,\n      errorReason: row.errorReason || null\n    }))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7328,
        912
      ],
      "id": "b7455a92-793b-4d39-9b2d-b75a3390a096",
      "name": "Build upload summary"
    },
    {
      "parameters": {
        "jsCode": "const data = $json || {};\n\nreturn [{\n  json: {\n    ok: data.ok !== false,\n    status: data.status || data.kind || 'noop',\n    action: data.action || 'downloadPayslipsToPaperless',\n    message: data.message || null,\n    totalAvailable: data.totalAvailable || 0,\n    unseenAvailable: data.unseenAvailable || 0,\n    selectedCount: data.selectedCount || 0,\n    uploadedCount: 0,\n    failedCount: data.ok === false ? 1 : 0,\n    results: Array.isArray(data.results) ? data.results : []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6048,
        1120
      ],
      "id": "499fd0e0-47a1-4e74-9568-ba43aa9f63e7",
      "name": "Return non-document result"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set workflow config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set workflow config": {
      "main": [
        [
          {
            "node": "Generate TOTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate TOTP": {
      "main": [
        [
          {
            "node": "Validate workflow config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate workflow config": {
      "main": [
        [
          {
            "node": "If config valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login request": {
      "main": [
        [
          {
            "node": "Build login session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build login session": {
      "main": [
        [
          {
            "node": "Two-factor request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Two-factor request": {
      "main": [
        [
          {
            "node": "Build authenticated session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build authenticated session": {
      "main": [
        [
          {
            "node": "List documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List documents": {
      "main": [
        [
          {
            "node": "Select documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select documents": {
      "main": [
        [
          {
            "node": "If document downloaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If document downloaded": {
      "main": [
        [
          {
            "node": "Filter new documents",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter existing documents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return non-document result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter new documents": {
      "main": [
        [
          {
            "node": "Download document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter existing documents": {
      "main": [
        [
          {
            "node": "Build skipped duplicate result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download document": {
      "main": [
        [
          {
            "node": "Prepare downloaded document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare downloaded document": {
      "main": [
        [
          {
            "node": "Paperless-ngx - Upload Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paperless-ngx - Upload Document": {
      "main": [
        [
          {
            "node": "Build upload item result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build upload item result": {
      "main": [
        [
          {
            "node": "If upload succeeded",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge item results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build skipped duplicate result": {
      "main": [
        [
          {
            "node": "Merge item results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If upload succeeded": {
      "main": [
        [
          {
            "node": "Insert processed document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge item results": {
      "main": [
        [
          {
            "node": "Build upload summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If config valid": {
      "main": [
        [
          {
            "node": "Login request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return non-document result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Bin1Me6S1IWNK7e7",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 3
  },
  "versionId": "03649a78-e701-4c6b-a3a6-1098219a3d98",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "DwMi5ywRbXvxyNVN",
  "tags": [
    {
      "updatedAt": "2026-03-01T07:53:37.792Z",
      "createdAt": "2026-03-01T07:53:37.792Z",
      "id": "26zzfx1aLFPZLhVr",
      "name": "Paperless"
    }
  ]
}