workflows/Daily News - Generate Website.json
{
  "name": "Daily News - Generate Website",
  "nodes": [
    {
      "parameters": {
        "content": "# Daily News - Generate Website\n\n- Erstellt taeglich eine HTML-Newsseite aus RSS/Atom\n- Sendet nur Link per Signal: [Daily News] + URL\n- Verwende ein eigenes Postgres-Credential auf DB/User \"n8n-data\"\n\npgAdmin Setup (ohne SQL im Workflow):\n1) In pgAdmin eine DB \"n8n-data\" mit Owner/User \"n8n-data\" anlegen\n2) Beim DB-Template \"template1\" verwenden\n3) In dieser DB die Tabelle \"public.daily_news\" mit den Spalten page_id, token, html_base64, created_at, expires_at anlegen\n4) Im n8n Postgres-Credential SSL/TLS deaktivieren (nicht nur \"insecure\")\n5) Dieses DB-Credential in beiden Daily-News-Workflows hinterlegen",
        "height": 336,
        "width": 728
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        464
      ],
      "id": "d2bd7f7b-4f2a-4776-a472-caeea16ad495",
      "name": "Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        864,
        1024
      ],
      "id": "7b80b5f8-7656-4175-b29a-7e8c0d0ac44c",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        864,
        832
      ],
      "id": "7146800f-6813-43bb-8f20-9ce4267180b3",
      "name": "Daily 07:00"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb3d8104-f7ea-47cd-8fd3-5f7d6ab2a173",
              "name": "publicBaseUrl",
              "value": "https://n8n.3x3cut0r.de/webhook/d1f6e8ab-0efb-4d42-87f5-8068f7428f7b",
              "type": "string"
            },
            {
              "id": "f474cb48-b7e0-441d-b4db-cdc751696fbb",
              "name": "websitePath",
              "value": "daily-news-show",
              "type": "string"
            },
            {
              "id": "387b6279-6e00-47f1-8a93-fad570863aca",
              "name": "ttlHours",
              "value": 48,
              "type": "number"
            },
            {
              "id": "2f1cc8ce-20e8-4123-b0c5-da33ee417146",
              "name": "lookbackHours",
              "value": 36,
              "type": "number"
            },
            {
              "id": "ae5f5108-13c7-474a-b0b8-be5f47d35b5d",
              "name": "summaryMaxChars",
              "value": 380,
              "type": "number"
            },
            {
              "id": "507b141d-95da-41c0-b709-e7f3cf3b944d",
              "name": "maxRegional",
              "value": 4,
              "type": "number"
            },
            {
              "id": "4f39279b-d583-4870-9b24-f6f65083d95f",
              "name": "maxPolitics",
              "value": 4,
              "type": "number"
            },
            {
              "id": "9266035d-3e8f-42c4-a78a-4adf5a87c53f",
              "name": "maxTech",
              "value": 3,
              "type": "number"
            },
            {
              "id": "ecf4d922-a6b5-4dfa-9ec4-56467e46cd9b",
              "name": "maxEconomy",
              "value": 3,
              "type": "number"
            },
            {
              "id": "3e3b5ce6-835c-45a1-b5c5-c2e4cb2b2f2f",
              "name": "maxTraffic",
              "value": 2,
              "type": "number"
            },
            {
              "id": "4b30091e-f2c5-4ed2-ba57-c9315d181dca",
              "name": "maxWarnings",
              "value": 2,
              "type": "number"
            },
            {
              "id": "72ecb7ad-0bfd-4b2a-b55d-8fd58f16652e",
              "name": "maxEnergy",
              "value": 2,
              "type": "number"
            },
            {
              "id": "40ff76af-d7f8-40f6-9549-34d19f6f0f52",
              "name": "maxAi",
              "value": 2,
              "type": "number"
            },
            {
              "id": "e6d2891a-5a00-420c-a49d-c9964452bb8a",
              "name": "topicOrderJson",
              "value": "[\"regional\",\"politics\",\"tech\",\"economy\",\"traffic\",\"warnings\",\"energy\",\"ai\"]",
              "type": "string"
            },
            {
              "id": "f1c64b75-2a40-415a-a2d7-1b4f0af5a89f",
              "name": "sectionConfigJson",
              "value": "[{\"key\":\"regional\",\"title\":\"📍 Regionales (Ulm, Dornstadt)\"},{\"key\":\"politics\",\"title\":\"🏛️ Politik\"},{\"key\":\"tech\",\"title\":\"💻 Tech\"},{\"key\":\"economy\",\"title\":\"📈 Wirtschaft & Maerkte\"},{\"key\":\"traffic\",\"title\":\"🚦 Verkehr & Infrastruktur\"},{\"key\":\"warnings\",\"title\":\"⚠️ Warnlagen\"},{\"key\":\"energy\",\"title\":\"⚡ Energie & Verbraucher\"},{\"key\":\"ai\",\"title\":\"🤖 KI & Automation\"}]",
              "type": "string"
            },
            {
              "id": "5a1fed35-6ab0-43e0-a1de-3413750d2067",
              "name": "germanFocusRegex",
              "value": "(deutschland|berlin|bundesregierung|bundestag|europa|eu|nrw|bayern|baden-wuerttemberg|baden-württemberg|ulm|dornstadt|hamburg|muenchen|münchen|frankfurt)",
              "type": "string"
            },
            {
              "id": "e2580ef8-a9c3-4cd0-9c7f-b08354fca4cc",
              "name": "sourcesJson",
              "value": "[{\"sourceId\":\"rss_google_ulm\",\"label\":\"Google News Ulm\",\"type\":\"rss\",\"topic\":\"regional\",\"url\":\"https://news.google.com/rss/search?q=Ulm%20OR%20Dornstadt&hl=de&gl=DE&ceid=DE:de\"},{\"sourceId\":\"rss_google_dornstadt\",\"label\":\"Google News Dornstadt\",\"type\":\"rss\",\"topic\":\"regional\",\"url\":\"https://news.google.com/rss/search?q=Dornstadt%20OR%20Ulm&hl=de&gl=DE&ceid=DE:de\"},{\"sourceId\":\"rss_tagesschau_de\",\"label\":\"Tagesschau\",\"type\":\"rss\",\"topic\":\"politics\",\"url\":\"https://www.tagesschau.de/infoservices/alle-meldungen-100~rss2.xml\"},{\"sourceId\":\"rss_google_tech_de\",\"label\":\"Google News Tech\",\"type\":\"rss\",\"topic\":\"tech\",\"url\":\"https://news.google.com/rss/search?q=Technologie%20OR%20Digitalisierung%20OR%20IT%20Deutschland&hl=de&gl=DE&ceid=DE:de\"},{\"sourceId\":\"rss_google_economy_de\",\"label\":\"Google News Wirtschaft\",\"type\":\"rss\",\"topic\":\"economy\",\"url\":\"https://news.google.com/rss/search?q=Wirtschaft%20OR%20Boerse%20OR%20Inflation%20Deutschland&hl=de&gl=DE&ceid=DE:de\"},{\"sourceId\":\"rss_google_traffic_ulm\",\"label\":\"Google News Verkehr\",\"type\":\"rss\",\"topic\":\"traffic\",\"url\":\"https://news.google.com/rss/search?q=Verkehr%20Ulm%20OR%20A8%20OR%20B10%20OR%20OePNV%20Ulm&hl=de&gl=DE&ceid=DE:de\"},{\"sourceId\":\"rss_google_warnings_bw\",\"label\":\"Google News Warnlagen\",\"type\":\"rss\",\"topic\":\"warnings\",\"url\":\"https://news.google.com/rss/search?q=Unwetter%20Baden-Wuerttemberg%20OR%20Polizeieinsatz%20Ulm%20OR%20Katastrophenschutz&hl=de&gl=DE&ceid=DE:de\"},{\"sourceId\":\"rss_google_energy_de\",\"label\":\"Google News Energie\",\"type\":\"rss\",\"topic\":\"energy\",\"url\":\"https://news.google.com/rss/search?q=Strompreis%20OR%20Gaspreis%20OR%20Energie%20Deutschland&hl=de&gl=DE&ceid=DE:de\"},{\"sourceId\":\"rss_google_ai_de\",\"label\":\"Google News KI\",\"type\":\"rss\",\"topic\":\"ai\",\"url\":\"https://news.google.com/rss/search?q=KI%20OR%20Automation%20OR%20AI%20Regulation%20Deutschland&hl=de&gl=DE&ceid=DE:de\"}]",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        832
      ],
      "id": "a220a661-0c3b-44e3-ad1c-8274f8dd5b04",
      "name": "Set Config"
    },
    {
      "parameters": {
        "jsCode": "const parseJson = (value, fallback) => {\n  try {\n    const parsed = JSON.parse(String(value || '').trim());\n    return parsed ?? fallback;\n  } catch {\n    return fallback;\n  }\n};\n\nconst item = $input.first().json;\nconst sources = parseJson(item.sourcesJson, []);\nconst config = {\n  publicBaseUrl: String(item.publicBaseUrl || '').replace(/\\/+$/, ''),\n  websitePath: String(item.websitePath || 'daily-news-show').replace(/^\\/+/, ''),\n  ttlHours: Number(item.ttlHours || 48),\n  lookbackHours: Number(item.lookbackHours || 36),\n  summaryMaxChars: Number(item.summaryMaxChars || 380),\n  maxByTopic: {\n    regional: Number(item.maxRegional || 4),\n    politics: Number(item.maxPolitics || 4),\n    tech: Number(item.maxTech || 3),\n    economy: Number(item.maxEconomy || 3),\n    traffic: Number(item.maxTraffic || 2),\n    warnings: Number(item.maxWarnings || 2),\n    energy: Number(item.maxEnergy || 2),\n    ai: Number(item.maxAi || 2)\n  },\n  topicOrder: parseJson(item.topicOrderJson, ['regional', 'politics', 'tech', 'economy', 'traffic', 'warnings', 'energy', 'ai']),\n  sectionConfig: parseJson(item.sectionConfigJson, []),\n  germanFocusRegex: String(item.germanFocusRegex || '(deutschland|europa|ulm|dornstadt)')\n};\n\nreturn (Array.isArray(sources) ? sources : [])\n  .filter((s) => s && typeof s === 'object')\n  .filter((s) => String(s.type || '').toLowerCase() === 'rss')\n  .filter((s) => typeof s.url === 'string' && s.url.trim())\n  .map((source) => ({\n    json: {\n      source: {\n        sourceId: String(source.sourceId || 'unknown'),\n        label: String(source.label || 'Quelle'),\n        topic: String(source.topic || 'general'),\n        type: 'rss',\n        url: String(source.url).trim()\n      },\n      config\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        832
      ],
      "id": "d5125100-7347-4bed-a8e4-b8ac3bd9d3a0",
      "name": "Split Sources"
    },
    {
      "parameters": {
        "url": "={{ $json.source.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        832
      ],
      "id": "c40d8bb1-f257-4767-8593-2041ec60fc0c",
      "name": "HTTP Request Feed",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const src = $('Split Sources').item.json.source || {};\nconst config = $('Split Sources').item.json.config || {};\n\nif ($json.error || $json.message) {\n  return {\n    json: {\n      config,\n      sourceResult: {\n        sourceId: src.sourceId || 'unknown',\n        label: src.label || 'Unknown source',\n        topic: src.topic || 'general',\n        status: 'error',\n        error: String($json.message || $json.error || 'HTTP error'),\n        items: []\n      }\n    }\n  };\n}\n\nconst raw = typeof $json === 'string' ? $json : String($json.data || $json.body || $json.response || '');\n\nconst decode = (text) => String(text || '')\n  .replace(/<!\\[CDATA\\[(.*?)\\]\\]>/gs, '$1')\n  .replace(/<[^>]*>/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&quot;/g, '\"')\n  .replace(/&#39;/g, String.fromCharCode(39))\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst getTag = (block, tag) => {\n  const escaped = tag.replace(':', '\\\\:');\n  const match = block.match(new RegExp(`<${escaped}[^>]*>([\\\\s\\\\S]*?)<\\/${escaped}>`, 'i'));\n  return decode((match || [])[1] || '');\n};\n\nconst items = [];\n\nconst rssRegex = /<item>([\\s\\S]*?)<\\/item>/gi;\nlet m;\nwhile ((m = rssRegex.exec(raw)) !== null) {\n  const block = m[1];\n  const title = getTag(block, 'title');\n  const url = getTag(block, 'link');\n  const publishedRaw = getTag(block, 'pubDate') || getTag(block, 'dc:date');\n  const summary = getTag(block, 'description') || getTag(block, 'content:encoded');\n  if (!title || !url) continue;\n  const ts = publishedRaw ? Date.parse(publishedRaw) : NaN;\n  items.push({\n    title,\n    url,\n    summary,\n    sourceId: src.sourceId || 'unknown',\n    source: src.label || 'Quelle',\n    topic: src.topic || 'general',\n    publishedAt: Number.isFinite(ts) ? new Date(ts).toISOString() : null\n  });\n}\n\nconst atomRegex = /<entry[\\s\\S]*?>([\\s\\S]*?)<\\/entry>/gi;\nwhile ((m = atomRegex.exec(raw)) !== null) {\n  const block = m[1];\n  const title = getTag(block, 'title');\n  const linkMatch = block.match(/<link[^>]*href=\"([^\"]+)\"[^>]*>/i) || block.match(/<link[^>]*href='([^']+)'[^>]*>/i);\n  const url = decode((linkMatch || [])[1] || getTag(block, 'link'));\n  const publishedRaw = getTag(block, 'updated') || getTag(block, 'published');\n  const summary = getTag(block, 'summary') || getTag(block, 'content');\n  if (!title || !url) continue;\n  const ts = publishedRaw ? Date.parse(publishedRaw) : NaN;\n  items.push({\n    title,\n    url,\n    summary,\n    sourceId: src.sourceId || 'unknown',\n    source: src.label || 'Quelle',\n    topic: src.topic || 'general',\n    publishedAt: Number.isFinite(ts) ? new Date(ts).toISOString() : null\n  });\n}\n\nreturn {\n  json: {\n    config,\n    sourceResult: {\n      sourceId: src.sourceId || 'unknown',\n      label: src.label || 'Unknown source',\n      topic: src.topic || 'general',\n      status: 'ok',\n      error: null,\n      items\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        816
      ],
      "id": "b6b51f14-c345-4a50-b169-bcf639f06fc0",
      "name": "Normalize Feed Response"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map((i) => i.json || {});\nconst cfg = rows[0]?.config || {};\nconst sourceResults = rows.map((r) => r.sourceResult).filter(Boolean);\n\nconst now = Date.now();\nconst lookbackHours = Math.max(1, Number(cfg.lookbackHours || 36));\nconst minTs = now - lookbackHours * 3600 * 1000;\nconst maxByTopic = cfg.maxByTopic || {};\n\nconst toPlain = (s) => String(s || '').replace(/\\s+/g, ' ').trim();\nconst normalize = (s) => toPlain(s).toLowerCase().replace(/https?:\\/\\/[^\\s]+/g, '').replace(/[^a-z0-9\\u00e4\\u00f6\\u00fc\\u00df\\s]/g, ' ').replace(/\\s+/g, ' ').trim();\nconst germanRegex = new RegExp(String(cfg.germanFocusRegex || '(deutschland|europa|ulm|dornstadt)'), 'i');\nconst badTitle = /(dpa-meldungen|ad hoc|börse express|boerse express|\\+\\+\\+|ticker|liveblog)/i;\n\nconst all = [];\nfor (const sr of sourceResults) {\n  const items = Array.isArray(sr.items) ? sr.items : [];\n  for (const it of items) {\n    const title = toPlain(it.title);\n    const url = toPlain(it.url);\n    if (!title || !url) continue;\n    const summary = toPlain(it.summary);\n    const publishedTs = it.publishedAt ? Date.parse(it.publishedAt) : NaN;\n    if (Number.isFinite(publishedTs) && publishedTs < minTs) continue;\n    if (badTitle.test(title)) continue;\n    all.push({\n      title,\n      url,\n      summary,\n      source: toPlain(it.source),\n      topic: toPlain(it.topic || 'general'),\n      publishedTs: Number.isFinite(publishedTs) ? publishedTs : 0\n    });\n  }\n}\n\nconst dedup = [];\nconst seen = new Set();\nfor (const item of all) {\n  const key = `${item.url}|${normalize(item.title)}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  dedup.push(item);\n}\n\nconst scoreItem = (item) => {\n  let score = 0;\n  if (item.publishedTs > 0) {\n    const ageH = (now - item.publishedTs) / 3600000;\n    score += Math.max(0, 48 - ageH);\n  }\n  if (germanRegex.test(`${item.title} ${item.summary}`)) score += 25;\n  if (item.topic === 'regional') score += 20;\n  if (item.topic === 'politics') score += 14;\n  if (item.topic === 'tech') score += 10;\n  if (item.summary.length > 120) score += 4;\n  if (item.title.length < 20) score -= 6;\n  return score;\n};\n\nconst scored = dedup\n  .map((item) => ({ ...item, score: scoreItem(item) }))\n  .sort((a, b) => (b.score - a.score) || (b.publishedTs - a.publishedTs));\n\nconst headline = scored[0] || null;\nconst headlineKey = headline ? `${headline.url}|${normalize(headline.title)}` : '';\n\nconst byTopic = {\n  regional: [],\n  politics: [],\n  tech: [],\n  economy: [],\n  traffic: [],\n  warnings: [],\n  energy: [],\n  ai: []\n};\n\nfor (const item of scored) {\n  const key = `${item.url}|${normalize(item.title)}`;\n  if (headlineKey && key === headlineKey) continue;\n  if (byTopic[item.topic]) byTopic[item.topic].push(item);\n}\n\nconst take = (arr, n) => arr.slice(0, Math.max(0, Number(n || 0)));\nconst selected = {\n  headline,\n  regional: take(byTopic.regional, maxByTopic.regional ?? 4),\n  politics: take(byTopic.politics, maxByTopic.politics ?? 4),\n  tech: take(byTopic.tech, maxByTopic.tech ?? 3),\n  economy: take(byTopic.economy, maxByTopic.economy ?? 3),\n  traffic: take(byTopic.traffic, maxByTopic.traffic ?? 2),\n  warnings: take(byTopic.warnings, maxByTopic.warnings ?? 2),\n  energy: take(byTopic.energy, maxByTopic.energy ?? 2),\n  ai: take(byTopic.ai, maxByTopic.ai ?? 2)\n};\n\nconst summarize = (text, maxChars) => {\n  const cleaned = toPlain(text);\n  if (!cleaned) return '';\n  const parts = cleaned\n    .split(/(?<=[.!?])\\s+/)\n    .map((s) => s.trim())\n    .filter(Boolean);\n  const picked = parts.slice(0, 4).join(' ');\n  const limited = picked.slice(0, Math.max(120, maxChars || 380));\n  return limited.length < picked.length ? `${limited.replace(/\\s+[^\\s]*$/, '')}...` : limited;\n};\n\nconst esc = (s) => String(s || '')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\"/g, '&quot;');\n\nconst lineToHtml = (item) => {\n  const summary = summarize(item.summary, Number(cfg.summaryMaxChars || 380));\n  return `<article class=\"news-item\"><h3><a href=\"${esc(item.url)}\" target=\"_blank\" rel=\"noopener noreferrer\">${esc(item.title)}</a></h3>${summary ? `<p>${esc(summary)}</p>` : ''}</article>`;\n};\n\nconst sectionConfig = Array.isArray(cfg.sectionConfig) ? cfg.sectionConfig : [];\nconst sections = [];\n\nif (selected.headline) {\n  sections.push(`<section><h2>🏆 Headline of the day</h2>${lineToHtml(selected.headline)}</section>`);\n}\n\nfor (const conf of sectionConfig) {\n  const key = String(conf.key || '');\n  const arr = Array.isArray(selected[key]) ? selected[key] : [];\n  if (!arr.length) continue;\n  sections.push(`<section><h2>${esc(String(conf.title || key))}</h2>${arr.map(lineToHtml).join('')}</section>`);\n}\n\nif (!sections.length) {\n  sections.push('<section><h2>Daily News</h2><p>Heute keine relevanten News gefunden.</p></section>');\n}\n\nconst generatedAt = new Date().toISOString();\nconst html = `<!doctype html>\n<html lang=\"de\">\n<head>\n  <meta charset=\"utf-8\"/>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n  <title>Daily News</title>\n  <style>\n    :root {\n      --bg: #f4f7fb;\n      --card: #ffffff;\n      --text: #17202a;\n      --muted: #5f6c7a;\n      --accent: #0f766e;\n      --border: #dde5ee;\n    }\n    * { box-sizing: border-box; }\n    body { margin: 0; font-family: ui-sans-serif, -apple-system, Segoe UI, Helvetica, Arial, sans-serif; color: var(--text); background: radial-gradient(circle at 10% -20%, #cfe9ff 0%, #f4f7fb 40%, #f4f7fb 100%); }\n    main { max-width: 920px; margin: 0 auto; padding: 24px 16px 48px; }\n    header { margin-bottom: 16px; }\n    h1 { margin: 0 0 8px; font-size: 1.8rem; }\n    .meta { color: var(--muted); font-size: 0.95rem; }\n    section { background: var(--card); border: 1px solid var(--border); border-radius: 14px; padding: 16px; margin: 14px 0; box-shadow: 0 8px 18px rgba(10, 20, 40, 0.04); }\n    h2 { margin: 0 0 12px; font-size: 1.1rem; }\n    .news-item { padding: 10px 0; border-top: 1px dashed var(--border); }\n    .news-item:first-of-type { border-top: 0; padding-top: 0; }\n    .news-item h3 { margin: 0 0 8px; font-size: 1rem; line-height: 1.35; }\n    .news-item p { margin: 0; color: var(--muted); line-height: 1.45; }\n    a { color: var(--accent); text-decoration: none; }\n    a:hover { text-decoration: underline; }\n  </style>\n</head>\n<body>\n  <main>\n    <header>\n      <h1>Daily News</h1>\n      <div class=\"meta\">Generiert: ${esc(generatedAt)} • Quellen mit Treffern: ${sourceResults.filter((s) => Array.isArray(s.items) && s.items.length > 0).length}/${sourceResults.length}</div>\n    </header>\n    ${sections.join('')}\n  </main>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    config: cfg,\n    htmlB64: Buffer.from(html, 'utf8').toString('base64'),\n    createdAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        816
      ],
      "id": "64fe9ca8-4b6f-4714-bc3e-b3676bbcdd06",
      "name": "Aggregate And Build HTML"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst cfg = item.config || {};\nconst ttlHours = Math.max(1, Number(cfg.ttlHours || 48));\nconst now = new Date();\nconst expires = new Date(now.getTime() + ttlHours * 3600 * 1000);\nconst rand = () => Math.random().toString(36).slice(2);\nconst pageId = `${Date.now().toString(36)}-${rand().slice(0, 6)}`;\nconst token = `${rand()}${rand()}${rand()}`.slice(0, 40);\nconst base = String(cfg.publicBaseUrl || '').replace(/\\/+$/, '');\nconst path = String(cfg.websitePath || 'daily-news-show').replace(/^\\/+/, '');\nconst publicUrl = `${base}/${path}/${pageId}?t=${token}`;\n\nreturn [{\n  json: {\n    pageId,\n    token,\n    htmlB64: String(item.htmlB64 || ''),\n    createdAt: now.toISOString(),\n    expiresAt: expires.toISOString(),\n    publicUrl,\n    message: `[Daily News]\\n${publicUrl}`,\n    recipient: ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        816
      ],
      "id": "08ff3296-95d2-458a-8cce-a99db70f3ea7",
      "name": "Create Public URL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS public.daily_news (\n  page_id text PRIMARY KEY,\n  token text NOT NULL,\n  html_base64 text NOT NULL,\n  created_at timestamptz NOT NULL DEFAULT now(),\n  expires_at timestamptz NOT NULL\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2336,
        816
      ],
      "id": "081dc3ad-e5ef-4e8d-ad9c-0b60add10075",
      "name": "Ensure News Table",
      "credentials": {
        "postgres": {
          "id": "uniQl6xFKrs32oz8",
          "name": "Postgres n8n-data"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.daily_news (page_id, token, html_base64, created_at, expires_at)\nVALUES ('{{ $('Create Public URL').item.json.pageId }}', '{{ $('Create Public URL').item.json.token }}', '{{ $('Create Public URL').item.json.htmlB64 }}', '{{ $('Create Public URL').item.json.createdAt }}', '{{ $('Create Public URL').item.json.expiresAt }}')\nON CONFLICT (page_id) DO UPDATE\nSET token = EXCLUDED.token,\n    html_base64 = EXCLUDED.html_base64,\n    created_at = EXCLUDED.created_at,\n    expires_at = EXCLUDED.expires_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2544,
        816
      ],
      "id": "9e7cffe3-48b6-4ef9-991b-7a88928d3a71",
      "name": "Save News Page",
      "credentials": {
        "postgres": {
          "id": "uniQl6xFKrs32oz8",
          "name": "Postgres n8n-data"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jEC35MXsssds8HOB",
          "mode": "list",
          "cachedResultUrl": "/workflow/jEC35MXsssds8HOB",
          "cachedResultName": "Signal - Send Message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $('Create Public URL').item.json.message }}",
            "recipient": "={{ $('Create Public URL').item.json.recipient }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "recipient",
              "displayName": "recipient",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2752,
        816
      ],
      "id": "832e4157-765b-4731-a8df-20dcecdeb770",
      "name": "Signal - Send Message",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 07:00": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Split Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Sources": {
      "main": [
        [
          {
            "node": "HTTP Request Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Feed": {
      "main": [
        [
          {
            "node": "Normalize Feed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Feed Response": {
      "main": [
        [
          {
            "node": "Aggregate And Build HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate And Build HTML": {
      "main": [
        [
          {
            "node": "Create Public URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Public URL": {
      "main": [
        [
          {
            "node": "Ensure News Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure News Table": {
      "main": [
        [
          {
            "node": "Save News Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save News Page": {
      "main": [
        [
          {
            "node": "Signal - Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Bin1Me6S1IWNK7e7",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 5
  },
  "versionId": "88c99698-55ec-4401-bb0f-cf5009e97037",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "RH1GUxxRBwYAAnmZ",
  "tags": [
    {
      "name": "Database",
      "id": "Pml4vA4PtD8mAMba",
      "updatedAt": "2026-03-14T21:54:50.056Z",
      "createdAt": "2026-03-14T21:54:50.056Z"
    }
  ]
}
