workflows/Daily News.json
{
  "name": "Daily News",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        512,
        480
      ],
      "id": "abcda7a5-5759-42b7-b368-b5879f9f9c6f",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        512,
        288
      ],
      "id": "f3133ba8-49fa-4b59-8553-8366e725d3ad",
      "name": "Daily 07:00"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a2ca724-2c76-4f45-9555-30fb6f22266d",
              "name": "lookbackHours",
              "value": 24,
              "type": "number"
            },
            {
              "id": "ff012dc4-c11a-4919-816b-f6ef26f98ea0",
              "name": "maxChars",
              "value": 1300,
              "type": "number"
            },
            {
              "id": "76aece1e-88b3-420e-8685-5f2a8758f97b",
              "name": "maxRegional",
              "value": 3,
              "type": "number"
            },
            {
              "id": "6af42f43-e9ac-4a7b-b9ff-3e96e8efdd3f",
              "name": "maxPolitics",
              "value": 3,
              "type": "number"
            },
            {
              "id": "42c4d111-07ea-4c86-b300-180ec84bcfe5",
              "name": "maxTech",
              "value": 2,
              "type": "number"
            },
            {
              "id": "52d57b4d-3c63-42f3-a8fc-57fffe25d616",
              "name": "maxEconomy",
              "value": 2,
              "type": "number"
            },
            {
              "id": "ea80f53d-f9ab-4f22-8c9f-89ac0d8fc9a1",
              "name": "maxTraffic",
              "value": 1,
              "type": "number"
            },
            {
              "id": "8d5f6ed6-f12b-4ba5-9ffa-fbc0fd210b49",
              "name": "maxWarnings",
              "value": 1,
              "type": "number"
            },
            {
              "id": "8d7d609a-7406-4c93-87e6-19137bb6d39b",
              "name": "maxEnergy",
              "value": 1,
              "type": "number"
            },
            {
              "id": "f9f2327b-48d0-4805-b5b2-68697804bd8b",
              "name": "maxAi",
              "value": 1,
              "type": "number"
            },
            {
              "id": "452cfe8e-d092-46a4-89d1-55f20cb58722",
              "name": "maxLinksTotal",
              "value": 0,
              "type": "number"
            },
            {
              "id": "2e26807e-f130-4148-8412-7d5eb7f25c7a",
              "name": "includeLinksHeadline",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1a8f4f7e-68d8-43f3-8d7f-9afeed8a4d3d",
              "name": "includeLinksRegional",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "8e22db4c-a830-4951-b011-cf0a96ef95a9",
              "name": "includeLinksPolitics",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "89f0914d-cfcb-4b8f-a7a9-01033184e2ec",
              "name": "includeLinksTech",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "24897edc-184c-4fbf-825f-9813274ed7e0",
              "name": "includeLinksEconomy",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "d950e972-4065-4f1f-a224-ccf4042dad45",
              "name": "includeLinksTraffic",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "45ce2621-4f8d-4f4a-8b73-131805e4d5e1",
              "name": "includeLinksWarnings",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1808fd13-a93e-42b8-9d29-f8730d392c35",
              "name": "includeLinksEnergy",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ab4adf43-9dfa-4cb8-9874-59b7b27f35db",
              "name": "includeLinksAi",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "f13f1d77-9fee-44bc-b17f-f62a83b14dfa",
              "name": "includeLinksGeneral",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "02a9d749-a446-42b4-a0e4-8811cd7861aa",
              "name": "countryFocus",
              "value": "de",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        288
      ],
      "id": "21d5dcf2-9fd6-4fa4-985a-8abaf1d7fa40",
      "name": "Set Runtime Config"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ddef2cfd-1018-479a-90e2-dcb5b7512148",
              "name": "sourcesJson",
              "value": "[{\"sourceId\": \"newsapi_world_de_focus\", \"label\": \"NewsAPI World\", \"type\": \"newsapi\", \"topic\": \"general\", \"url\": \"https://newsapi.org/v2/everything?q=(Weltpolitik%20OR%20Europa%20OR%20Deutschland)&language=de&sortBy=publishedAt&pageSize=25\"}, {\"sourceId\": \"newsapi_politics_de_focus\", \"label\": \"NewsAPI Politik\", \"type\": \"newsapi\", \"topic\": \"politics\", \"url\": \"https://newsapi.org/v2/everything?q=(Politik%20OR%20Bundestag%20OR%20Bundesregierung)&language=de&sortBy=publishedAt&pageSize=25\"}, {\"sourceId\": \"newsapi_tech_de_focus\", \"label\": \"NewsAPI Tech\", \"type\": \"newsapi\", \"topic\": \"tech\", \"url\": \"https://newsapi.org/v2/everything?q=(Technologie%20OR%20IT%20OR%20Digitalisierung)&language=de&sortBy=publishedAt&pageSize=25\"}, {\"sourceId\": \"rss_google_ulm\", \"label\": \"Google News Ulm\", \"type\": \"rss\", \"topic\": \"regional\", \"url\": \"https://news.google.com/rss/search?q=Ulm%20OR%20Dornstadt&hl=de&gl=DE&ceid=DE:de\"}, {\"sourceId\": \"rss_google_dornstadt\", \"label\": \"Google News Dornstadt\", \"type\": \"rss\", \"topic\": \"regional\", \"url\": \"https://news.google.com/rss/search?q=Dornstadt%20OR%20Ulm&hl=de&gl=DE&ceid=DE:de\"}, {\"sourceId\": \"rss_tagesschau_de\", \"label\": \"Tagesschau\", \"type\": \"rss\", \"topic\": \"general\", \"url\": \"https://www.tagesschau.de/infoservices/alle-meldungen-100~rss2.xml\"}, {\"sourceId\": \"rss_google_economy_de\", \"label\": \"Google News Wirtschaft\", \"type\": \"rss\", \"topic\": \"economy\", \"url\": \"https://news.google.com/rss/search?q=Wirtschaft%20OR%20Boerse%20OR%20Inflation%20Deutschland&hl=de&gl=DE&ceid=DE:de\"}, {\"sourceId\": \"rss_google_traffic_ulm\", \"label\": \"Google News Verkehr\", \"type\": \"rss\", \"topic\": \"traffic\", \"url\": \"https://news.google.com/rss/search?q=Verkehr%20Ulm%20OR%20A8%20OR%20B10%20OR%20OePNV%20Ulm&hl=de&gl=DE&ceid=DE:de\"}, {\"sourceId\": \"rss_google_warnings_bw\", \"label\": \"Google News Warnlagen\", \"type\": \"rss\", \"topic\": \"warnings\", \"url\": \"https://news.google.com/rss/search?q=Unwetter%20Baden-Wuerttemberg%20OR%20Polizeieinsatz%20Ulm%20OR%20Katastrophenschutz&hl=de&gl=DE&ceid=DE:de\"}, {\"sourceId\": \"rss_google_energy_de\", \"label\": \"Google News Energie\", \"type\": \"rss\", \"topic\": \"energy\", \"url\": \"https://news.google.com/rss/search?q=Strompreis%20OR%20Gaspreis%20OR%20Energie%20Deutschland&hl=de&gl=DE&ceid=DE:de\"}, {\"sourceId\": \"rss_google_ai_de\", \"label\": \"Google News KI\", \"type\": \"rss\", \"topic\": \"ai\", \"url\": \"https://news.google.com/rss/search?q=KI%20OR%20Automation%20OR%20AI%20Regulation%20Deutschland&hl=de&gl=DE&ceid=DE:de\"}]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        288
      ],
      "id": "9987ffd5-0990-4230-96de-c3066e30f64f",
      "name": "Set Source Catalog"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c08bc499-a169-4b20-a288-6ff641705632",
              "name": "topicOrderJson",
              "value": "[\"regional\",\"politics\",\"tech\",\"economy\",\"traffic\",\"warnings\",\"energy\",\"ai\"]",
              "type": "string"
            },
            {
              "id": "1df91bd5-6a89-4741-b26a-d15a606e6349",
              "name": "sectionConfigJson",
              "value": "[{\"key\":\"regional\",\"title\":\"📍 Regionales (Ulm, Dornstadt)\"},{\"key\":\"politics\",\"title\":\"🏛️ Politik\"},{\"key\":\"tech\",\"title\":\"💻 Tech\"},{\"key\":\"economy\",\"title\":\"📈 Wirtschaft & Maerkte\"},{\"key\":\"traffic\",\"title\":\"🚦 Verkehr & Infrastruktur\"},{\"key\":\"warnings\",\"title\":\"⚠️ Warnlagen\"},{\"key\":\"energy\",\"title\":\"⚡ Energie & Verbraucher\"},{\"key\":\"ai\",\"title\":\"🤖 KI & Automation\"}]",
              "type": "string"
            },
            {
              "id": "46bbc30f-4a9a-40ce-84f5-4698c8e87d49",
              "name": "germanFocusRegex",
              "value": "(deutschland|berlin|bundesregierung|bundestag|europa|eu|nrw|bayern|baden-wuerttemberg|baden-württemberg|ulm|dornstadt|hamburg|muenchen|münchen|frankfurt)",
              "type": "string"
            },
            {
              "id": "7c9b3740-51aa-4c74-bd77-9da5095f30f1",
              "name": "scoreFreshnessHoursWindow",
              "value": 48,
              "type": "number"
            },
            {
              "id": "f9eb050b-0b8f-4e22-9d91-c69477f099aa",
              "name": "scoreGermanFocus",
              "value": 25,
              "type": "number"
            },
            {
              "id": "1f19d65b-f3e2-4bde-adc2-48dd2f00d771",
              "name": "scoreRegional",
              "value": 20,
              "type": "number"
            },
            {
              "id": "75482525-0756-44f0-b35d-d9fda13fa37d",
              "name": "scorePolitics",
              "value": 14,
              "type": "number"
            },
            {
              "id": "ae0027c4-f1d4-46d7-ab57-13f830c78630",
              "name": "scoreTech",
              "value": 10,
              "type": "number"
            },
            {
              "id": "f415b2f3-0de8-4e5e-a1ec-b85933649a01",
              "name": "headlineTitle",
              "value": "🏆 Headline of the day",
              "type": "string"
            },
            {
              "id": "ba3a3cd0-e3d3-446d-804d-9d23d52ed083",
              "name": "footerLabelSources",
              "value": "Quellen",
              "type": "string"
            },
            {
              "id": "3eb02a61-59ad-4f79-bfa0-97baea769351",
              "name": "footerLabelSkip",
              "value": "Skip",
              "type": "string"
            },
            {
              "id": "7218f435-55a1-43b9-86b2-131162fe76b5",
              "name": "footerLabelIrrelevant",
              "value": "Irrelevant",
              "type": "string"
            },
            {
              "id": "77c022bc-1148-4b99-99ea-58ccd7b4e39a",
              "name": "footerLabelError",
              "value": "Fehler",
              "type": "string"
            },
            {
              "id": "6f7b7980-cd5f-4c94-a79d-5e4ee59b5119",
              "name": "emptyMessage",
              "value": "Heute keine relevanten News gefunden.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        288
      ],
      "id": "b626843e-7101-4eda-9a62-4e5e257ce24f",
      "name": "Set Format & Scoring Config"
    },
    {
      "parameters": {
        "jsCode": "const parseJson = (value, fallback) => {\n  try {\n    const parsed = JSON.parse(String(value || '').trim());\n    return parsed ?? fallback;\n  } catch {\n    return fallback;\n  }\n};\n\nconst cfg = {\n  lookbackHours: Number($json.lookbackHours || 24),\n  maxChars: Number($json.maxChars || 1300),\n  maxRegional: Number($json.maxRegional || 3),\n  maxPolitics: Number($json.maxPolitics || 3),\n  maxTech: Number($json.maxTech || 2),\n  maxEconomy: Number($json.maxEconomy || 2),\n  maxTraffic: Number($json.maxTraffic || 1),\n  maxWarnings: Number($json.maxWarnings || 1),\n  maxEnergy: Number($json.maxEnergy || 1),\n  maxAi: Number($json.maxAi || 1),\n  maxLinksTotal: Number($json.maxLinksTotal || 0),\n  includeLinksHeadline: !!$json.includeLinksHeadline,\n  includeLinksRegional: !!$json.includeLinksRegional,\n  includeLinksPolitics: !!$json.includeLinksPolitics,\n  includeLinksTech: !!$json.includeLinksTech,\n  includeLinksEconomy: !!$json.includeLinksEconomy,\n  includeLinksTraffic: !!$json.includeLinksTraffic,\n  includeLinksWarnings: !!$json.includeLinksWarnings,\n  includeLinksEnergy: !!$json.includeLinksEnergy,\n  includeLinksAi: !!$json.includeLinksAi,\n  includeLinksGeneral: !!$json.includeLinksGeneral,\n  countryFocus: String($json.countryFocus || 'de')\n};\n\nconst formatter = {\n  topicOrder: parseJson($json.topicOrderJson, ['regional', 'politics', 'tech', 'economy', 'traffic', 'warnings', 'energy', 'ai']),\n  sectionConfig: parseJson($json.sectionConfigJson, []),\n  germanFocusRegex: String($json.germanFocusRegex || ''),\n  scoreFreshnessHoursWindow: Number($json.scoreFreshnessHoursWindow || 48),\n  scoreGermanFocus: Number($json.scoreGermanFocus || 25),\n  scoreRegional: Number($json.scoreRegional || 20),\n  scorePolitics: Number($json.scorePolitics || 14),\n  scoreTech: Number($json.scoreTech || 10),\n  headlineTitle: String($json.headlineTitle || 'Headline of the day'),\n  footerLabelSources: String($json.footerLabelSources || 'Quellen'),\n  footerLabelSkip: String($json.footerLabelSkip || 'Skip'),\n  footerLabelIrrelevant: String($json.footerLabelIrrelevant || 'Irrelevant'),\n  footerLabelError: String($json.footerLabelError || 'Fehler'),\n  emptyMessage: String($json.emptyMessage || 'Heute keine relevanten News gefunden.')\n};\n\nconst sources = parseJson($json.sourcesJson, []);\n\nreturn sources.map((source) => ({\n  json: {\n    source,\n    config: cfg,\n    formatter\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        288
      ],
      "id": "b2f9f921-d37f-4748-93be-5955c1ab7a0b",
      "name": "Split Sources",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "796f895a-7d04-412b-84b8-02b303125b02",
              "leftValue": "={{ $json.source.type }}",
              "rightValue": "newsapi",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1552,
        288
      ],
      "id": "70487e5d-d95e-46fa-a321-c2a28a876991",
      "name": "If NewsAPI Source"
    },
    {
      "parameters": {
        "url": "={{ $json.source.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        192
      ],
      "id": "7636908c-92d7-4261-8ed0-f28666fbe81a",
      "name": "HTTP Request NewsAPI",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MbAMZ55kO8vjDnFQ",
          "name": "Synapse"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const src = $('Split Sources').item.json.source || {};\nconst config = $('Split Sources').item.json.config || {};\nconst formatter = $('Split Sources').item.json.formatter || {};\n\nif ($json.error || $json.message) {\n  return [{\n    json: {\n      config,\n      formatter,\n      sourceResult: {\n        sourceId: src.sourceId || 'unknown',\n        label: src.label || 'Unknown source',\n        status: 'error',\n        count: 0,\n        items: [],\n        error: String($json.message || $json.error || 'HTTP error')\n      }\n    }\n  }];\n}\n\nconst articles = Array.isArray($json.articles) ? $json.articles : [];\nconst items = articles\n  .filter((a) => a && a.title && a.url)\n  .map((a) => ({\n    title: String(a.title).trim(),\n    url: String(a.url).trim(),\n    source: String(a?.source?.name || src.label || 'Quelle').trim(),\n    sourceId: src.sourceId || 'unknown',\n    publishedAt: a.publishedAt || null,\n    topic: src.topic || 'general'\n  }));\n\nreturn [{\n  json: {\n    config,\n    formatter,\n    sourceResult: {\n      sourceId: src.sourceId || 'unknown',\n      label: src.label || 'Unknown source',\n      status: 'ok',\n      count: items.length,\n      items,\n      error: null\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        176
      ],
      "id": "5d09744b-ee2a-4594-9832-d404ca047c73",
      "name": "Normalize NewsAPI Response"
    },
    {
      "parameters": {
        "url": "={{ $json.source.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        384
      ],
      "id": "1b90eae0-274f-4555-b0d9-2bdc52a59fd4",
      "name": "HTTP Request RSS",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const src = $('Split Sources').item.json.source || {};\nconst config = $('Split Sources').item.json.config || {};\nconst formatter = $('Split Sources').item.json.formatter || {};\n\nif ($json.error || $json.message) {\n  return [{\n    json: {\n      config,\n      formatter,\n      sourceResult: {\n        sourceId: src.sourceId || 'unknown',\n        label: src.label || 'Unknown source',\n        status: 'error',\n        count: 0,\n        items: [],\n        error: String($json.message || $json.error || 'HTTP error')\n      }\n    }\n  }];\n}\n\nconst normalizeText = (value) => String(value || '')\n  .replace(/<!\\[CDATA\\[(.*?)\\]\\]>/gs, '$1')\n  .replace(/<[^>]*>/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&quot;/g, '\"')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst raw = typeof $json === 'string'\n  ? $json\n  : String($json.data || $json.body || $json.response || '');\n\nconst items = [];\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nlet match;\nwhile ((match = itemRegex.exec(raw)) !== null) {\n  const block = match[1];\n  const title = normalizeText((block.match(/<title>([\\s\\S]*?)<\\/title>/i) || [])[1]);\n  const link = normalizeText((block.match(/<link>([\\s\\S]*?)<\\/link>/i) || [])[1]);\n  const pubDateRaw = normalizeText((block.match(/<pubDate>([\\s\\S]*?)<\\/pubDate>/i) || [])[1]);\n  const publishedAt = pubDateRaw ? new Date(pubDateRaw).toISOString() : null;\n  if (!title || !link) continue;\n  items.push({\n    title,\n    url: link,\n    source: src.label || 'Quelle',\n    sourceId: src.sourceId || 'unknown',\n    publishedAt,\n    topic: src.topic || 'general'\n  });\n}\n\nreturn [{\n  json: {\n    config,\n    formatter,\n    sourceResult: {\n      sourceId: src.sourceId || 'unknown',\n      label: src.label || 'Unknown source',\n      status: 'ok',\n      count: items.length,\n      items,\n      error: null\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        368
      ],
      "id": "1b66ff55-5514-4ba0-b849-1640c7b64152",
      "name": "Normalize RSS Response"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2288,
        272
      ],
      "id": "1ea50e55-b90b-4502-b63d-63c963468d0c",
      "name": "Merge Source Results"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map((item) => item.json || {});\nconst sourceResults = rows.map((row) => row.sourceResult).filter(Boolean);\n\nconst base = rows[0] || {};\n\nreturn [{\n  json: {\n    config: base.config || {},\n    formatter: base.formatter || {},\n    sourceResults\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        272
      ],
      "id": "99f35708-522e-4720-8c79-edb45d31661a",
      "name": "Aggregate Source Results"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $json.config || {};\nconst formatter = $json.formatter || {};\nconst sourceResults = Array.isArray($json.sourceResults) ? $json.sourceResults : [];\n\nconst toNumber = (v, fallback) => {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : fallback;\n};\n\nconst lookbackHours = Math.max(1, toNumber(cfg.lookbackHours, 24));\nconst maxChars = Math.max(300, toNumber(cfg.maxChars, 1300));\nconst now = Date.now();\nconst minTs = now - (lookbackHours * 60 * 60 * 1000);\n\nconst maxByTopic = {\n  regional: Math.max(0, toNumber(cfg.maxRegional, 3)),\n  politics: Math.max(0, toNumber(cfg.maxPolitics, 3)),\n  tech: Math.max(0, toNumber(cfg.maxTech, 2)),\n  economy: Math.max(0, toNumber(cfg.maxEconomy, 2)),\n  traffic: Math.max(0, toNumber(cfg.maxTraffic, 1)),\n  warnings: Math.max(0, toNumber(cfg.maxWarnings, 1)),\n  energy: Math.max(0, toNumber(cfg.maxEnergy, 1)),\n  ai: Math.max(0, toNumber(cfg.maxAi, 1))\n};\n\nconst includeLinks = {\n  headline: !!cfg.includeLinksHeadline,\n  regional: !!cfg.includeLinksRegional,\n  politics: !!cfg.includeLinksPolitics,\n  tech: !!cfg.includeLinksTech,\n  economy: !!cfg.includeLinksEconomy,\n  traffic: !!cfg.includeLinksTraffic,\n  warnings: !!cfg.includeLinksWarnings,\n  energy: !!cfg.includeLinksEnergy,\n  ai: !!cfg.includeLinksAi,\n  general: !!cfg.includeLinksGeneral\n};\n\nlet linksLeft = Math.max(0, toNumber(cfg.maxLinksTotal, 0));\n\nconst normalize = (s) => String(s || '').toLowerCase().replace(/https?:\\/\\/[^\\s]+/g, '').replace(/[^a-z0-9aeiou\\u00e4\\u00f6\\u00fc\\u00df\\s]/g, ' ').replace(/\\s+/g, ' ').trim();\n\nconst topicOrder = Array.isArray(formatter.topicOrder) && formatter.topicOrder.length\n  ? formatter.topicOrder\n  : ['regional', 'politics', 'tech', 'economy', 'traffic', 'warnings', 'energy', 'ai'];\n\nconst allItems = [];\nfor (const source of sourceResults) {\n  const items = Array.isArray(source?.items) ? source.items : [];\n  for (const item of items) allItems.push(item);\n}\n\nconst unique = [];\nconst seen = new Set();\nfor (const item of allItems) {\n  const url = String(item.url || '').trim();\n  const title = String(item.title || '').trim();\n  if (!url || !title) continue;\n  const key = `${url}|${normalize(title)}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  unique.push(item);\n}\n\nconst germanFocusRegex = new RegExp(formatter.germanFocusRegex || '(deutschland|europa|ulm|dornstadt)', 'i');\n\nconst scored = unique\n  .map((item) => {\n    const publishedTs = item.publishedAt ? Date.parse(item.publishedAt) : NaN;\n    const isFresh = Number.isFinite(publishedTs) ? publishedTs >= minTs : true;\n    if (!isFresh) return null;\n\n    const title = String(item.title || '');\n    const source = String(item.source || 'Quelle');\n    const topic = String(item.topic || 'general');\n\n    let score = 0;\n    const freshnessWindow = Math.max(1, toNumber(formatter.scoreFreshnessHoursWindow, 48));\n    if (Number.isFinite(publishedTs)) score += Math.max(0, freshnessWindow - ((now - publishedTs) / 3600000));\n    if (germanFocusRegex.test(`${title} ${source}`)) score += Math.max(0, toNumber(formatter.scoreGermanFocus, 25));\n    if (topic === 'regional') score += Math.max(0, toNumber(formatter.scoreRegional, 20));\n    if (topic === 'politics') score += Math.max(0, toNumber(formatter.scorePolitics, 14));\n    if (topic === 'tech') score += Math.max(0, toNumber(formatter.scoreTech, 10));\n\n    return { ...item, topic, score, publishedTs: Number.isFinite(publishedTs) ? publishedTs : 0 };\n  })\n  .filter(Boolean)\n  .sort((a, b) => (b.score - a.score) || (b.publishedTs - a.publishedTs));\n\nconst byTopic = {\n  regional: [],\n  politics: [],\n  tech: [],\n  economy: [],\n  traffic: [],\n  warnings: [],\n  energy: [],\n  ai: []\n};\n\nfor (const item of scored) {\n  if (byTopic[item.topic]) byTopic[item.topic].push(item);\n}\n\nconst take = (arr, n) => arr.slice(0, Math.max(0, n));\n\nconst selected = {\n  headline: scored[0] || null,\n  regional: take(byTopic.regional, maxByTopic.regional),\n  politics: take(byTopic.politics, maxByTopic.politics),\n  tech: take(byTopic.tech, maxByTopic.tech),\n  economy: take(byTopic.economy, maxByTopic.economy),\n  traffic: take(byTopic.traffic, maxByTopic.traffic),\n  warnings: take(byTopic.warnings, maxByTopic.warnings),\n  energy: take(byTopic.energy, maxByTopic.energy),\n  ai: take(byTopic.ai, maxByTopic.ai)\n};\n\nconst formatItem = (item, withLink) => {\n  const source = item.source ? ` - ${item.source}` : '';\n  if (withLink && linksLeft > 0) {\n    linksLeft -= 1;\n    return `- ${item.title}${source}\\n  ${item.url}`;\n  }\n  return `- ${item.title}${source}`;\n};\n\nconst sections = [];\n\nif (selected.headline) {\n  sections.push({\n    title: String(formatter.headlineTitle || 'Headline of the day'),\n    lines: [formatItem(selected.headline, includeLinks.headline)]\n  });\n}\n\nconst sectionConfig = Array.isArray(formatter.sectionConfig) ? formatter.sectionConfig : [];\nfor (const conf of sectionConfig) {\n  const items = selected[String(conf.key || '')] || [];\n  if (!items.length) continue;\n  const withLink = !!includeLinks[String(conf.key || '')] && linksLeft > 0;\n  sections.push({\n    title: String(conf.title || conf.key || 'Section'),\n    lines: items.map((item) => formatItem(item, withLink))\n  });\n}\n\nconst blocks = [];\nfor (const sec of sections) blocks.push(`${sec.title}\\n${sec.lines.join('\\n')}`);\n\nlet messageCore = blocks.join('\\n\\n').trim();\n\nconst configuredSources = sourceResults.length;\nconst usedSources = sourceResults.filter((s) => Number(s.count || 0) > 0).length;\nconst skipSources = sourceResults.filter((s) => s.status === 'skipped').length;\nconst errorSources = sourceResults.filter((s) => s.status === 'error').length;\nconst irrelevantSources = sourceResults.filter((s) => s.status === 'ok' && Number(s.count || 0) === 0).length;\n\nconst footerParts = [];\nif (skipSources > 0) footerParts.push(`${formatter.footerLabelSkip || 'Skip'} ${skipSources}`);\nif (irrelevantSources > 0) footerParts.push(`${formatter.footerLabelIrrelevant || 'Irrelevant'} ${irrelevantSources}`);\nif (errorSources > 0) footerParts.push(`${formatter.footerLabelError || 'Fehler'} ${errorSources}`);\n\nconst footer = [`${formatter.footerLabelSources || 'Quellen'} ${usedSources}/${configuredSources}`]\n  .concat(footerParts.length ? [footerParts.join(' | ')] : [])\n  .join('\\n');\n\nif (!messageCore) messageCore = String(formatter.emptyMessage || 'Heute keine relevanten News gefunden.');\n\nlet message = `${messageCore}\\n\\n${footer}`.trim();\nif (message.length > maxChars) {\n  const reserve = footer.length + 8;\n  const allowedCore = Math.max(80, maxChars - reserve);\n  const sliced = messageCore.slice(0, allowedCore).replace(/\\s+[^\\s]*$/, '').trim();\n  message = `${sliced}...\\n\\n${footer}`;\n}\n\nconst totalSelected = [\n  selected.headline ? 1 : 0,\n  ...topicOrder.map((k) => (selected[k] || []).length)\n].reduce((acc, n) => acc + n, 0);\n\nreturn [{\n  json: {\n    okToSend: totalSelected > 0,\n    message,\n    recipient: '',\n    metrics: {\n      configuredSources,\n      usedSources,\n      skipSources,\n      irrelevantSources,\n      errorSources,\n      totalSelected\n    },\n    selected\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        272
      ],
      "id": "cbf0eec4-c8ae-4977-958b-ed258e068936",
      "name": "Select And Format"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6f6c7d17-7209-47f5-84f4-4d0f74cae6ed",
              "leftValue": "={{ $json.okToSend }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2912,
        272
      ],
      "id": "4c655167-7e4a-4fdc-aa3b-6ae2f4e3cce9",
      "name": "If Any News"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jEC35MXsssds8HOB",
          "mode": "list",
          "cachedResultUrl": "/workflow/jEC35MXsssds8HOB",
          "cachedResultName": "Signal - Send Message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $json.message }}",
            "recipient": "={{ $json.recipient }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "recipient",
              "displayName": "recipient",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3120,
        176
      ],
      "id": "3511473b-829a-4468-84a8-4abd0b081764",
      "name": "Signal - Send Message",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "errorMessage": "Daily News: Keine relevanten News aus allen Quellen gefunden."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3120,
        368
      ],
      "id": "a286c37d-40da-4d04-944e-3c6f30c7f67a",
      "name": "Fail No News"
    },
    {
      "parameters": {
        "content": "# Daily News\n\n- Alle Einstellungen in Set-Nodes (Runtime, Quellen, Scoring/Format)\n- Externe Quellen werden ueber HTTP Request-Nodes geladen\n- NewsAPI nutzt HTTP Header Auth Credential \"NewsAPI\"\n- Keine ENV-Abhaengigkeit fuer API-Keys im Workflow-Code",
        "height": 192,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        32
      ],
      "id": "8810ef92-e600-41ca-851a-2c47d98d1301",
      "name": "Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Runtime Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 07:00": {
      "main": [
        [
          {
            "node": "Set Runtime Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Runtime Config": {
      "main": [
        [
          {
            "node": "Set Source Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Source Catalog": {
      "main": [
        [
          {
            "node": "Set Format & Scoring Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Format & Scoring Config": {
      "main": [
        [
          {
            "node": "Split Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Sources": {
      "main": [
        [
          {
            "node": "If NewsAPI Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If NewsAPI Source": {
      "main": [
        [
          {
            "node": "HTTP Request NewsAPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request NewsAPI": {
      "main": [
        [
          {
            "node": "Normalize NewsAPI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request RSS": {
      "main": [
        [
          {
            "node": "Normalize RSS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize NewsAPI Response": {
      "main": [
        [
          {
            "node": "Merge Source Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize RSS Response": {
      "main": [
        [
          {
            "node": "Merge Source Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Source Results": {
      "main": [
        [
          {
            "node": "Aggregate Source Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Source Results": {
      "main": [
        [
          {
            "node": "Select And Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select And Format": {
      "main": [
        [
          {
            "node": "If Any News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Any News": {
      "main": [
        [
          {
            "node": "Signal - Send Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fail No News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Bin1Me6S1IWNK7e7",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "timeSavedPerExecution": 5
  },
  "versionId": "e55362f4-2a68-440a-a109-f9de8a5426fa",
  "meta": {
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "C4D1mJmrgg4j9jp6",
  "tags": []
}