workflows/Daily News.json
{
  "name": "Daily News",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        80
      ],
      "id": "a89ef267-1f09-4d78-8e9d-8e1545909f4f",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 7,
              "minute": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1200,
        256
      ],
      "id": "319648e2-31d0-4809-a4d8-0ec1bcf89b4e",
      "name": "Daily 07:00"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a2ca724-2c76-4f45-9555-30fb6f22266d",
              "name": "lookbackHours",
              "value": 24,
              "type": "number"
            },
            {
              "id": "ff012dc4-c11a-4919-816b-f6ef26f98ea0",
              "name": "maxChars",
              "value": 1300,
              "type": "number"
            },
            {
              "id": "76aece1e-88b3-420e-8685-5f2a8758f97b",
              "name": "maxRegional",
              "value": 3,
              "type": "number"
            },
            {
              "id": "6af42f43-e9ac-4a7b-b9ff-3e96e8efdd3f",
              "name": "maxPolitics",
              "value": 3,
              "type": "number"
            },
            {
              "id": "42c4d111-07ea-4c86-b300-180ec84bcfe5",
              "name": "maxTech",
              "value": 2,
              "type": "number"
            },
            {
              "id": "52d57b4d-3c63-42f3-a8fc-57fffe25d616",
              "name": "maxEconomy",
              "value": 2,
              "type": "number"
            },
            {
              "id": "ea80f53d-f9ab-4f22-8c9f-89ac0d8fc9a1",
              "name": "maxTraffic",
              "value": 1,
              "type": "number"
            },
            {
              "id": "8d5f6ed6-f12b-4ba5-9ffa-fbc0fd210b49",
              "name": "maxWarnings",
              "value": 1,
              "type": "number"
            },
            {
              "id": "8d7d609a-7406-4c93-87e6-19137bb6d39b",
              "name": "maxEnergy",
              "value": 1,
              "type": "number"
            },
            {
              "id": "f9f2327b-48d0-4805-b5b2-68697804bd8b",
              "name": "maxAi",
              "value": 1,
              "type": "number"
            },
            {
              "id": "452cfe8e-d092-46a4-89d1-55f20cb58722",
              "name": "maxLinksTotal",
              "value": 0,
              "type": "number"
            },
            {
              "id": "2e26807e-f130-4148-8412-7d5eb7f25c7a",
              "name": "includeLinksHeadline",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1a8f4f7e-68d8-43f3-8d7f-9afeed8a4d3d",
              "name": "includeLinksRegional",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "8e22db4c-a830-4951-b011-cf0a96ef95a9",
              "name": "includeLinksPolitics",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "89f0914d-cfcb-4b8f-a7a9-01033184e2ec",
              "name": "includeLinksTech",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "24897edc-184c-4fbf-825f-9813274ed7e0",
              "name": "includeLinksEconomy",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "d950e972-4065-4f1f-a224-ccf4042dad45",
              "name": "includeLinksTraffic",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "45ce2621-4f8d-4f4a-8b73-131805e4d5e1",
              "name": "includeLinksWarnings",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1808fd13-a93e-42b8-9d29-f8730d392c35",
              "name": "includeLinksEnergy",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ab4adf43-9dfa-4cb8-9874-59b7b27f35db",
              "name": "includeLinksAi",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "f13f1d77-9fee-44bc-b17f-f62a83b14dfa",
              "name": "includeLinksGeneral",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "02a9d749-a446-42b4-a0e4-8811cd7861aa",
              "name": "countryFocus",
              "value": "de",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        176
      ],
      "id": "a7a33df6-66e7-40bc-b66f-635d773cced2",
      "name": "Set Limits & Toggles"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $json;\nconst newsApiKey = ($env.NEWSAPI_KEY || '').trim();\n\nconst rssGoogle = (query) => `https://news.google.com/rss/search?q=${encodeURIComponent(query)}&hl=de&gl=DE&ceid=DE:de`;\n\nconst sources = [\n  {\n    sourceId: 'newsapi_world_de_focus',\n    label: 'NewsAPI World',\n    type: 'newsapi',\n    requiresKey: true,\n    topic: 'general',\n    url: 'https://newsapi.org/v2/everything?q=(Weltpolitik%20OR%20Europa%20OR%20Deutschland)&language=de&sortBy=publishedAt&pageSize=25'\n  },\n  {\n    sourceId: 'newsapi_politics_de_focus',\n    label: 'NewsAPI Politik',\n    type: 'newsapi',\n    requiresKey: true,\n    topic: 'politics',\n    url: 'https://newsapi.org/v2/everything?q=(Politik%20OR%20Bundestag%20OR%20Bundesregierung)&language=de&sortBy=publishedAt&pageSize=25'\n  },\n  {\n    sourceId: 'newsapi_tech_de_focus',\n    label: 'NewsAPI Tech',\n    type: 'newsapi',\n    requiresKey: true,\n    topic: 'tech',\n    url: 'https://newsapi.org/v2/everything?q=(Technologie%20OR%20IT%20OR%20Digitalisierung)&language=de&sortBy=publishedAt&pageSize=25'\n  },\n  {\n    sourceId: 'rss_google_ulm',\n    label: 'Google News Ulm',\n    type: 'rss',\n    requiresKey: false,\n    topic: 'regional',\n    url: rssGoogle('Ulm OR Dornstadt')\n  },\n  {\n    sourceId: 'rss_google_dornstadt',\n    label: 'Google News Dornstadt',\n    type: 'rss',\n    requiresKey: false,\n    topic: 'regional',\n    url: rssGoogle('Dornstadt OR Ulm')\n  },\n  {\n    sourceId: 'rss_tagesschau_de',\n    label: 'Tagesschau',\n    type: 'rss',\n    requiresKey: false,\n    topic: 'general',\n    url: 'https://www.tagesschau.de/infoservices/alle-meldungen-100~rss2.xml'\n  },\n  {\n    sourceId: 'rss_google_economy_de',\n    label: 'Google News Wirtschaft',\n    type: 'rss',\n    requiresKey: false,\n    topic: 'economy',\n    url: rssGoogle('Wirtschaft OR Boerse OR Inflation Deutschland')\n  },\n  {\n    sourceId: 'rss_google_traffic_ulm',\n    label: 'Google News Verkehr',\n    type: 'rss',\n    requiresKey: false,\n    topic: 'traffic',\n    url: rssGoogle('Verkehr Ulm OR A8 OR B10 OR OePNV Ulm')\n  },\n  {\n    sourceId: 'rss_google_warnings_bw',\n    label: 'Google News Warnlagen',\n    type: 'rss',\n    requiresKey: false,\n    topic: 'warnings',\n    url: rssGoogle('Unwetter Baden-Wuerttemberg OR Polizeieinsatz Ulm OR Katastrophenschutz')\n  },\n  {\n    sourceId: 'rss_google_energy_de',\n    label: 'Google News Energie',\n    type: 'rss',\n    requiresKey: false,\n    topic: 'energy',\n    url: rssGoogle('Strompreis OR Gaspreis OR Energie Deutschland')\n  },\n  {\n    sourceId: 'rss_google_ai_de',\n    label: 'Google News KI',\n    type: 'rss',\n    requiresKey: false,\n    topic: 'ai',\n    url: rssGoogle('KI OR Automation OR AI Regulation Deutschland')\n  }\n];\n\nconst normalizeText = (value) => String(value || '')\n  .replace(/<!\\[CDATA\\[(.*?)\\]\\]>/gs, '$1')\n  .replace(/<[^>]*>/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&quot;/g, '&quot;')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst parseRss = (xml, source) => {\n  const out = [];\n  const itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\n  let match;\n  while ((match = itemRegex.exec(xml)) !== null) {\n    const block = match[1];\n    const title = normalizeText((block.match(/<title>([\\s\\S]*?)<\\/title>/i) || [])[1]);\n    const link = normalizeText((block.match(/<link>([\\s\\S]*?)<\\/link>/i) || [])[1]);\n    const pubDateRaw = normalizeText((block.match(/<pubDate>([\\s\\S]*?)<\\/pubDate>/i) || [])[1]);\n    const publishedAt = pubDateRaw ? new Date(pubDateRaw).toISOString() : null;\n    if (!title || !link) continue;\n    out.push({\n      title,\n      url: link,\n      source: source.label,\n      sourceId: source.sourceId,\n      publishedAt,\n      topic: source.topic\n    });\n  }\n  return out;\n};\n\nconst parseNewsApi = (data, source) => {\n  const articles = Array.isArray(data?.articles) ? data.articles : [];\n  return articles\n    .filter((a) => a && a.title && a.url)\n    .map((a) => ({\n      title: String(a.title).trim(),\n      url: String(a.url).trim(),\n      source: String(a?.source?.name || source.label).trim(),\n      sourceId: source.sourceId,\n      publishedAt: a.publishedAt || null,\n      topic: source.topic\n    }));\n};\n\nconst fetchOne = async (source) => {\n  if (source.requiresKey && !newsApiKey) {\n    return {\n      sourceId: source.sourceId,\n      label: source.label,\n      status: 'skipped_missing_key',\n      requiresKey: true,\n      count: 0,\n      items: [],\n      error: null\n    };\n  }\n\n  try {\n    const options = {\n      method: 'GET',\n      url: source.url,\n      timeout: 20000\n    };\n\n    if (source.type === 'newsapi') {\n      options.headers = { 'X-Api-Key': newsApiKey };\n      options.json = true;\n    }\n\n    const raw = await this.helpers.httpRequest(options);\n    const items = source.type === 'newsapi'\n      ? parseNewsApi(raw, source)\n      : parseRss(String(raw || ''), source);\n\n    return {\n      sourceId: source.sourceId,\n      label: source.label,\n      status: 'ok',\n      requiresKey: source.requiresKey,\n      count: items.length,\n      items,\n      error: null\n    };\n  } catch (error) {\n    return {\n      sourceId: source.sourceId,\n      label: source.label,\n      status: 'error',\n      requiresKey: source.requiresKey,\n      count: 0,\n      items: [],\n      error: String(error?.message || error || 'Unknown error')\n    };\n  }\n};\n\nconst results = await Promise.all(sources.map((s) => fetchOne(s)));\n\nreturn [{\n  json: {\n    config: cfg,\n    sourceResults: results\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        176
      ],
      "id": "994e717f-b9cc-44ac-9fcb-cb5be77d8610",
      "name": "Fetch Sources Parallel"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $json.config || {};\nconst sourceResults = Array.isArray($json.sourceResults) ? $json.sourceResults : [];\n\nconst toNumber = (v, fallback) => {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : fallback;\n};\n\nconst lookbackHours = Math.max(1, toNumber(cfg.lookbackHours, 24));\nconst maxChars = Math.max(300, toNumber(cfg.maxChars, 1300));\nconst now = Date.now();\nconst minTs = now - (lookbackHours * 60 * 60 * 1000);\n\nconst maxByTopic = {\n  regional: Math.max(0, toNumber(cfg.maxRegional, 3)),\n  politics: Math.max(0, toNumber(cfg.maxPolitics, 3)),\n  tech: Math.max(0, toNumber(cfg.maxTech, 2)),\n  economy: Math.max(0, toNumber(cfg.maxEconomy, 2)),\n  traffic: Math.max(0, toNumber(cfg.maxTraffic, 1)),\n  warnings: Math.max(0, toNumber(cfg.maxWarnings, 1)),\n  energy: Math.max(0, toNumber(cfg.maxEnergy, 1)),\n  ai: Math.max(0, toNumber(cfg.maxAi, 1))\n};\n\nconst includeLinks = {\n  headline: !!cfg.includeLinksHeadline,\n  regional: !!cfg.includeLinksRegional,\n  politics: !!cfg.includeLinksPolitics,\n  tech: !!cfg.includeLinksTech,\n  economy: !!cfg.includeLinksEconomy,\n  traffic: !!cfg.includeLinksTraffic,\n  warnings: !!cfg.includeLinksWarnings,\n  energy: !!cfg.includeLinksEnergy,\n  ai: !!cfg.includeLinksAi,\n  general: !!cfg.includeLinksGeneral\n};\n\nlet linksLeft = Math.max(0, toNumber(cfg.maxLinksTotal, 0));\n\nconst normalize = (s) => String(s || '').toLowerCase().replace(/https?:\\/\\/[^\\s]+/g, '').replace(/[^a-z0-9aeiou\\u00e4\\u00f6\\u00fc\\u00df\\s]/g, ' ').replace(/\\s+/g, ' ').trim();\n\nconst topicOrder = ['regional', 'politics', 'tech', 'economy', 'traffic', 'warnings', 'energy', 'ai'];\n\nconst allItems = [];\nfor (const source of sourceResults) {\n  const items = Array.isArray(source?.items) ? source.items : [];\n  for (const item of items) {\n    allItems.push(item);\n  }\n}\n\nconst unique = [];\nconst seen = new Set();\nfor (const item of allItems) {\n  const url = String(item.url || '').trim();\n  const title = String(item.title || '').trim();\n  if (!url || !title) continue;\n  const key = `${url}|${normalize(title)}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  unique.push(item);\n}\n\nconst germanFocusRegex = /(deutschland|berlin|bundesregierung|bundestag|europa|eu|nrw|bayern|baden-wuerttemberg|baden-württemberg|ulm|dornstadt|hamburg|muenchen|münchen|frankfurt)/i;\n\nconst scored = unique\n  .map((item) => {\n    const publishedTs = item.publishedAt ? Date.parse(item.publishedAt) : NaN;\n    const isFresh = Number.isFinite(publishedTs) ? publishedTs >= minTs : true;\n    if (!isFresh) return null;\n\n    const title = String(item.title || '');\n    const source = String(item.source || 'Quelle');\n    const topic = String(item.topic || 'general');\n\n    let score = 0;\n    if (Number.isFinite(publishedTs)) score += Math.max(0, 48 - ((now - publishedTs) / 3600000));\n    if (germanFocusRegex.test(`${title} ${source}`)) score += 25;\n    if (topic === 'regional') score += 20;\n    if (topic === 'politics') score += 14;\n    if (topic === 'tech') score += 10;\n\n    return { ...item, topic, score, publishedTs: Number.isFinite(publishedTs) ? publishedTs : 0 };\n  })\n  .filter(Boolean)\n  .sort((a, b) => (b.score - a.score) || (b.publishedTs - a.publishedTs));\n\nconst byTopic = {\n  regional: [],\n  politics: [],\n  tech: [],\n  economy: [],\n  traffic: [],\n  warnings: [],\n  energy: [],\n  ai: []\n};\n\nfor (const item of scored) {\n  if (byTopic[item.topic]) byTopic[item.topic].push(item);\n}\n\nconst take = (arr, n) => arr.slice(0, Math.max(0, n));\n\nconst selected = {\n  headline: scored[0] || null,\n  regional: take(byTopic.regional, maxByTopic.regional),\n  politics: take(byTopic.politics, maxByTopic.politics),\n  tech: take(byTopic.tech, maxByTopic.tech),\n  economy: take(byTopic.economy, maxByTopic.economy),\n  traffic: take(byTopic.traffic, maxByTopic.traffic),\n  warnings: take(byTopic.warnings, maxByTopic.warnings),\n  energy: take(byTopic.energy, maxByTopic.energy),\n  ai: take(byTopic.ai, maxByTopic.ai)\n};\n\nconst formatItem = (item, withLink) => {\n  const source = item.source ? ` - ${item.source}` : '';\n  if (withLink && linksLeft > 0) {\n    linksLeft -= 1;\n    return `- ${item.title}${source}\\n  ${item.url}`;\n  }\n  return `- ${item.title}${source}`;\n};\n\nconst sections = [];\n\nif (selected.headline) {\n  sections.push({\n    title: '🏆 Headline of the day',\n    lines: [formatItem(selected.headline, includeLinks.headline)]\n  });\n}\n\nconst sectionConfig = [\n  { key: 'regional', title: '📍 Regionales (Ulm, Dornstadt)' },\n  { key: 'politics', title: '🏛️ Politik' },\n  { key: 'tech', title: '💻 Tech' },\n  { key: 'economy', title: '📈 Wirtschaft & Maerkte' },\n  { key: 'traffic', title: '🚦 Verkehr & Infrastruktur' },\n  { key: 'warnings', title: '⚠️ Warnlagen' },\n  { key: 'energy', title: '⚡ Energie & Verbraucher' },\n  { key: 'ai', title: '🤖 KI & Automation' }\n];\n\nfor (const conf of sectionConfig) {\n  const items = selected[conf.key] || [];\n  if (!items.length) continue;\n  const withLink = includeLinks[conf.key] && linksLeft > 0;\n  sections.push({\n    title: conf.title,\n    lines: items.map((item) => formatItem(item, withLink))\n  });\n}\n\nconst blocks = [];\nfor (const sec of sections) {\n  blocks.push(`${sec.title}\\n${sec.lines.join('\\n')}`);\n}\n\nlet messageCore = blocks.join('\\n\\n').trim();\n\nconst configuredSources = sourceResults.length;\nconst usedSources = sourceResults.filter((s) => Number(s.count || 0) > 0).length;\nconst skipSources = sourceResults.filter((s) => s.status === 'skipped_missing_key').length;\nconst errorSources = sourceResults.filter((s) => s.status === 'error').length;\nconst irrelevantSources = sourceResults.filter((s) => s.status === 'ok' && Number(s.count || 0) === 0).length;\n\nconst footerParts = [];\nif (skipSources > 0) footerParts.push(`Skip ${skipSources}`);\nif (irrelevantSources > 0) footerParts.push(`Irrelevant ${irrelevantSources}`);\nif (errorSources > 0) footerParts.push(`Fehler ${errorSources}`);\n\nconst footer = [`Quellen ${usedSources}/${configuredSources}`]\n  .concat(footerParts.length ? [footerParts.join(' | ')] : [])\n  .join('\\n');\n\nif (!messageCore) {\n  messageCore = 'Heute keine relevanten News gefunden.';\n}\n\nlet message = `${messageCore}\\n\\n${footer}`.trim();\nif (message.length > maxChars) {\n  const reserve = footer.length + 8;\n  const allowedCore = Math.max(80, maxChars - reserve);\n  const sliced = messageCore.slice(0, allowedCore).replace(/\\s+[^\\s]*$/, '').trim();\n  message = `${sliced}...\\n\\n${footer}`;\n}\n\nconst totalSelected = [\n  selected.headline ? 1 : 0,\n  ...topicOrder.map((k) => (selected[k] || []).length)\n].reduce((acc, n) => acc + n, 0);\n\nreturn [{\n  json: {\n    okToSend: totalSelected > 0,\n    message,\n    recipient: '',\n    metrics: {\n      configuredSources,\n      usedSources,\n      skipSources,\n      irrelevantSources,\n      errorSources,\n      totalSelected\n    },\n    selected\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        176
      ],
      "id": "8f1e4f34-5b56-4698-8a4c-c7e99ab4a26d",
      "name": "Select And Format"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6f6c7d17-7209-47f5-84f4-4d0f74cae6ed",
              "leftValue": "={{ $json.okToSend }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        176
      ],
      "id": "2fb8f3bf-b8bf-4f3f-ac91-ae8e0f90a9f2",
      "name": "If Any News"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jEC35MXsssds8HOB",
          "mode": "list",
          "cachedResultUrl": "/workflow/jEC35MXsssds8HOB",
          "cachedResultName": "Signal - Send Message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $json.message }}",
            "recipient": "={{ $json.recipient }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "recipient",
              "displayName": "recipient",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -16,
        80
      ],
      "id": "110e4fac-b62e-4ce0-ae91-6466a6dc2602",
      "name": "Signal - Send Message",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "errorMessage": "Daily News: Keine relevanten News aus allen Quellen gefunden."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -16,
        272
      ],
      "id": "bfb5778d-b7d5-4668-8848-1f0c4c7d87da",
      "name": "Fail No News"
    },
    {
      "parameters": {
        "content": "# Daily News\n\n- NewsAPI + RSS Mix\n- Wenn NEWSAPI_KEY fehlt, werden nur NewsAPI-Quellen geskippt\n- Workflow ist erfolgreich, sobald mindestens eine Quelle relevante News liefert\n- Footer bleibt kompakt: Quellen X/Y plus optionale Skip/Irrelevant/Fehler"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -960,
        -48
      ],
      "id": "8f0e3195-f637-4933-a92b-f63427e1dd88",
      "name": "Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Limits & Toggles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 07:00": {
      "main": [
        [
          {
            "node": "Set Limits & Toggles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Limits & Toggles": {
      "main": [
        [
          {
            "node": "Fetch Sources Parallel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sources Parallel": {
      "main": [
        [
          {
            "node": "Select And Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select And Format": {
      "main": [
        [
          {
            "node": "If Any News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Any News": {
      "main": [
        [
          {
            "node": "Signal - Send Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fail No News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "timeSavedPerExecution": 30
  },
  "versionId": "7a0e01f5-fd6d-4deb-b9ab-8a338d5a5ad6",
  "meta": {
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "dailyNewsWorkflow01",
  "tags": []
}
