workflows/Gmail - Attachment to Paperless.json
{
  "name": "Gmail - Attachment to Paperless",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1328,
        176
      ],
      "id": "7cd7672e-d122-4837-ae05-2cc5abe01a6b",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1520,
        368
      ],
      "id": "991df079-e8a7-4902-ab24-12e4f065198c",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33498f65-834f-48cb-8434-4f0d66ce6cc2",
              "name": "messageId",
              "value": "gmail_message_id_here",
              "type": "string"
            },
            {
              "id": "8e98eb5c-af37-4a7e-bc0b-73dadb952f47",
              "name": "allowedExtensions",
              "value": "pdf,png,jpg,jpeg,tif,tiff,gif,webp,txt,doc,docx,odt,ppt,pptx,odp,xls,xlsx,ods,eml",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        368
      ],
      "id": "0c737d0e-8f7a-4f3a-b239-afbe44283d0e",
      "name": "Set test input"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json || {};\n\nconst normalizeList = (value) => {\n  if (Array.isArray(value)) {\n    return [...new Set(value.map((v) => String(v).toLowerCase().trim()).filter(Boolean))];\n  }\n\n  if (typeof value === 'string') {\n    return [...new Set(value.split(',').map((v) => v.toLowerCase().trim()).filter(Boolean))];\n  }\n\n  return [];\n};\n\nconst defaultAllowed = [\n  'pdf', 'png', 'jpg', 'jpeg', 'tif', 'tiff', 'gif', 'webp', 'txt',\n  'doc', 'docx', 'odt', 'ppt', 'pptx', 'odp', 'xls', 'xlsx', 'ods', 'eml'\n];\n\nconst messageId = typeof raw.messageId === 'string' ? raw.messageId.trim() : '';\nconst allowedExtensions = normalizeList(raw.allowedExtensions);\nconst usedAllowedExtensions = allowedExtensions.length > 0 ? allowedExtensions : defaultAllowed;\n\nconst error = messageId ? '' : 'Input field messageId is required and must be a non-empty string.';\n\nreturn [{\n  json: {\n    messageId,\n    allowedExtensions: usedAllowedExtensions,\n    okToProcess: !error,\n    error\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        176
      ],
      "id": "828bf275-2fa7-40c4-ac5f-0c330bcdb699",
      "name": "Normalize and validate input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "849f3d23-1364-43ef-8890-e5746856e2c4",
              "leftValue": "={{ $json.okToProcess }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -912,
        176
      ],
      "id": "322b3cc3-cbd5-40b5-af9e-ed15be2727ac",
      "name": "If payload valid"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.messageId }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -688,
        64
      ],
      "id": "f49c9a0f-6977-45c5-a39e-ebea6922ed4c",
      "name": "Get Gmail message with attachments",
      "webhookId": "b2d5a212-5166-4e46-8c51-c56e4653b85a",
      "credentials": {
        "gmailOAuth2": {
          "id": "TbMOUQL6WmlDF4Be",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const source = $json || {};\nconst binary = $binary || {};\nconst allowed = new Set(($('Normalize and validate input').item.json.allowedExtensions || []).map((v) => String(v).toLowerCase()));\nconst messageId = $('Normalize and validate input').item.json.messageId || source.id || '';\n\nconst keys = Object.keys(binary);\nif (keys.length === 0) {\n  return [{\n    json: {\n      messageId,\n      filename: null,\n      extension: null,\n      status: 'skipped',\n      reason: 'no_attachments',\n      eligible: false\n    }\n  }];\n}\n\nconst results = [];\nfor (const key of keys) {\n  const file = binary[key] || {};\n  const filename = file.fileName || key;\n  const extension = filename.includes('.') ? filename.split('.').pop().toLowerCase() : '';\n  const isSupported = !!extension && allowed.has(extension);\n\n  if (!isSupported) {\n    results.push({\n      json: {\n        messageId,\n        filename,\n        extension: extension || null,\n        status: 'skipped',\n        reason: 'unsupported_extension',\n        eligible: false\n      }\n    });\n    continue;\n  }\n\n  results.push({\n    json: {\n      messageId,\n      filename,\n      extension,\n      status: 'pending_upload',\n      reason: null,\n      eligible: true\n    },\n    binary: {\n      data: file\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        48
      ],
      "id": "c6f2bb94-798e-4461-9c40-7374d10673af",
      "name": "Extract and classify attachments"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "53a0362a-e450-477f-a3b6-5b6c9fcb0aff",
              "leftValue": "={{ $json.eligible }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -192,
        48
      ],
      "id": "b357e41a-c20f-4e51-a095-52055d99e909",
      "name": "If attachment supported"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VY97ocet0nc0Lkpr",
          "mode": "list",
          "cachedResultUrl": "/workflow/VY97ocet0nc0Lkpr",
          "cachedResultName": "Paperless-ngx - Upload Document"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        32,
        -64
      ],
      "id": "d2648813-3d08-427e-b96c-b3a95e7f02cb",
      "name": "Paperless-ngx - Upload Document",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const source = $('Extract and classify attachments').item.json || {};\nconst upload = $json || {};\n\nconst success = upload.isSuccess === true || upload.status === 'success';\n\nreturn [{\n  json: {\n    messageId: source.messageId || null,\n    filename: source.filename || null,\n    extension: source.extension || null,\n    status: success ? 'uploaded' : 'failed',\n    reason: success ? null : (upload.errorReason || upload.message || 'paperless_upload_failed'),\n    paperless: upload\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -80
      ],
      "id": "45d4fde0-c253-4214-8637-95a822e23fe1",
      "name": "Build upload item result"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $json }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        160
      ],
      "id": "2849dde8-7d76-40f0-9295-40e7295bac67",
      "name": "Pass skipped item"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        144
      ],
      "id": "b08459e3-34fb-4a7e-baca-3980c5bc276c",
      "name": "Merge item results"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map((item) => item.json || {});\n\nconst totalAttachments = rows.length;\nconst uploadedCount = rows.filter((r) => r.status === 'uploaded').length;\nconst skippedCount = rows.filter((r) => r.status === 'skipped').length;\nconst failedCount = rows.filter((r) => r.status === 'failed').length;\nconst eligibleAttachments = rows.filter((r) => r.status !== 'skipped').length;\n\nconst messageId = rows.find((r) => r.messageId)?.messageId || $('Normalize and validate input').item.json.messageId || null;\n\nlet note = '';\nif (eligibleAttachments === 0) {\n  note = 'nothing_to_upload';\n}\n\nreturn [{\n  json: {\n    ok: failedCount === 0,\n    action: 'uploadAttachmentsToPaperless',\n    messageId,\n    totalAttachments,\n    eligibleAttachments,\n    uploadedCount,\n    skippedCount,\n    failedCount,\n    note,\n    results: rows\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        144
      ],
      "id": "c5fb49e0-0ed4-4691-90e0-a3d45f072466",
      "name": "Build final summary"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: false,\n    action: 'uploadAttachmentsToPaperless',\n    messageId: $json.messageId || null,\n    totalAttachments: 0,\n    eligibleAttachments: 0,\n    uploadedCount: 0,\n    skippedCount: 0,\n    failedCount: 0,\n    note: null,\n    results: [],\n    response: {\n      error: $json.error || 'Invalid input'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        304
      ],
      "id": "9266149c-2e71-418d-b792-2c87f2cedf46",
      "name": "Build validation error result"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize and validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set test input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set test input": {
      "main": [
        [
          {
            "node": "Normalize and validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize and validate input": {
      "main": [
        [
          {
            "node": "If payload valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If payload valid": {
      "main": [
        [
          {
            "node": "Get Gmail message with attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build validation error result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Gmail message with attachments": {
      "main": [
        [
          {
            "node": "Extract and classify attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract and classify attachments": {
      "main": [
        [
          {
            "node": "If attachment supported",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If attachment supported": {
      "main": [
        [
          {
            "node": "Paperless-ngx - Upload Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass skipped item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paperless-ngx - Upload Document": {
      "main": [
        [
          {
            "node": "Build upload item result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build upload item result": {
      "main": [
        [
          {
            "node": "Merge item results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass skipped item": {
      "main": [
        [
          {
            "node": "Merge item results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge item results": {
      "main": [
        [
          {
            "node": "Build final summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Bin1Me6S1IWNK7e7",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "timeSavedPerExecution": 3
  },
  "versionId": "40008111-fb82-4adf-a448-ddfcd7472401",
  "meta": {
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "oLVgBD7D0z6tNIp1",
  "tags": [
    {
      "name": "E-Mail",
      "id": "v5C7aIIdCywI2YKe",
      "updatedAt": "2026-03-01T20:36:05.002Z",
      "createdAt": "2026-03-01T20:36:05.002Z"
    }
  ]
}