workflows/Gmail - E-Mail Router.json
{
  "name": "Gmail - E-Mail Router",
  "nodes": [
    {
      "parameters": {
        "content": "## Gmail - E-Mail Router\n\nRoutet eingehende Gmail-Nachrichten anhand von Absender und Inhalt\nan den passenden Sub-Workflow.\n\n**Routing-Regeln:**\n- **Airbus MyPayslip** → noreply@mypayslip.airbus.com → Workflow \"Airbus - MyPayslip\"\n- **Newsletter** → Keyword \"newsletter\" im Betreff/Snippet/Text → Signal-Benachrichtigung\n\n**Eingabe-Felder:** messageId, threadId, from, subject, snippet, text\n**Keine Regel matched:** Kein Sub-Workflow wird ausgeführt.\n**Benachrichtigung:** Über Settings-Node steuerbar (enableNotification).",
        "width": 500,
        "height": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6320,
        1200
      ],
      "id": "a3f0c8b2-7e14-4d5a-b9c3-8f2e1a6d4b70",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -6096,
        1424
      ],
      "id": "e40dbdbc-9b88-4623-b189-b25f82d1d536",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -6288,
        1808
      ],
      "id": "244cac16-06c3-4e82-a66b-4643dda70c04",
      "name": "Manual Trigger Airbus"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15de4f4b-6e46-4f5c-be8f-5b07f59bd2f5",
              "name": "messageId",
              "value": "gmail_message_id_airbus",
              "type": "string"
            },
            {
              "id": "cc922d24-3dc4-4452-b3f4-2613f34ec9ec",
              "name": "threadId",
              "value": "gmail_thread_id_airbus",
              "type": "string"
            },
            {
              "id": "dfc9184d-eabc-4b3e-beb7-7cbc0cf34cad",
              "name": "from",
              "value": "NOREPLY@mypayslip.airbus.com",
              "type": "string"
            },
            {
              "id": "f5293465-14e0-4b77-86dd-88a5adef0f4b",
              "name": "subject",
              "value": "MyPayslip bereit",
              "type": "string"
            },
            {
              "id": "42f4fb9e-f22b-4454-8f49-62d70d47f206",
              "name": "snippet",
              "value": "Ihr neues Gehaltsdokument ist verfuegbar",
              "type": "string"
            },
            {
              "id": "f87585e8-1862-448f-80e5-c1eec88ff9ea",
              "name": "text",
              "value": "Bitte im Portal einloggen.",
              "type": "string"
            },
            {
              "id": "56e2ebb9-0240-43ee-a2d9-d2e5e04d98be",
              "name": "executeSubworkflow",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6096,
        1616
      ],
      "id": "810d22a8-8487-44c5-b538-6b2966446329",
      "name": "Set test input Airbus"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f8cd0ca-803d-4f2f-9732-e32f7398ce3f",
              "name": "messageId",
              "value": "gmail_message_id_newsletter",
              "type": "string"
            },
            {
              "id": "b6ec83ed-c67d-4f86-8b7e-3155f50e4956",
              "name": "threadId",
              "value": "gmail_thread_id_newsletter",
              "type": "string"
            },
            {
              "id": "f5f3b4ee-bdab-4cb8-b0c7-0cb9c1fba311",
              "name": "from",
              "value": "news@example.org",
              "type": "string"
            },
            {
              "id": "8e14fdc6-48c8-4361-93f4-902ed6f2587d",
              "name": "subject",
              "value": "Newsletter April",
              "type": "string"
            },
            {
              "id": "a4765d1e-6cb8-415d-930d-3e5b6d0d6325",
              "name": "snippet",
              "value": "Unser Newsletter fuer diese Woche",
              "type": "string"
            },
            {
              "id": "6e4b2603-7524-4edb-b6f2-3d0a02a70ec5",
              "name": "text",
              "value": "Newsletter mit neuen Angeboten.",
              "type": "string"
            },
            {
              "id": "d77b40b2-b087-4bf1-8653-a85daa0f89a8",
              "name": "executeSubworkflow",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6096,
        1808
      ],
      "id": "3a7f9978-93d4-41e3-bee9-76019ab02b90",
      "name": "Set test input Newsletter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58da8303-f5ea-47e4-a97a-fe75187afd65",
              "name": "messageId",
              "value": "gmail_message_id_no_match",
              "type": "string"
            },
            {
              "id": "a7fb26be-6002-4f76-b5c7-d0de5b0ff76c",
              "name": "threadId",
              "value": "gmail_thread_id_no_match",
              "type": "string"
            },
            {
              "id": "4f10b0e5-c724-4475-8895-f9502d335d7a",
              "name": "from",
              "value": "hello@example.net",
              "type": "string"
            },
            {
              "id": "51de63f5-2a2f-4fd4-ad30-c2fb7f2cefa8",
              "name": "subject",
              "value": "Kurze Rueckfrage",
              "type": "string"
            },
            {
              "id": "8fefe3a2-8c2d-4f9f-9728-cdd4a20f6f5c",
              "name": "snippet",
              "value": "Kannst du mich morgen anrufen?",
              "type": "string"
            },
            {
              "id": "02f81612-4819-4f2e-8b34-112352f4d85d",
              "name": "text",
              "value": "Bitte keine Weiterleitung.",
              "type": "string"
            },
            {
              "id": "2f046665-c311-4dbc-9d2b-a5b65cdc5bbd",
              "name": "executeSubworkflow",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6096,
        2000
      ],
      "id": "5f86d267-4aef-49d6-8d9c-0897cd7e6dc3",
      "name": "Set test input No Match"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json || {};\n\nconst messageId = typeof raw.messageId === 'string' ? raw.messageId.trim() : '';\nconst threadId = typeof raw.threadId === 'string' ? raw.threadId.trim() : '';\nconst from = typeof raw.from === 'string' ? raw.from.trim() : '';\nconst subject = typeof raw.subject === 'string' ? raw.subject.trim() : '';\nconst snippet = typeof raw.snippet === 'string' ? raw.snippet.trim() : '';\nconst text = typeof raw.text === 'string' ? raw.text : '';\n\nconst error = messageId ? '' : 'Input field messageId is required and must be a non-empty string.';\n\nreturn [{\n  json: {\n    messageId,\n    threadId,\n    from,\n    subject,\n    snippet,\n    text,\n    okToRoute: !error,\n    error\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5888,
        1424
      ],
      "id": "2237206e-4204-4d0e-b006-53b905dee0a5",
      "name": "Normalize and validate input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "name": "enableNotification",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5680,
        1424
      ],
      "id": "7ede632e-30f5-48b1-9eb3-9dfed05f25be",
      "name": "Settings"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "91de49c4-6f9e-4a1f-aec5-cc09e638f86f",
              "leftValue": "={{ $json.okToRoute }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5472,
        1424
      ],
      "id": "82b5d01f-8f51-4bd8-ac28-532f5724e9c1",
      "name": "If payload valid"
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\n\nconst rawFrom = typeof input.from === 'string' ? input.from.trim() : '';\nconst senderMatch = rawFrom.match(/<([^>]+)>/);\nconst sender = (senderMatch?.[1] || rawFrom).trim().toLowerCase();\n\nconst contentHaystack = [input.subject || '', input.snippet || '', input.text || '']\n  .join('\\n')\n  .toLowerCase();\n\nconst isAirbusSender = sender === 'noreply@mypayslip.airbus.com';\nconst hasNewsletter = contentHaystack.includes('newsletter');\n\nlet route = {\n  category: 'none',\n  workflowId: '',\n  workflowName: ''\n};\n\nlet classification = {\n  category: 'none',\n  confidence: 1,\n  reason: 'No routing rule matched'\n};\n\nlet routeLabel = 'No Route';\n\nconst output = {\n  ...input\n};\n\nif (isAirbusSender) {\n  route = {\n    category: 'airbus_mypayslip',\n    workflowId: 'DwMi5ywRbXvxyNVN',\n    workflowName: 'Airbus - MyPayslip'\n  };\n  classification = {\n    category: 'airbus_mypayslip',\n    confidence: 1,\n    reason: 'Matched sender noreply@mypayslip.airbus.com'\n  };\n  routeLabel = 'Airbus';\n} else if (hasNewsletter) {\n  route = {\n    category: 'newsletter',\n    workflowId: 'jEC35MXsssds8HOB',\n    workflowName: 'Signal - Send Message'\n  };\n  classification = {\n    category: 'newsletter',\n    confidence: 1,\n    reason: 'Matched keyword newsletter in email content'\n  };\n  routeLabel = 'Newsletter';\n  output.message = `Newsletter erhalten von: ${sender || 'unbekannt'}`;\n}\n\nreturn [{\n  json: {\n    ...output,\n    sender,\n    classification,\n    route,\n    routeLabel,\n    shouldExecuteSubworkflow: !!route.workflowId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5248,
        1328
      ],
      "id": "29b4668a-eb92-473e-936e-7db8e57d97c5",
      "name": "Parse and resolve route"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "09c2450e-0f07-4ef9-ad34-cccb945dc8cf",
              "leftValue": "={{ $json.shouldExecuteSubworkflow }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4992,
        1472
      ],
      "id": "9fdee742-d5d2-4625-898d-a5c9356407df",
      "name": "If sub workflow configured"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b1c2d3e4-f5a6-7b8c-9d0e-f1a2b3c4d5e6",
              "leftValue": "={{ $json.enableNotification }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4992,
        1184
      ],
      "id": "06c90f90-dd28-4075-8d92-7bc856b58c09",
      "name": "If notification enabled"
    },
    {
      "parameters": {
        "workflowId": "={{ $json.route.workflowId }}",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "messageId": "={{ $json.messageId }}",
            "threadId": "={{ $json.threadId }}",
            "from": "={{ $json.from }}",
            "subject": "={{ $json.subject }}",
            "snippet": "={{ $json.snippet }}",
            "text": "={{ $json.text }}",
            "sender": "={{ $json.sender }}",
            "message": "={{ $json.message }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -4720,
        1376
      ],
      "id": "68c940fc-5978-467b-b333-cc3546f746d2",
      "name": "Execute target sub workflow",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse and resolve route').item.json || {};\n\nreturn [{\n  json: {\n    ok: true,\n    action: 'route',\n    messageId: data.messageId || null,\n    threadId: data.threadId || null,\n    classification: data.classification || null,\n    route: data.route || null,\n    executed: false,\n    response: {\n      note: 'No routing rule matched. No action executed.'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4720,
        1568
      ],
      "id": "29748ece-dbf2-429c-a655-3e00fc114f53",
      "name": "Build pending route result"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jEC35MXsssds8HOB",
          "mode": "list",
          "cachedResultUrl": "/workflow/jEC35MXsssds8HOB",
          "cachedResultName": "Signal - Send Message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ '[Gmail]\\n[' + $json.routeLabel + ']\\n' + $json.from + '\\n' + $json.subject }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -4720,
        1168
      ],
      "id": "efe24cbd-f3ab-490b-9e0a-061435fe78cd",
      "name": "Send notification",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse and resolve route').item.json || {};\n\nreturn [{\n  json: {\n    ok: true,\n    action: 'route',\n    messageId: data.messageId || null,\n    threadId: data.threadId || null,\n    classification: data.classification || null,\n    route: data.route || null,\n    executed: true,\n    response: $json || {}\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4512,
        1360
      ],
      "id": "27295ffb-770a-43a0-818d-001330ce9bd6",
      "name": "Build route result"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: false,\n    action: 'route',\n    messageId: $json.messageId || null,\n    threadId: $json.threadId || null,\n    classification: null,\n    route: null,\n    executed: false,\n    response: {\n      error: $json.error || 'Invalid input'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5248,
        1520
      ],
      "id": "60b5a5e5-1a2a-4735-bbba-2937af017ce3",
      "name": "Build validation error result"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize and validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger Airbus": {
      "main": [
        [
          {
            "node": "Set test input Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set test input Airbus": {
      "main": [
        [
          {
            "node": "Normalize and validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set test input Newsletter": {
      "main": [
        [
          {
            "node": "Normalize and validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set test input No Match": {
      "main": [
        [
          {
            "node": "Normalize and validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize and validate input": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "If payload valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If payload valid": {
      "main": [
        [
          {
            "node": "Parse and resolve route",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build validation error result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and resolve route": {
      "main": [
        [
          {
            "node": "If sub workflow configured",
            "type": "main",
            "index": 0
          },
          {
            "node": "If notification enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If sub workflow configured": {
      "main": [
        [
          {
            "node": "Execute target sub workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build pending route result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If notification enabled": {
      "main": [
        [
          {
            "node": "Send notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute target sub workflow": {
      "main": [
        [
          {
            "node": "Build route result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Bin1Me6S1IWNK7e7",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 2
  },
  "versionId": "cd0a4679-676d-4573-902e-af3af6972f95",
  "meta": {
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "m51F9IO2sbOKSlKD",
  "tags": [
    {
      "updatedAt": "2026-03-01T20:36:05.002Z",
      "createdAt": "2026-03-01T20:36:05.002Z",
      "id": "v5C7aIIdCywI2YKe",
      "name": "E-Mail"
    }
  ]
}