workflows/Gmail - Set E-Mail Label.json
{
  "name": "Gmail - Set E-Mail Label",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -848,
        176
      ],
      "id": "a4643882-1041-4299-959d-568824b64af6",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        368
      ],
      "id": "ec11cead-423c-4944-9d57-02390d65431e",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6adfc8bf-c7ba-4934-8f9b-308696f4cfdf",
              "name": "messageId",
              "value": "gmail_message_id_here",
              "type": "string"
            },
            {
              "id": "d90f2fab-b327-4492-8a46-b5dce6305a03",
              "name": "labelsToAdd",
              "value": "n8n/processed",
              "type": "string"
            },
            {
              "id": "53ca164b-2467-4f7c-a6d5-0f3f831f493f",
              "name": "labelsToRemove",
              "value": "n8n/incoming",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        368
      ],
      "id": "2cc26404-ded9-41d7-a741-e6b17ea53ba3",
      "name": "Set test input"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json || {};\n\nconst normalizeLabels = (value) => {\n  if (Array.isArray(value)) {\n    return [...new Set(value\n      .map((v) => typeof v === 'string' ? v.trim() : '')\n      .filter(Boolean))];\n  }\n\n  if (typeof value === 'string') {\n    return [...new Set(value\n      .split(',')\n      .map((v) => v.trim())\n      .filter(Boolean))];\n  }\n\n  return [];\n};\n\nconst messageId = typeof raw.messageId === 'string' ? raw.messageId.trim() : '';\nconst labelsToAdd = normalizeLabels(raw.labelsToAdd);\nconst labelsToRemove = normalizeLabels(raw.labelsToRemove);\n\nlet error = '';\nif (!messageId) {\n  error = 'Input field messageId is required and must be a non-empty string.';\n} else if (labelsToAdd.length === 0 && labelsToRemove.length === 0) {\n  error = 'At least one label change is required (labelsToAdd or labelsToRemove).';\n}\n\nreturn [{\n  json: {\n    messageId,\n    labelsToAdd,\n    labelsToRemove,\n    labelsToAddValue: labelsToAdd.join(','),\n    labelsToRemoveValue: labelsToRemove.join(','),\n    doAdd: labelsToAdd.length > 0,\n    doRemove: labelsToRemove.length > 0,\n    okToSetLabels: !error,\n    error\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        176
      ],
      "id": "4ce7e53a-c6c0-42d3-a88e-6a72f88467a1",
      "name": "Normalize and validate input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "932cc2cf-a7d6-4a08-bdc8-c092327d1031",
              "leftValue": "={{ $json.okToSetLabels }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -432,
        176
      ],
      "id": "e3fbc05f-e993-44ea-b786-24131bb50a7c",
      "name": "If payload valid"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b0a42662-acd0-4eeb-a2fe-f20fd6008055",
              "leftValue": "={{ $json.doAdd }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        80
      ],
      "id": "6c350345-db84-42fc-a00b-99392d0bab2c",
      "name": "If labels to add"
    },
    {
      "parameters": {
        "operation": "addLabel"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "eaef5062-4785-49bc-8f3c-aaf15ea4d907",
      "name": "Add labels",
      "webhookId": "a2aa4879-f8bf-4c63-a183-7527a48b5ecb",
      "credentials": {
        "gmailOAuth2": {
          "id": "TbMOUQL6WmlDF4Be",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Normalize and validate input').item.json }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        160
      ],
      "id": "132f49f0-a8a2-49c1-88a3-7a925afb661a",
      "name": "Skip add"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02abcadb-0fa6-4a5c-a3c0-f071f4e57cbf",
              "leftValue": "={{ $('Normalize and validate input').item.json.doRemove }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        80
      ],
      "id": "b82a6ada-03d5-4d5f-abf3-90de33b3f9fe",
      "name": "If labels to remove"
    },
    {
      "parameters": {
        "operation": "removeLabel"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "59028267-7c40-4484-965f-f41e21081fd6",
      "name": "Remove labels",
      "webhookId": "96c4ed9a-b0ba-4f9c-8e39-43824bab4ee1",
      "credentials": {
        "gmailOAuth2": {
          "id": "TbMOUQL6WmlDF4Be",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize and validate input').item.json || {};\n\nreturn [{\n  json: {\n    ok: true,\n    action: 'setLabels',\n    messageId: input.messageId || null,\n    labelsToAdd: input.labelsToAdd || [],\n    labelsToRemove: input.labelsToRemove || [],\n    response: {\n      skippedRemove: true\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        160
      ],
      "id": "fe96a015-d31f-480c-8f98-4b5e2c0f78f8",
      "name": "Build add-only result"
    },
    {
      "parameters": {
        "jsCode": "const response = $json || {};\nconst statusCode = Number(response.statusCode || 0) || null;\nconst hasError = !!response.error || !!response.message;\nconst ok = !hasError && (statusCode === null || (statusCode >= 200 && statusCode < 300));\nconst input = $('Normalize and validate input').item.json || {};\n\nreturn [{\n  json: {\n    ok,\n    action: 'setLabels',\n    messageId: input.messageId || null,\n    labelsToAdd: input.labelsToAdd || [],\n    labelsToRemove: input.labelsToRemove || [],\n    statusCode,\n    response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -16
      ],
      "id": "29e4a5d9-a266-483a-a33a-7dc881f7f1c7",
      "name": "Build set label result"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: false,\n    action: 'setLabels',\n    messageId: $json.messageId || null,\n    labelsToAdd: $json.labelsToAdd || [],\n    labelsToRemove: $json.labelsToRemove || [],\n    response: {\n      error: $json.error || 'Invalid input'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        272
      ],
      "id": "f9a12d1e-f932-4f5b-8e5a-dfed58a70e1b",
      "name": "Build validation error result"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize and validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set test input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set test input": {
      "main": [
        [
          {
            "node": "Normalize and validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize and validate input": {
      "main": [
        [
          {
            "node": "If payload valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If payload valid": {
      "main": [
        [
          {
            "node": "If labels to add",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build validation error result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If labels to add": {
      "main": [
        [
          {
            "node": "Add labels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add labels": {
      "main": [
        [
          {
            "node": "If labels to remove",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip add": {
      "main": [
        [
          {
            "node": "If labels to remove",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If labels to remove": {
      "main": [
        [
          {
            "node": "Remove labels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build add-only result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove labels": {
      "main": [
        [
          {
            "node": "Build set label result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Bin1Me6S1IWNK7e7",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "timeSavedPerExecution": 1
  },
  "versionId": "e9109501-6edf-4167-aa40-5dc32f15ab9c",
  "meta": {
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "WA0HX3uUNB8kNoT5",
  "tags": [
    {
      "name": "E-Mail",
      "id": "v5C7aIIdCywI2YKe",
      "updatedAt": "2026-03-01T20:36:05.002Z",
      "createdAt": "2026-03-01T20:36:05.002Z"
    }
  ]
}