workflows/Gmail - E-Mail Router.json
{
  "name": "Gmail - E-Mail Router",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -4448,
        256
      ],
      "id": "2159c9e1-060d-4029-8879-6f3719527032",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4640,
        448
      ],
      "id": "ee42fca9-7fc8-422c-ac5b-52b1dacf4b75",
      "name": "Manual Trigger Airbus"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15de4f4b-6e46-4f5c-be8f-5b07f59bd2f5",
              "name": "messageId",
              "value": "gmail_message_id_airbus",
              "type": "string"
            },
            {
              "id": "cc922d24-3dc4-4452-b3f4-2613f34ec9ec",
              "name": "threadId",
              "value": "gmail_thread_id_airbus",
              "type": "string"
            },
            {
              "id": "dfc9184d-eabc-4b3e-beb7-7cbc0cf34cad",
              "name": "from",
              "value": "NOREPLY@mypayslip.airbus.com",
              "type": "string"
            },
            {
              "id": "f5293465-14e0-4b77-86dd-88a5adef0f4b",
              "name": "subject",
              "value": "MyPayslip bereit",
              "type": "string"
            },
            {
              "id": "42f4fb9e-f22b-4454-8f49-62d70d47f206",
              "name": "snippet",
              "value": "Ihr neues Gehaltsdokument ist verfuegbar",
              "type": "string"
            },
            {
              "id": "f87585e8-1862-448f-80e5-c1eec88ff9ea",
              "name": "text",
              "value": "Bitte im Portal einloggen.",
              "type": "string"
            },
            {
              "id": "56e2ebb9-0240-43ee-a2d9-d2e5e04d98be",
              "name": "executeSubworkflow",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4448,
        448
      ],
      "id": "e73f85e9-d413-4d88-a8cc-127b0215bb54",
      "name": "Set test input Airbus"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f8cd0ca-803d-4f2f-9732-e32f7398ce3f",
              "name": "messageId",
              "value": "gmail_message_id_newsletter",
              "type": "string"
            },
            {
              "id": "b6ec83ed-c67d-4f86-8b7e-3155f50e4956",
              "name": "threadId",
              "value": "gmail_thread_id_newsletter",
              "type": "string"
            },
            {
              "id": "f5f3b4ee-bdab-4cb8-b0c7-0cb9c1fba311",
              "name": "from",
              "value": "news@example.org",
              "type": "string"
            },
            {
              "id": "8e14fdc6-48c8-4361-93f4-902ed6f2587d",
              "name": "subject",
              "value": "Newsletter April",
              "type": "string"
            },
            {
              "id": "a4765d1e-6cb8-415d-930d-3e5b6d0d6325",
              "name": "snippet",
              "value": "Unser Newsletter fuer diese Woche",
              "type": "string"
            },
            {
              "id": "6e4b2603-7524-4edb-b6f2-3d0a02a70ec5",
              "name": "text",
              "value": "Newsletter mit neuen Angeboten.",
              "type": "string"
            },
            {
              "id": "d77b40b2-b087-4bf1-8653-a85daa0f89a8",
              "name": "executeSubworkflow",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4448,
        640
      ],
      "id": "ff1a74b5-5df5-4ed5-9cf7-ac399925d357",
      "name": "Set test input Newsletter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58da8303-f5ea-47e4-a97a-fe75187afd65",
              "name": "messageId",
              "value": "gmail_message_id_no_match",
              "type": "string"
            },
            {
              "id": "a7fb26be-6002-4f76-b5c7-d0de5b0ff76c",
              "name": "threadId",
              "value": "gmail_thread_id_no_match",
              "type": "string"
            },
            {
              "id": "4f10b0e5-c724-4475-8895-f9502d335d7a",
              "name": "from",
              "value": "hello@example.net",
              "type": "string"
            },
            {
              "id": "51de63f5-2a2f-4fd4-ad30-c2fb7f2cefa8",
              "name": "subject",
              "value": "Kurze Rueckfrage",
              "type": "string"
            },
            {
              "id": "8fefe3a2-8c2d-4f9f-9728-cdd4a20f6f5c",
              "name": "snippet",
              "value": "Kannst du mich morgen anrufen?",
              "type": "string"
            },
            {
              "id": "02f81612-4819-4f2e-8b34-112352f4d85d",
              "name": "text",
              "value": "Bitte keine Weiterleitung.",
              "type": "string"
            },
            {
              "id": "2f046665-c311-4dbc-9d2b-a5b65cdc5bbd",
              "name": "executeSubworkflow",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4448,
        832
      ],
      "id": "756de9f0-e848-4ecd-9b4e-b8f9a0efb3ea",
      "name": "Set test input No Match"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json || {};\n\nconst messageId = typeof raw.messageId === 'string' ? raw.messageId.trim() : '';\nconst threadId = typeof raw.threadId === 'string' ? raw.threadId.trim() : '';\nconst from = typeof raw.from === 'string' ? raw.from.trim() : '';\nconst subject = typeof raw.subject === 'string' ? raw.subject.trim() : '';\nconst snippet = typeof raw.snippet === 'string' ? raw.snippet.trim() : '';\nconst text = typeof raw.text === 'string' ? raw.text : '';\n\nconst error = messageId ? '' : 'Input field messageId is required and must be a non-empty string.';\n\nreturn [{\n  json: {\n    messageId,\n    threadId,\n    from,\n    subject,\n    snippet,\n    text,\n    okToRoute: !error,\n    error\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4240,
        256
      ],
      "id": "315a2bd8-0457-40d9-975d-61556ce760dc",
      "name": "Normalize and validate input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "91de49c4-6f9e-4a1f-aec5-cc09e638f86f",
              "leftValue": "={{ $json.okToRoute }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4032,
        256
      ],
      "id": "191e0032-5e7a-4d10-9a3e-5062bdce1600",
      "name": "If payload valid"
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\n\nconst rawFrom = typeof input.from === 'string' ? input.from.trim() : '';\nconst senderMatch = rawFrom.match(/<([^>]+)>/);\nconst sender = (senderMatch?.[1] || rawFrom).trim().toLowerCase();\n\nconst contentHaystack = [input.subject || '', input.snippet || '', input.text || '']\n  .join('\\n')\n  .toLowerCase();\n\nconst isAirbusSender = sender === 'noreply@mypayslip.airbus.com';\nconst hasNewsletter = contentHaystack.includes('newsletter');\n\nlet route = {\n  category: 'none',\n  workflowId: '',\n  workflowName: ''\n};\n\nlet classification = {\n  category: 'none',\n  confidence: 1,\n  reason: 'No routing rule matched'\n};\n\nconst output = {\n  ...input\n};\n\nif (isAirbusSender) {\n  route = {\n    category: 'airbus_mypayslip',\n    workflowId: 'DwMi5ywRbXvxyNVN',\n    workflowName: 'Airbus - MyPayslip'\n  };\n  classification = {\n    category: 'airbus_mypayslip',\n    confidence: 1,\n    reason: 'Matched sender noreply@mypayslip.airbus.com'\n  };\n} else if (hasNewsletter) {\n  route = {\n    category: 'newsletter',\n    workflowId: 'jEC35MXsssds8HOB',\n    workflowName: 'Signal - Send Message'\n  };\n  classification = {\n    category: 'newsletter',\n    confidence: 1,\n    reason: 'Matched keyword newsletter in email content'\n  };\n  output.message = `Newsletter erhalten von: ${sender || 'unbekannt'}`;\n}\n\nreturn [{\n  json: {\n    ...output,\n    sender,\n    classification,\n    route,\n    shouldExecuteSubworkflow: !!route.workflowId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3808,
        160
      ],
      "id": "22fa5674-4aca-4113-8ec7-5fa818f470fa",
      "name": "Parse and resolve route"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "09c2450e-0f07-4ef9-ad34-cccb945dc8cf",
              "leftValue": "={{ $json.shouldExecuteSubworkflow }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3600,
        160
      ],
      "id": "9d88c4d6-3385-4225-9216-0b3be2d127a5",
      "name": "If sub workflow configured"
    },
    {
      "parameters": {
        "workflowId": "={{ $json.route.workflowId }}",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "messageId": "={{ $json.messageId }}",
            "threadId": "={{ $json.threadId }}",
            "from": "={{ $json.from }}",
            "subject": "={{ $json.subject }}",
            "snippet": "={{ $json.snippet }}",
            "text": "={{ $json.text }}",
            "sender": "={{ $json.sender }}",
            "message": "={{ $json.message }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -3360,
        64
      ],
      "id": "88bde2dd-0b30-4509-9911-52ab8012f785",
      "name": "Execute target sub workflow",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse and resolve route').item.json || {};\n\nreturn [{\n  json: {\n    ok: true,\n    action: 'route',\n    messageId: data.messageId || null,\n    threadId: data.threadId || null,\n    classification: data.classification || null,\n    route: data.route || null,\n    executed: false,\n    response: {\n      note: 'No routing rule matched. No action executed.'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3360,
        256
      ],
      "id": "2ac6f121-b325-4138-bea7-db87df12db1e",
      "name": "Build pending route result"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse and resolve route').item.json || {};\n\nreturn [{\n  json: {\n    ok: true,\n    action: 'route',\n    messageId: data.messageId || null,\n    threadId: data.threadId || null,\n    classification: data.classification || null,\n    route: data.route || null,\n    executed: true,\n    response: $json || {}\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        48
      ],
      "id": "35c52c43-f043-4b91-8c87-10ab3a455c7f",
      "name": "Build route result"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: false,\n    action: 'route',\n    messageId: $json.messageId || null,\n    threadId: $json.threadId || null,\n    classification: null,\n    route: null,\n    executed: false,\n    response: {\n      error: $json.error || 'Invalid input'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3808,
        352
      ],
      "id": "23d766ec-60a4-4f20-8973-1ebd48c37504",
      "name": "Build validation error result"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize and validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger Airbus": {
      "main": [
        [
          {
            "node": "Set test input Airbus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set test input Airbus": {
      "main": [
        [
          {
            "node": "Normalize and validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set test input Newsletter": {
      "main": [
        [
          {
            "node": "Normalize and validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set test input No Match": {
      "main": [
        [
          {
            "node": "Normalize and validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize and validate input": {
      "main": [
        [
          {
            "node": "If payload valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If payload valid": {
      "main": [
        [
          {
            "node": "Parse and resolve route",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build validation error result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and resolve route": {
      "main": [
        [
          {
            "node": "If sub workflow configured",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If sub workflow configured": {
      "main": [
        [
          {
            "node": "Execute target sub workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build pending route result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute target sub workflow": {
      "main": [
        [
          {
            "node": "Build route result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Bin1Me6S1IWNK7e7",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 2
  },
  "versionId": "33bd99b3-981d-442f-bc7c-0a3484a38411",
  "meta": {
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "m51F9IO2sbOKSlKD",
  "tags": [
    {
      "updatedAt": "2026-03-01T20:36:05.002Z",
      "createdAt": "2026-03-01T20:36:05.002Z",
      "id": "v5C7aIIdCywI2YKe",
      "name": "E-Mail"
    }
  ]
}