workflows/Gmail - Delete GMX Mailer Daemon.json
{
  "name": "Gmail - Delete GMX Mailer Daemon",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "56f235ed-4a10-4e2c-a345-0d188aaffda3",
              "leftValue": "={{ $json.From }}",
              "rightValue": "GMX Mailer Daemon <mailer-daemon@gmx.net>",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "5fb77648-09ff-4baf-a63f-7c2ad6781cf5",
              "leftValue": "={{ $json.From }}",
              "rightValue": "=mailer-daemon@gmx.net",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        48
      ],
      "id": "c33342a9-e96b-4925-95e4-75992edeec2d",
      "name": "If from = GMX Mailer Daemon"
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $('New Gmail').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -16,
        32
      ],
      "id": "66d18e85-6de6-4d38-8f16-37a98d28e0ef",
      "name": "Delete message",
      "webhookId": "9614168a-007a-4e57-90fd-8f2f1fd3ae57",
      "credentials": {
        "gmailOAuth2": {
          "id": "da3gQaeFiPi7jzjm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        48
      ],
      "id": "408fae11-d39e-4ab3-8e59-5d22c84dfffb",
      "name": "New Gmail"
    }
  ],
  "pinData": {},
  "connections": {
    "If from = GMX Mailer Daemon": {
      "main": [
        [
          {
            "node": "Delete message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Gmail": {
      "main": [
        [
          {
            "node": "If from = GMX Mailer Daemon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d716b008-4aaa-4858-a35a-a55b791ec9b1",
  "meta": {
    "instanceId": "61c1812dff103a4a814b5c48159bea5eb090aacf5a1060cc3e9bcb96d59a25d9"
  },
  "id": "fe2ovvKxL6UCgv0Z",
  "tags": []
}