workflows/Gmail - Delete GMX Mailer Daemon.json
{
  "name": "Gmail - Delete GMX Mailer Daemon",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "a5bf9358-72c7-4980-91f4-719ee83d0b0f",
      "name": "Gmail Trigger - Message Received",
      "credentials": {
        "gmailOAuth2": {
          "id": "da3gQaeFiPi7jzjm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "56f235ed-4a10-4e2c-a345-0d188aaffda3",
              "leftValue": "={{ $json.From }}",
              "rightValue": "GMX Mailer Daemon <mailer-daemon@gmx.net>",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "5fb77648-09ff-4baf-a63f-7c2ad6781cf5",
              "leftValue": "={{ $json.From }}",
              "rightValue": "=mailer-daemon@gmx.net",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ],
      "id": "44a7853c-9fe5-4dfb-acac-94a461d52028",
      "name": "If from = GMX Mailer Daemon"
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $('Gmail Trigger - Message Received').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        460,
        -160
      ],
      "id": "044d9893-72b8-42fd-8dad-82d32dfba0db",
      "name": "Delete message",
      "webhookId": "9614168a-007a-4e57-90fd-8f2f1fd3ae57",
      "credentials": {
        "gmailOAuth2": {
          "id": "da3gQaeFiPi7jzjm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "# do nothing",
        "height": 80,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        40
      ],
      "id": "d72d9c2e-21a1-46f5-a6d6-1b9776b45e67",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger - Message Received": {
      "main": [
        [
          {
            "node": "If from = GMX Mailer Daemon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If from = GMX Mailer Daemon": {
      "main": [
        [
          {
            "node": "Delete message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "24d78c2c-4f84-4e87-8038-a24bb7bcf176",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61c1812dff103a4a814b5c48159bea5eb090aacf5a1060cc3e9bcb96d59a25d9"
  },
  "id": "rQ5iA7ZsfwO1qikq",
  "tags": []
}