workflows/Gmail - Received E-Mail.json
{
  "name": "Gmail - Received E-Mail",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        352
      ],
      "id": "b48af6c8-ab8f-4060-b063-955affb76dc3",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "TbMOUQL6WmlDF4Be",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json || {};\nconst payload = raw.payload || {};\nconst headers = Array.isArray(payload.headers) ? payload.headers : [];\n\nconst getHeader = (name) => {\n  const item = headers.find((h) => String(h.name || '').toLowerCase() === name.toLowerCase());\n  return item?.value || '';\n};\n\nconst body = payload.body || {};\nconst parts = Array.isArray(payload.parts) ? payload.parts : [];\n\nconst textPart = parts.find((p) => p?.mimeType === 'text/plain');\nconst htmlPart = parts.find((p) => p?.mimeType === 'text/html');\n\nconst labels = Array.isArray(raw.labelIds) ? raw.labelIds : [];\n\nreturn [{\n  json: {\n    messageId: raw.id || '',\n    threadId: raw.threadId || '',\n    from: getHeader('From'),\n    to: getHeader('To'),\n    subject: getHeader('Subject'),\n    date: getHeader('Date'),\n    snippet: raw.snippet || '',\n    text: textPart?.body?.data || body?.data || '',\n    html: htmlPart?.body?.data || '',\n    labels,\n    raw\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        352
      ],
      "id": "0e1967fa-6ef0-4a9f-8b47-e9e90112cde2",
      "name": "Normalize incoming email"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "m51F9IO2sbOKSlKD",
          "mode": "list",
          "cachedResultUrl": "/workflow/m51F9IO2sbOKSlKD",
          "cachedResultName": "Gmail - E-Mail Router"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "messageId": "={{ $json.messageId }}",
            "threadId": "={{ $json.threadId }}",
            "from": "={{ $json.from }}",
            "subject": "={{ $json.subject }}",
            "snippet": "={{ $json.snippet }}",
            "text": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        432,
        352
      ],
      "id": "03cbbd1e-b809-4642-a274-ed2495ba8ddd",
      "name": "Gmail - E-Mail Router",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize incoming email').item.json || {};\nconst routeResponse = $json || {};\n\nconst routeOk = routeResponse.ok === true;\nconst executed = routeResponse.executed === true;\n\nreturn [{\n  json: {\n    ok: routeOk,\n    executed,\n    action: 'receiveAndRoute',\n    messageId: normalized.messageId || null,\n    threadId: normalized.threadId || null,\n    from: normalized.from || '',\n    subject: normalized.subject || '',\n    routeResponse\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        336
      ],
      "id": "ea767c70-aff3-4686-873d-e50d9ceca6c8",
      "name": "Build receive result"
    },
    {
      "parameters": {
        "content": "# Konfiguration\n\n- Dieser Workflow reagiert auf neue Gmail E-Mails und ruft den Router-Subworkflow auf.\n- Fuer robuste Steuerung in Gmail-Filterregeln ein Label wie `n8n/incoming` setzen und nur dieses labeln/abholen.\n- Nachgelagerte Aktionen wie Label setzen oder Loeschen erfolgen ueber eigene Subworkflows.",
        "height": 208,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        96
      ],
      "id": "9d40403c-df45-4f53-965a-79544b95e0e2",
      "name": "Config note"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Normalize incoming email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize incoming email": {
      "main": [
        [
          {
            "node": "Gmail - E-Mail Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - E-Mail Router": {
      "main": [
        [
          {
            "node": "Build receive result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Bin1Me6S1IWNK7e7",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 1
  },
  "versionId": "a16ee612-6d09-438b-8b1b-7fe148b99e81",
  "meta": {
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "I8mYvpu9RzbUpDYc",
  "tags": [
    {
      "name": "E-Mail",
      "id": "v5C7aIIdCywI2YKe",
      "updatedAt": "2026-03-01T20:36:05.002Z",
      "createdAt": "2026-03-01T20:36:05.002Z"
    }
  ]
}
