workflows/Market - Drop Alert via Signal.json
{
  "name": "Market drop alert via Signal",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        120
      ],
      "id": "490c6d0e-3cfc-475a-a200-d399981609f8",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 0,
              "mode": "everyDay"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "3cfa8a40-d737-4492-ad1b-6723c78edcf8",
      "name": "Daily check"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "symbols",
              "value": "AAPL,MSFT,GOOGL,AMZN,TSLA,IBM,ORCL,GE"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        480,
        60
      ],
      "id": "ad7c560b-9562-4bed-b1dc-94805a3b3580",
      "name": "Set stock symbols"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "symbols",
              "value": "SPY,QQQ,DIA,IWM,VOO,EEM,XLK"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "id": "19e22c45-a420-4e34-ba02-e9dc589694d1",
      "name": "Set ETF symbols"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "symbols",
              "value": "BTC-USD,ETH-USD,BNB-USD,SOL-USD,XRP-USD,ADA-USD,DOGE-USD"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        480,
        540
      ],
      "id": "ce9f7a7f-736e-4069-bcf0-bfd889041cfe",
      "name": "Set crypto symbols"
    },
    {
      "parameters": {
        "functionCode": "let all=[];\nfor (const item of items){\n  if (item.json.symbols){\n    all.push(...item.json.symbols.split(',').map(s=>s.trim()));\n  }\n}\nreturn [{symbols: all.join(',')}];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        720,
        300
      ],
      "id": "89041fb0-45e8-4c0d-931c-870918e46826",
      "name": "Combine symbols"
    },
    {
      "parameters": {
        "functionCode": "const symbols=$json.symbols.split(',').map(s=>s.trim());\nconst threshold=$json.threshold;\nconst dropped=[];\nfor (const symbol of symbols){\n  const url=`https://query1.finance.yahoo.com/v8/finance/chart/${symbol}?range=2d&interval=1d`;\n  const data=await this.helpers.httpRequest({method:'GET',url});\n  const closes=data.chart?.result?.[0]?.indicators?.quote?.[0]?.close;\n  if (closes && closes.length>=2){\n    const prev=closes[0];\n    const curr=closes[1];\n    if (prev>0){\n      const change=((curr-prev)/prev)*100;\n      if (change<=-threshold){\n        dropped.push(`${symbol}: ${change.toFixed(2)}%`);\n      }\n    }\n  }\n}\nreturn [{dropped, threshold}];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "id": "03774bbd-dbdb-40fc-afe2-81e1ea925a84",
      "name": "Check drop"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n-signal-cli-rest-api:8080/v2/send",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $env.SIGNAL_CLI_NUMBER, recipients: [$env.SIGNAL_CLI_RECIPIENT], message: $json.dropped.length ? `Drop >=${$json.threshold}%: ${$json.dropped.join(', ')}` : \"No significant drops\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        300
      ],
      "id": "f3847896-e244-4094-a580-7f819abd488e",
      "name": "Send Signal message"
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "threshold",
              "value": 5
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        960,
        300
      ],
      "id": "50561501-5eb9-4c96-aff6-d775665c4a21",
      "name": "Set drop threshold"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set stock symbols",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set ETF symbols",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set crypto symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily check": {
      "main": [
        [
          {
            "node": "Set stock symbols",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set ETF symbols",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set crypto symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set stock symbols": {
      "main": [
        [
          {
            "node": "Combine symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ETF symbols": {
      "main": [
        [
          {
            "node": "Combine symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set crypto symbols": {
      "main": [
        [
          {
            "node": "Combine symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine symbols": {
      "main": [
        [
          {
            "node": "Set drop threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check drop": {
      "main": [
        [
          {
            "node": "Send Signal message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set drop threshold": {
      "main": [
        [
          {
            "node": "Check drop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "691b4ece-b02f-4054-bf69-e377324582c6",
  "versionId": "833ec0d0-218d-4450-9a42-009bc2205e61",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}