workflows/Market - Drop Alert via Signal.json
{
  "name": "Market - Drop Alert",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        848,
        480
      ],
      "id": "08befee4-b4b1-4735-b992-75fb30b84583",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        848,
        656
      ],
      "id": "52eba96d-400c-4356-8120-896c630e42e3",
      "name": "Daily check"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "symbols",
              "value": "AAPL,MSFT,GOOGL,AMZN,TSLA,IBM,ORCL,GE"
            },
            {
              "name": "category",
              "value": "Stock"
            }
          ],
          "number": [
            {
              "name": "lookback",
              "value": 3
            },
            {
              "name": "threshold",
              "value": 5
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1120,
        416
      ],
      "id": "9be8ff42-e357-4af1-bfa9-cf701ccfd037",
      "name": "Set stock symbols"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "symbols",
              "value": "SPY,QQQ,DIA,IWM,VOO,EEM,XLK"
            },
            {
              "name": "category",
              "value": "ETF"
            }
          ],
          "number": [
            {
              "name": "lookback",
              "value": 7
            },
            {
              "name": "threshold",
              "value": 5
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1120,
        656
      ],
      "id": "81ab3553-2dda-4d3d-97ff-0319cb175996",
      "name": "Set ETF symbols"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "symbols",
              "value": "BTC-USD,ETH-USD,BNB-USD,SOL-USD,XRP-USD,ADA-USD,DOGE-USD"
            },
            {
              "name": "category",
              "value": "Crypto"
            }
          ],
          "number": [
            {
              "name": "lookback",
              "value": 3
            },
            {
              "name": "threshold",
              "value": 5
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1120,
        896
      ],
      "id": "1720324d-82e7-4fae-8ced-52ce57e3133e",
      "name": "Set crypto symbols"
    },
    {
      "parameters": {
        "functionCode": "const entries=[];\nfor (const item of items){\n  const symbols=(item.json.symbols || '').split(',').map(s=>s.trim()).filter(Boolean);\n  const category=item.json.category || 'Unknown';\n  const lookback=Number(item.json.lookback || 3);\n  const threshold=Number(item.json.threshold || 5);\n  for (const symbol of symbols){\n    entries.push({ symbol, category, lookback, threshold });\n  }\n}\nconst unique=[];\nconst seen=new Set();\nfor (const entry of entries){\n  const key=`${entry.category}:${entry.symbol}`;\n  if (!seen.has(key)){\n    seen.add(key);\n    unique.push(entry);\n  }\n}\nreturn [{ entries: unique }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1808,
        656
      ],
      "id": "2bb54338-3ffe-4487-930a-56109e04a9f8",
      "name": "Combine symbols"
    },
    {
      "parameters": {
        "functionCode": "const entries=Array.isArray($json.entries) ? $json.entries : [];\nconst dropped=[];\nconst errors=[];\n\nfor (const entry of entries){\n  const symbol=entry.symbol;\n  const category=entry.category || 'Unknown';\n  const lookback=Math.max(1, Number(entry.lookback || 3));\n  const threshold=Math.max(0, Number(entry.threshold || 5));\n  const isCrypto=category.toLowerCase() === 'crypto';\n  const rangeDays=isCrypto ? Math.max(lookback + 5, 10) : Math.max((lookback * 3) + 5, 14);\n  const url=`https://query1.finance.yahoo.com/v8/finance/chart/${symbol}?range=${rangeDays}d&interval=1d`;\n\n  try {\n    const data=await this.helpers.httpRequest({ method: 'GET', url });\n    const result=data?.chart?.result?.[0];\n    const closes=result?.indicators?.quote?.[0]?.close || [];\n    const timestamps=result?.timestamp || [];\n\n    const points=[];\n    for (let i=0; i<Math.min(closes.length, timestamps.length); i++){\n      const close=closes[i];\n      const ts=timestamps[i];\n      if (typeof close === 'number' && Number.isFinite(close) && close > 0 && typeof ts === 'number'){\n        points.push({ close, ts });\n      }\n    }\n\n    if (points.length < 2){\n      errors.push(`${symbol}: insufficient data`);\n      continue;\n    }\n\n    const latest=points[points.length - 1];\n    let reference;\n\n    if (isCrypto){\n      const targetTs=latest.ts - (lookback * 86400);\n      for (let i=points.length - 2; i>=0; i--){\n        if (points[i].ts <= targetTs){\n          reference=points[i];\n          break;\n        }\n      }\n    } else {\n      const refIndex=points.length - 1 - lookback;\n      if (refIndex >= 0){\n        reference=points[refIndex];\n      }\n    }\n\n    if (!reference || reference.close <= 0){\n      errors.push(`${symbol}: missing reference for ${lookback}d`);\n      continue;\n    }\n\n    const change=((latest.close - reference.close) / reference.close) * 100;\n    if (change <= -threshold){\n      dropped.push(`${category} (${lookback}d): ${symbol} ${change.toFixed(2)}% drop`);\n    }\n  } catch (error){\n    errors.push(`${symbol}: request failed`);\n  }\n}\n\nreturn [{ dropped, errors }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2016,
        656
      ],
      "id": "41d2629a-5148-404b-8d45-669e540576b8",
      "name": "Check drop"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://signal-cli-rest-api:8080/v2/send",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $env.SIGNAL_CLI_NUMBER, recipients: [$env.SIGNAL_CLI_RECIPIENT], message: $json.dropped.length ? `Market drops detected:\n${$json.dropped.map(d => `- ${d}`).join('\\n')}` : \"No significant drops\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        656
      ],
      "id": "7492c4b6-91b9-4c62-b839-3c975e166983",
      "name": "Send Signal message"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1360,
        528
      ],
      "id": "b7fd5dd3-8208-47d6-b056-ef1ccae8ba2d",
      "name": "Merge stocks + ETF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1600,
        656
      ],
      "id": "02c10c1b-f272-408b-a815-ad4c76daf5aa",
      "name": "Merge all categories"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set stock symbols",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set ETF symbols",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set crypto symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily check": {
      "main": [
        [
          {
            "node": "Set stock symbols",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set ETF symbols",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set crypto symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set stock symbols": {
      "main": [
        [
          {
            "node": "Merge stocks + ETF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ETF symbols": {
      "main": [
        [
          {
            "node": "Merge stocks + ETF",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set crypto symbols": {
      "main": [
        [
          {
            "node": "Merge all categories",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge stocks + ETF": {
      "main": [
        [
          {
            "node": "Merge all categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge all categories": {
      "main": [
        [
          {
            "node": "Combine symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine symbols": {
      "main": [
        [
          {
            "node": "Check drop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check drop": {
      "main": [
        [
          {
            "node": "Send Signal message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1e8a45bb-2094-4de2-bae5-e896b2f152cd",
  "meta": {
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "9aDoxZ-LEDp115feOpMAh",
  "tags": []
}