workflows/Market - Drop Alert via Signal.json
{
  "name": "Market - Drop Alert",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [528, 256],
      "id": "18da72e9-1a34-41c9-b7b4-bcab631e8c79",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [528, 432],
      "id": "ef26305e-d26b-4331-8ccc-c09e17619eb5",
      "name": "Daily check"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "symbols",
              "value": "AAPL,MSFT,GOOGL,AMZN,TSLA,IBM,ORCL,GE"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [768, 192],
      "id": "d3364573-53b5-4afa-b5d9-2d9885b76ec1",
      "name": "Set stock symbols"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "symbols",
              "value": "SPY,QQQ,DIA,IWM,VOO,EEM,XLK"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [768, 432],
      "id": "b10c7e7e-5eb7-4a20-b1da-e376905637c3",
      "name": "Set ETF symbols"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "symbols",
              "value": "BTC-USD,ETH-USD,BNB-USD,SOL-USD,XRP-USD,ADA-USD,DOGE-USD"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [768, 672],
      "id": "c3873b09-a8a0-4f93-8e0c-9702ab9b7b5b",
      "name": "Set crypto symbols"
    },
    {
      "parameters": {
        "functionCode": "let all=[];\nfor (const item of items){\n  if (item.json.symbols){\n    all.push(...item.json.symbols.split(',').map(s=>s.trim()));\n  }\n}\nreturn [{symbols: all.join(',')}];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1008, 432],
      "id": "4e549ac1-0327-4de9-be90-3c91dbebe604",
      "name": "Combine symbols"
    },
    {
      "parameters": {
        "functionCode": "const symbols=$json.symbols.split(',').map(s=>s.trim());\nconst threshold=$json.threshold;\nconst dropped=[];\nfor (const symbol of symbols){\n  const url=`https://query1.finance.yahoo.com/v8/finance/chart/${symbol}?range=2d&interval=1d`;\n  const data=await this.helpers.httpRequest({method:'GET',url});\n  const closes=data.chart?.result?.[0]?.indicators?.quote?.[0]?.close;\n  if (closes && closes.length>=2){\n    const prev=closes[0];\n    const curr=closes[1];\n    if (prev>0){\n      const change=((curr-prev)/prev)*100;\n      if (change<=-threshold){\n        dropped.push(`${symbol}: ${change.toFixed(2)}%`);\n      }\n    }\n  }\n}\nreturn [{dropped, threshold}];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1440, 432],
      "id": "b450fb02-af50-4303-9f1e-bb669c1b1317",
      "name": "Check drop"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n-signal-cli-rest-api:8080/v2/send",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $env.SIGNAL_CLI_NUMBER, recipients: [$env.SIGNAL_CLI_RECIPIENT], message: $json.dropped.length ? `Drop >=${$json.threshold}%: ${$json.dropped.join(', ')}` : \"No significant drops\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1664, 432],
      "id": "50628207-db46-442d-83ee-62cd3b86d3bd",
      "name": "Send Signal message"
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "threshold",
              "value": 5
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1216, 432],
      "id": "12b49009-19ef-4801-974c-fc568af405a4",
      "name": "Set drop threshold"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set stock symbols",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set ETF symbols",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set crypto symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily check": {
      "main": [
        [
          {
            "node": "Set stock symbols",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set ETF symbols",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set crypto symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set stock symbols": {
      "main": [
        [
          {
            "node": "Combine symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ETF symbols": {
      "main": [
        [
          {
            "node": "Combine symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set crypto symbols": {
      "main": [
        [
          {
            "node": "Combine symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine symbols": {
      "main": [
        [
          {
            "node": "Set drop threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check drop": {
      "main": [
        [
          {
            "node": "Send Signal message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set drop threshold": {
      "main": [
        [
          {
            "node": "Check drop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "be067f20-6226-4cc7-bd38-7ebab8a6771b",
  "meta": {
    "instanceId": "61c1812dff103a4a814b5c48159bea5eb090aacf5a1060cc3e9bcb96d59a25d9"
  },
  "id": "GEJCE6L2EzWrLtt2",
  "tags": []
}
