workflows/Matrix - Send Message.json
{
  "name": "Matrix - Send Message",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        3104,
        720
      ],
      "id": "8c2377e7-43bd-44ef-b787-c2da0e007e96",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2896,
        928
      ],
      "id": "16ff9b35-156f-4b1f-b8df-d5b35d26bf76",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73e05276-5745-4b4d-bab7-c7f56ccfbdcd",
              "name": "message",
              "value": "n8n: This is a test message",
              "type": "string"
            },
            {
              "id": "5de43b46-e3d4-40e2-8ff3-d7f95e073ef2",
              "name": "room",
              "value": "!Testroom:3x3cut0r.de",
              "type": "string"
            },
            {
              "id": "7fe36c4f-77fa-4896-b72b-4d14993f1852",
              "name": "msgtype",
              "value": "m.text",
              "type": "string"
            },
            {
              "id": "9f9ca8ce-23f1-44e4-aecc-8f46f32fd31c",
              "name": "accessToken",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        928
      ],
      "id": "88ef74c8-b7b9-428c-ad71-311e60939df0",
      "name": "Set test input"
    },
    {
      "parameters": {
        "jsCode": "const rawMessage = $json.message;\nconst rawRoom = $json.room;\nconst rawMsgtype = $json.msgtype;\nconst rawAccessToken = $json.accessToken;\n\nconst message = typeof rawMessage === 'string' ? rawMessage.trim() : '';\nconst room = typeof rawRoom === 'string' ? rawRoom.trim() : '';\nconst msgtype = typeof rawMsgtype === 'string' && rawMsgtype.trim() ? rawMsgtype.trim() : 'm.text';\nconst accessToken = typeof rawAccessToken === 'string' ? rawAccessToken.trim() : '';\n\nreturn [{\n  json: {\n    message,\n    room,\n    msgtype,\n    accessToken\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        832
      ],
      "id": "e32b344b-48bd-40b4-877c-984f9afd8ecd",
      "name": "Normalize input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f93141cf-0add-4305-a8f3-a420cb0da8df",
              "name": "homeserverUrl",
              "value": "http://synapse:8008",
              "type": "string"
            },
            {
              "id": "2ef70473-8e53-49c8-b5de-a4f995f0606d",
              "name": "defaultRoom",
              "value": "Testroom",
              "type": "string"
            },
            {
              "id": "f3f56f51-cef4-45ca-a42f-08d9f3292f27",
              "name": "fallbackAccessToken",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3520,
        832
      ],
      "id": "e2eabc0f-852f-4059-8649-a125d5ecd310",
      "name": "Set Matrix config"
    },
    {
      "parameters": {
        "content": "# Konfiguration\n\nDieser Workflow ist als Subworkflow gedacht und kann ueber **Execute Workflow** aufgerufen werden.\n\n## Auth-Reihenfolge\n1) Erst mit n8n Credential (HTTP Header Auth im Node **Send Matrix message (Credential)**).\n2) Bei Fehler: Fallback nur mit Input `accessToken`.\n3) Wenn beides fehlschlaegt, endet der Workflow mit Fehler.\n\n## Token in n8n hinterlegen\n### Variante 1 (empfohlen): Credential\n1) In n8n unter **Credentials** ein Credential vom Typ **HTTP Header Auth** anlegen.\n2) Header Name: `Authorization`\n3) Header Value: `Bearer <MATRIX_ACCESS_TOKEN>`\n4) Dieses Credential im Node **Send Matrix message (Credential)** auswaehlen.\n\n### Optional pro Aufruf\n- `accessToken` im Input setzen (nur pro Aufruf, kein ENV-Default aktiv).\n\n## Aktive Defaults im Workflow\n- homeserverUrl: `http://synapse:8008`\n- defaultRoom: `Testroom`\n- fallbackAccessToken: leer\n\n## ENV-Beispiele (nur Copy/Paste, nicht aktiv)\n- `{{ $env.MATRIX_DEFAULT_ROOM_ID }}`\n- `{{ $env.MATRIX_ACCESS_TOKEN }}`\n\n## Input\n- `message` (pflicht)\n- `room` (optional, sonst `defaultRoom`)\n- `msgtype` (optional, default `m.text`)\n- `accessToken` (optional, bevorzugt vor leerem Fallback)",
        "height": 896,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3312,
        -96
      ],
      "id": "eb66f739-6f36-4330-8ee9-144aa28a6b67",
      "name": "Config note"
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize input').item.json || {};\nconst config = $('Set Matrix config').item.json || {};\n\nconst message = typeof normalized.message === 'string' ? normalized.message.trim() : '';\nconst inputRoom = typeof normalized.room === 'string' ? normalized.room.trim() : '';\nconst msgtype = typeof normalized.msgtype === 'string' && normalized.msgtype.trim() ? normalized.msgtype.trim() : 'm.text';\nconst inputAccessToken = typeof normalized.accessToken === 'string' ? normalized.accessToken.trim() : '';\n\nconst homeserverUrlRaw = typeof config.homeserverUrl === 'string' ? config.homeserverUrl.trim() : '';\nconst defaultRoomRaw = typeof config.defaultRoom === 'string' ? config.defaultRoom.trim() : '';\nconst fallbackAccessTokenRaw = typeof config.fallbackAccessToken === 'string' ? config.fallbackAccessToken.trim() : '';\n\nconst usedHomeserverUrl = homeserverUrlRaw.replace(/\\/+$/, '');\nconst usedRoom = inputRoom || defaultRoomRaw;\nconst resolvedFallbackToken = inputAccessToken || fallbackAccessTokenRaw;\nconst hasFallbackToken = !!resolvedFallbackToken;\nconst txnId = `n8n-${Date.now()}-${Math.random().toString(36).slice(2, 10)}`;\n\nlet error = '';\nif (!message) {\n  error = 'Input field message is required and must be a non-empty string.';\n} else if (!usedRoom) {\n  error = 'No room configured. Pass room or set defaultRoom in node Set Matrix config.';\n} else if (!usedHomeserverUrl) {\n  error = 'No homeserver URL configured. Set homeserverUrl in node Set Matrix config.';\n}\n\nconst requestUrl = !error\n  ? `${usedHomeserverUrl}/_matrix/client/v3/rooms/${encodeURIComponent(usedRoom)}/send/m.room.message/${encodeURIComponent(txnId)}`\n  : '';\n\nreturn [{\n  json: {\n    message,\n    msgtype,\n    usedRoom,\n    usedHomeserverUrl,\n    resolvedFallbackToken,\n    hasFallbackToken,\n    txnId,\n    requestUrl,\n    okToSend: !error,\n    error\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        832
      ],
      "id": "c204e032-1631-405c-b573-b154fd82d45a",
      "name": "Resolve and validate payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2cc8f572-2612-4678-995f-e4ec0fd9ad2e",
              "leftValue": "={{ $json.okToSend }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3936,
        832
      ],
      "id": "79b9eda5-a774-43ba-97c4-5b5884512e50",
      "name": "If payload valid"
    },
    {
      "parameters": {
        "jsCode": "throw new Error($json.error || 'Invalid input');"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4160,
        944
      ],
      "id": "e061b5c1-0621-4f75-ba08-1af2b4456677",
      "name": "Fail validation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.requestUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ msgtype: $json.msgtype, body: $json.message }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4160,
        720
      ],
      "id": "92d21f73-4207-462e-ac1c-0e5329425e55",
      "name": "Send Matrix message (Credential)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MbAMZ55kO8vjDnFQ",
          "name": "Synapse"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $json || {};\nconst statusCode = Number(response.statusCode || response.code || 0) || null;\nconst hasError = !!response.error || !!response.message || !!response.errcode || (statusCode !== null && statusCode >= 400);\nconst ok = !hasError && (statusCode === null || (statusCode >= 200 && statusCode < 300));\nconst resolved = $('Resolve and validate payload').item.json || {};\n\nreturn [{\n  json: {\n    ok,\n    statusCode,\n    usedRoom: resolved.usedRoom || null,\n    usedHomeserverUrl: resolved.usedHomeserverUrl || null,\n    usedAuth: 'credential',\n    response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4432,
        704
      ],
      "id": "bfc5ad67-9989-416a-a34a-207834b5d047",
      "name": "Evaluate credential attempt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7aa296f1-83ea-49da-9754-a7ad2f5906f2",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4640,
        704
      ],
      "id": "beb4cd02-1043-4a44-8ac3-caffc414e5fd",
      "name": "If credential send succeeded"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Resolve and validate payload').item.json.requestUrl }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ msgtype: $('Resolve and validate payload').item.json.msgtype, body: $('Resolve and validate payload').item.json.message }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4912,
        720
      ],
      "id": "f2b62813-5d95-43c4-ae66-ce5625362a39",
      "name": "Send Matrix message (Token/No Auth)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $json || {};\nconst statusCode = Number(response.statusCode || response.code || 0) || null;\nconst hasError = !!response.error || !!response.message || !!response.errcode || (statusCode !== null && statusCode >= 400);\nconst ok = !hasError && (statusCode === null || (statusCode >= 200 && statusCode < 300));\nconst resolved = $('Resolve and validate payload').item.json || {};\n\nreturn [{\n  json: {\n    ok,\n    statusCode,\n    usedRoom: resolved.usedRoom || null,\n    usedHomeserverUrl: resolved.usedHomeserverUrl || null,\n    usedAuth: resolved.hasFallbackToken ? 'fallbackToken' : 'none',\n    response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5184,
        704
      ],
      "id": "9a3415de-86de-4ad8-9be9-6b389ce506e6",
      "name": "Evaluate fallback attempt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0edd147f-5d98-44a0-8d17-70113f97f718",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5392,
        704
      ],
      "id": "603f5c71-6ce4-4ec8-a8b5-24a0226573c0",
      "name": "If fallback send succeeded"
    },
    {
      "parameters": {
        "jsCode": "const credentialResult = $('Evaluate credential attempt').item.json || {};\nconst fallbackResult = $('Evaluate fallback attempt').item.json || {};\nconst resolved = $('Resolve and validate payload').item.json || {};\n\nconst credentialMessage = credentialResult.response?.error || credentialResult.response?.message || credentialResult.response?.errcode || 'unknown credential error';\nconst fallbackMessage = fallbackResult.response?.error || fallbackResult.response?.message || fallbackResult.response?.errcode || 'unknown fallback error';\nconst fallbackMode = resolved.hasFallbackToken ? 'fallback token' : 'no auth';\n\nthrow new Error(`Matrix send failed. Credential attempt failed (${credentialMessage}). Fallback attempt (${fallbackMode}) failed (${fallbackMessage}).`);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5664,
        720
      ],
      "id": "a88474ef-d368-417f-b778-abf33fe9024e",
      "name": "Fail send"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set test input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set test input": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Set Matrix config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Matrix config": {
      "main": [
        [
          {
            "node": "Resolve and validate payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve and validate payload": {
      "main": [
        [
          {
            "node": "If payload valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If payload valid": {
      "main": [
        [
          {
            "node": "Send Matrix message (Credential)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fail validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Matrix message (Credential)": {
      "main": [
        [
          {
            "node": "Evaluate credential attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate credential attempt": {
      "main": [
        [
          {
            "node": "If credential send succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If credential send succeeded": {
      "main": [
        [],
        [
          {
            "node": "Send Matrix message (Token/No Auth)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Matrix message (Token/No Auth)": {
      "main": [
        [
          {
            "node": "Evaluate fallback attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate fallback attempt": {
      "main": [
        [
          {
            "node": "If fallback send succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If fallback send succeeded": {
      "main": [
        [],
        [
          {
            "node": "Fail send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Bin1Me6S1IWNK7e7",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 1
  },
  "versionId": "6add5158-62b8-4709-aaf3-de82df343b97",
  "meta": {
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "wugbJHW95HgPU4aT",
  "tags": [
    {
      "name": "Matrix",
      "id": "22nfFEPAE3H7Nmyn",
      "updatedAt": "2026-03-02T19:00:13.283Z",
      "createdAt": "2026-03-02T19:00:13.283Z"
    }
  ]
}