workflows/Matrix - Send Message.json
{
  "name": "Matrix - Send Message",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1472,
        560
      ],
      "id": "480b132c-ad5a-4b5c-8f75-b6d569bd1235",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1264,
        768
      ],
      "id": "2b488912-8f5f-44f2-ae72-0f58e3a75c2f",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73e05276-5745-4b4d-bab7-c7f56ccfbdcd",
              "name": "message",
              "value": "n8n: This is a test message",
              "type": "string"
            },
            {
              "id": "5de43b46-e3d4-40e2-8ff3-d7f95e073ef2",
              "name": "room",
              "value": "!exampleRoom:matrix.local",
              "type": "string"
            },
            {
              "id": "7fe36c4f-77fa-4896-b72b-4d14993f1852",
              "name": "msgtype",
              "value": "m.text",
              "type": "string"
            },
            {
              "id": "9f9ca8ce-23f1-44e4-aecc-8f46f32fd31c",
              "name": "accessToken",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        768
      ],
      "id": "9340ae12-17fd-48c5-9dc9-e8e13e2e63be",
      "name": "Set test input"
    },
    {
      "parameters": {
        "jsCode": "const rawMessage = $json.message;\nconst rawRoom = $json.room;\nconst rawMsgtype = $json.msgtype;\nconst rawAccessToken = $json.accessToken;\n\nconst message = typeof rawMessage === 'string' ? rawMessage.trim() : '';\nconst room = typeof rawRoom === 'string' ? rawRoom.trim() : '';\nconst msgtype = typeof rawMsgtype === 'string' && rawMsgtype.trim() ? rawMsgtype.trim() : 'm.text';\nconst accessToken = typeof rawAccessToken === 'string' ? rawAccessToken.trim() : '';\n\nreturn [{\n  json: {\n    message,\n    room,\n    msgtype,\n    accessToken\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        672
      ],
      "id": "44f68bd4-65fe-435a-888a-9cbcc037e1ed",
      "name": "Normalize input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f93141cf-0add-4305-a8f3-a420cb0da8df",
              "name": "homeserverUrl",
              "value": "http://synapse:8008",
              "type": "string"
            },
            {
              "id": "2ef70473-8e53-49c8-b5de-a4f995f0606d",
              "name": "defaultRoom",
              "value": "={{ $env.MATRIX_DEFAULT_ROOM_ID }}",
              "type": "string"
            },
            {
              "id": "f3f56f51-cef4-45ca-a42f-08d9f3292f27",
              "name": "fallbackAccessToken",
              "value": "={{ $env.MATRIX_ACCESS_TOKEN }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1888,
        672
      ],
      "id": "26f294f7-1801-4c89-b024-26a7dfa8ede5",
      "name": "Set Matrix config"
    },
    {
      "parameters": {
        "content": "# Konfiguration\n\nDieser Workflow ist als Subworkflow gedacht und kann ueber **Execute Workflow** aufgerufen werden.\n\n## Auth-Reihenfolge\n1) Erst mit n8n Credential (HTTP Header Auth im Node **Send Matrix message (Credential)**).\n2) Bei Fehler: Fallback mit Input `accessToken` oder `MATRIX_ACCESS_TOKEN`.\n3) Wenn beides fehlschlaegt, endet der Workflow mit Fehler.\n\n## Token in n8n hinterlegen\n### Variante 1 (empfohlen): Credential\n1) In n8n unter **Credentials** ein Credential vom Typ **HTTP Header Auth** anlegen.\n2) Header Name: `Authorization`\n3) Header Value: `Bearer <MATRIX_ACCESS_TOKEN>`\n4) Dieses Credential im Node **Send Matrix message (Credential)** auswaehlen.\n\n### Variante 2: Umgebungsvariable\n1) In der n8n-Umgebung `MATRIX_ACCESS_TOKEN` setzen (z. B. in `.env` / Docker Compose).\n2) n8n neu starten.\n3) Der Workflow nutzt den Wert als Fallback.\n\n### Optional pro Aufruf\n- `accessToken` im Input setzen (ueberschreibt ENV-Fallback).\n\n## Raum vs. Space\n- Es wird nur `room` benoetigt (Room-ID wie `!abc123:server.tld`).\n- Einen `space` musst du nicht separat uebergeben.\n\n## Defaults\n- homeserverUrl: `http://synapse:8008`\n- defaultRoom: `{{ $env.MATRIX_DEFAULT_ROOM_ID }}`\n- fallbackAccessToken: `{{ $env.MATRIX_ACCESS_TOKEN }}`\n\n## Input\n- `message` (pflicht)\n- `room` (optional, sonst `defaultRoom`)\n- `msgtype` (optional, default `m.text`)\n- `accessToken` (optional, bevorzugt vor ENV-Fallback)",
        "height": 544,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        80
      ],
      "id": "efd9bb57-1a3f-40f6-863e-1bb375f49da6",
      "name": "Config note"
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize input').item.json || {};\nconst config = $('Set Matrix config').item.json || {};\n\nconst message = typeof normalized.message === 'string' ? normalized.message.trim() : '';\nconst inputRoom = typeof normalized.room === 'string' ? normalized.room.trim() : '';\nconst msgtype = typeof normalized.msgtype === 'string' && normalized.msgtype.trim() ? normalized.msgtype.trim() : 'm.text';\nconst inputAccessToken = typeof normalized.accessToken === 'string' ? normalized.accessToken.trim() : '';\n\nconst homeserverUrlRaw = typeof config.homeserverUrl === 'string' ? config.homeserverUrl.trim() : '';\nconst defaultRoomRaw = typeof config.defaultRoom === 'string' ? config.defaultRoom.trim() : '';\nconst fallbackAccessTokenRaw = typeof config.fallbackAccessToken === 'string' ? config.fallbackAccessToken.trim() : '';\n\nconst usedHomeserverUrl = homeserverUrlRaw.replace(//+$/, '');\nconst usedRoom = inputRoom || defaultRoomRaw;\nconst resolvedFallbackToken = inputAccessToken || fallbackAccessTokenRaw;\nconst hasFallbackToken = !!resolvedFallbackToken;\nconst txnId = `n8n-${Date.now()}-${Math.random().toString(36).slice(2, 10)}`;\n\nlet error = '';\nif (!message) {\n  error = 'Input field message is required and must be a non-empty string.';\n} else if (!usedRoom) {\n  error = 'No room configured. Pass room or set defaultRoom in node Set Matrix config.';\n} else if (!usedHomeserverUrl) {\n  error = 'No homeserver URL configured. Set homeserverUrl in node Set Matrix config.';\n}\n\nconst requestUrl = !error\n  ? `${usedHomeserverUrl}/_matrix/client/v3/rooms/${encodeURIComponent(usedRoom)}/send/m.room.message/${encodeURIComponent(txnId)}`\n  : '';\n\nreturn [{\n  json: {\n    message,\n    msgtype,\n    usedRoom,\n    usedHomeserverUrl,\n    resolvedFallbackToken,\n    hasFallbackToken,\n    txnId,\n    requestUrl,\n    okToSend: !error,\n    error\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        672
      ],
      "id": "ced36939-71da-416b-928e-358199c0d1e8",
      "name": "Resolve and validate payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2cc8f572-2612-4678-995f-e4ec0fd9ad2e",
              "leftValue": "={{ $json.okToSend }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2304,
        672
      ],
      "id": "beee244f-7892-4772-af85-66904c83f853",
      "name": "If payload valid"
    },
    {
      "parameters": {
        "jsCode": "throw new Error($json.error || 'Invalid input');"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        784
      ],
      "id": "d306e554-7c53-461a-9a9a-e2818778e0ae",
      "name": "Fail validation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.requestUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ msgtype: $json.msgtype, body: $json.message }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2528,
        560
      ],
      "id": "6fdc1c08-a190-4141-be97-47d1187e07e6",
      "name": "Send Matrix message (Credential)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FTZ7UvOYYyINgp5P",
          "name": "Paperless-ngx"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $json || {};\nconst statusCode = Number(response.statusCode || response.code || 0) || null;\nconst hasError = !!response.error || !!response.message || !!response.errcode || (statusCode !== null && statusCode >= 400);\nconst ok = !hasError && (statusCode === null || (statusCode >= 200 && statusCode < 300));\nconst resolved = $('Resolve and validate payload').item.json || {};\n\nreturn [{\n  json: {\n    ok,\n    statusCode,\n    usedRoom: resolved.usedRoom || null,\n    usedHomeserverUrl: resolved.usedHomeserverUrl || null,\n    usedAuth: 'credential',\n    response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        544
      ],
      "id": "305bf190-58bc-4b73-a9c3-8b7a1233a4a3",
      "name": "Evaluate credential attempt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7aa296f1-83ea-49da-9754-a7ad2f5906f2",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3008,
        544
      ],
      "id": "6148eace-cf95-4a97-b9fd-109e16d812a1",
      "name": "If credential send succeeded"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Resolve and validate payload').item.json.requestUrl }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ msgtype: $('Resolve and validate payload').item.json.msgtype, body: $('Resolve and validate payload').item.json.message }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3280,
        560
      ],
      "id": "2573e4af-c723-4b10-8f6c-2385a53e921a",
      "name": "Send Matrix message (Token/No Auth)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $json || {};\nconst statusCode = Number(response.statusCode || response.code || 0) || null;\nconst hasError = !!response.error || !!response.message || !!response.errcode || (statusCode !== null && statusCode >= 400);\nconst ok = !hasError && (statusCode === null || (statusCode >= 200 && statusCode < 300));\nconst resolved = $('Resolve and validate payload').item.json || {};\n\nreturn [{\n  json: {\n    ok,\n    statusCode,\n    usedRoom: resolved.usedRoom || null,\n    usedHomeserverUrl: resolved.usedHomeserverUrl || null,\n    usedAuth: resolved.hasFallbackToken ? 'fallbackToken' : 'none',\n    response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        544
      ],
      "id": "06cf5a7c-59da-41b6-8398-14c672f6c654",
      "name": "Evaluate fallback attempt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0edd147f-5d98-44a0-8d17-70113f97f718",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3760,
        544
      ],
      "id": "b8e2d116-9d73-41b5-8c1a-573551899e27",
      "name": "If fallback send succeeded"
    },
    {
      "parameters": {
        "jsCode": "const credentialResult = $('Evaluate credential attempt').item.json || {};\nconst fallbackResult = $('Evaluate fallback attempt').item.json || {};\nconst resolved = $('Resolve and validate payload').item.json || {};\n\nconst credentialMessage = credentialResult.response?.error || credentialResult.response?.message || credentialResult.response?.errcode || 'unknown credential error';\nconst fallbackMessage = fallbackResult.response?.error || fallbackResult.response?.message || fallbackResult.response?.errcode || 'unknown fallback error';\nconst fallbackMode = resolved.hasFallbackToken ? 'fallback token' : 'no auth';\n\nthrow new Error(`Matrix send failed. Credential attempt failed (${credentialMessage}). Fallback attempt (${fallbackMode}) failed (${fallbackMessage}).`);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4032,
        560
      ],
      "id": "68ad73ae-e4f3-4f65-be82-299cf47f375f",
      "name": "Fail send"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set test input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set test input": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Set Matrix config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Matrix config": {
      "main": [
        [
          {
            "node": "Resolve and validate payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve and validate payload": {
      "main": [
        [
          {
            "node": "If payload valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If payload valid": {
      "main": [
        [
          {
            "node": "Send Matrix message (Credential)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fail validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Matrix message (Credential)": {
      "main": [
        [
          {
            "node": "Evaluate credential attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate credential attempt": {
      "main": [
        [
          {
            "node": "If credential send succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If credential send succeeded": {
      "main": [
        [],
        [
          {
            "node": "Send Matrix message (Token/No Auth)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Matrix message (Token/No Auth)": {
      "main": [
        [
          {
            "node": "Evaluate fallback attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate fallback attempt": {
      "main": [
        [
          {
            "node": "If fallback send succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If fallback send succeeded": {
      "main": [
        [],
        [
          {
            "node": "Fail send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Bin1Me6S1IWNK7e7",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "timeSavedPerExecution": 1
  },
  "versionId": "d09e6254-d4a3-4425-999c-0864128afb1e",
  "meta": {
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "wugbJHW95HgPU4aT",
  "tags": [
    {
      "name": "Matrix",
      "id": "22nfFEPAE3H7Nmyn",
      "updatedAt": "2026-03-02T19:00:13.283Z",
      "createdAt": "2026-03-02T19:00:13.283Z"
    }
  ]
}