workflows/Matrix - Send Message.json
{
  "name": "Matrix - Send Message",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        4544,
        960
      ],
      "id": "4a67025f-4320-47ec-ae04-a0281f865695",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        4336,
        1168
      ],
      "id": "9160fd9d-9deb-40cd-a8d1-2fb7e0b4861c",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73e05276-5745-4b4d-bab7-c7f56ccfbdcd",
              "name": "message",
              "value": "n8n: This is a test message",
              "type": "string"
            },
            {
              "id": "5de43b46-e3d4-40e2-8ff3-d7f95e073ef2",
              "name": "room",
              "value": "!Testroom:3x3cut0r.de",
              "type": "string"
            },
            {
              "id": "7fe36c4f-77fa-4896-b72b-4d14993f1852",
              "name": "msgtype",
              "value": "m.text",
              "type": "string"
            },
            {
              "id": "9f9ca8ce-23f1-44e4-aecc-8f46f32fd31c",
              "name": "accessToken",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4544,
        1168
      ],
      "id": "70804732-7e79-4437-8d83-0b23914beac2",
      "name": "Set test input"
    },
    {
      "parameters": {
        "jsCode": "const rawMessage = $json.message;\nconst rawRoom = $json.room;\nconst rawMsgtype = $json.msgtype;\nconst rawAccessToken = $json.accessToken;\n\nconst message = typeof rawMessage === 'string' ? rawMessage.trim() : '';\nconst room = typeof rawRoom === 'string' ? rawRoom.trim() : '';\nconst msgtype = typeof rawMsgtype === 'string' && rawMsgtype.trim() ? rawMsgtype.trim() : 'm.text';\nconst accessToken = typeof rawAccessToken === 'string' ? rawAccessToken.trim() : '';\n\nreturn [{\n  json: {\n    message,\n    room,\n    msgtype,\n    accessToken\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4752,
        1072
      ],
      "id": "1e612cf5-70cf-4195-a328-9c573d8ff198",
      "name": "Normalize input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f93141cf-0add-4305-a8f3-a420cb0da8df",
              "name": "homeserverUrl",
              "value": "https://synapse.3x3cut0r.de",
              "type": "string"
            },
            {
              "id": "2ef70473-8e53-49c8-b5de-a4f995f0606d",
              "name": "defaultRoom",
              "value": "Testroom",
              "type": "string"
            },
            {
              "id": "f3f56f51-cef4-45ca-a42f-08d9f3292f27",
              "name": "fallbackAccessToken",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4960,
        1072
      ],
      "id": "b92d4a1b-ff09-4b2e-9dc7-37fa66e3a693",
      "name": "Set Matrix config"
    },
    {
      "parameters": {
        "content": "# Konfiguration\n\nDieser Workflow ist als Subworkflow gedacht und kann ueber **Execute Workflow** aufgerufen werden.\n\n## Auth-Reihenfolge\n1) Erst mit n8n Credential (HTTP Header Auth im Node **Send Matrix message (Credential)**).\n2) Bei Fehler: Fallback nur mit Input `accessToken`.\n3) Wenn beides fehlschlaegt, endet der Workflow mit Fehler.\n\n## Token in n8n hinterlegen\n### Variante 1 (empfohlen): Credential\n1) In n8n unter **Credentials** ein Credential vom Typ **HTTP Header Auth** anlegen.\n2) Header Name: `Authorization`\n3) Header Value: `Bearer <MATRIX_ACCESS_TOKEN>`\n4) Dieses Credential im Node **Send Matrix message (Credential)** auswaehlen.\n\n### Optional pro Aufruf\n- `accessToken` im Input setzen (nur pro Aufruf, kein ENV-Default aktiv).\n\n## Aktive Defaults im Workflow\n- homeserverUrl: `http://synapse:8008`\n- defaultRoom: `Testroom`\n- fallbackAccessToken: leer\n\n## ENV-Beispiele (nur Copy/Paste, nicht aktiv)\n- `{{ $env.MATRIX_DEFAULT_ROOM_ID }}`\n- `{{ $env.MATRIX_ACCESS_TOKEN }}`\n\n## Input\n- `message` (pflicht)\n- `room` (optional, sonst `defaultRoom`)\n- `msgtype` (optional, default `m.text`)\n- `accessToken` (optional, bevorzugt vor leerem Fallback)",
        "height": 896,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4752,
        144
      ],
      "id": "760c7344-e152-4bea-9e65-8f15b594da6f",
      "name": "Config note"
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize input').item.json || {};\nconst config = $('Set Matrix config').item.json || {};\n\nconst message = typeof normalized.message === 'string' ? normalized.message.trim() : '';\nconst inputRoom = typeof normalized.room === 'string' ? normalized.room.trim() : '';\nconst msgtype = typeof normalized.msgtype === 'string' && normalized.msgtype.trim() ? normalized.msgtype.trim() : 'm.text';\nconst inputAccessToken = typeof normalized.accessToken === 'string' ? normalized.accessToken.trim() : '';\n\nconst homeserverUrlRaw = typeof config.homeserverUrl === 'string' ? config.homeserverUrl.trim() : '';\nconst defaultRoomRaw = typeof config.defaultRoom === 'string' ? config.defaultRoom.trim() : '';\nconst fallbackAccessTokenRaw = typeof config.fallbackAccessToken === 'string' ? config.fallbackAccessToken.trim() : '';\n\nconst usedHomeserverUrl = homeserverUrlRaw.replace(/\\/+$/, '');\nconst usedRoom = inputRoom || defaultRoomRaw;\nconst resolvedFallbackToken = inputAccessToken || fallbackAccessTokenRaw;\nconst hasFallbackToken = !!resolvedFallbackToken;\nconst txnId = `n8n-${Date.now()}-${Math.random().toString(36).slice(2, 10)}`;\n\nlet error = '';\nif (!message) {\n  error = 'Input field message is required and must be a non-empty string.';\n} else if (!usedRoom) {\n  error = 'No room configured. Pass room or set defaultRoom in node Set Matrix config.';\n} else if (!usedHomeserverUrl) {\n  error = 'No homeserver URL configured. Set homeserverUrl in node Set Matrix config.';\n}\n\nconst requestUrl = !error\n  ? `${usedHomeserverUrl}/_matrix/client/v3/rooms/${encodeURIComponent(usedRoom)}/send/m.room.message/${encodeURIComponent(txnId)}`\n  : '';\n\nreturn [{\n  json: {\n    message,\n    msgtype,\n    usedRoom,\n    usedHomeserverUrl,\n    resolvedFallbackToken,\n    hasFallbackToken,\n    txnId,\n    requestUrl,\n    okToSend: !error,\n    error\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5168,
        1072
      ],
      "id": "831ba7e3-5dd9-4ab0-aabf-a549a0feaea2",
      "name": "Resolve and validate payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2cc8f572-2612-4678-995f-e4ec0fd9ad2e",
              "leftValue": "={{ $json.okToSend }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5376,
        1072
      ],
      "id": "d24f98cb-2134-4174-b0b4-a9c434049f7e",
      "name": "If payload valid"
    },
    {
      "parameters": {
        "jsCode": "throw new Error($json.error || 'Invalid input');"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5600,
        1184
      ],
      "id": "b8cb223d-225f-4cc8-bed5-d01aff2050cf",
      "name": "Fail validation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.requestUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ msgtype: $json.msgtype, body: $json.message }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5600,
        944
      ],
      "id": "d0afe8dd-394f-40ca-aa4e-72b6e772f32b",
      "name": "Send Matrix message (Credential)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MbAMZ55kO8vjDnFQ",
          "name": "Synapse"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $json || {};\nconst statusCode = Number(response.statusCode || response.code || 0) || null;\nconst hasError = !!response.error || !!response.message || !!response.errcode || !!response.name || !!response.stack || (statusCode !== null && statusCode >= 400);\nconst ok = !hasError && (statusCode === null || (statusCode >= 200 && statusCode < 300));\nconst resolved = $('Resolve and validate payload').item.json || {};\n\nreturn [{\n  json: {\n    ok,\n    statusCode,\n    usedRoom: resolved.usedRoom || null,\n    usedHomeserverUrl: resolved.usedHomeserverUrl || null,\n    usedAuth: 'credential',\n    response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5808,
        944
      ],
      "id": "0ee89186-2456-4be9-9cbb-70003787f7d0",
      "name": "Evaluate credential attempt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7aa296f1-83ea-49da-9754-a7ad2f5906f2",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6016,
        944
      ],
      "id": "db196f55-7994-4769-8b23-18496079a9dd",
      "name": "If credential send succeeded"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Resolve and validate payload').item.json.requestUrl }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ msgtype: $('Resolve and validate payload').item.json.msgtype, body: $('Resolve and validate payload').item.json.message }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6240,
        960
      ],
      "id": "d8f292a2-e996-4b00-8cfa-588f2d9e7590",
      "name": "Send Matrix message (Token/No Auth)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $json || {};\nconst statusCode = Number(response.statusCode || response.code || 0) || null;\nconst hasError = !!response.error || !!response.message || !!response.errcode || !!response.name || !!response.stack || (statusCode !== null && statusCode >= 400);\nconst ok = !hasError && (statusCode === null || (statusCode >= 200 && statusCode < 300));\nconst resolved = $('Resolve and validate payload').item.json || {};\n\nreturn [{\n  json: {\n    ok,\n    statusCode,\n    usedRoom: resolved.usedRoom || null,\n    usedHomeserverUrl: resolved.usedHomeserverUrl || null,\n    usedAuth: resolved.hasFallbackToken ? 'fallbackToken' : 'none',\n    response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6448,
        960
      ],
      "id": "5495ec61-f589-4f1c-ba68-2f35461a6625",
      "name": "Evaluate fallback attempt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0edd147f-5d98-44a0-8d17-70113f97f718",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6656,
        960
      ],
      "id": "37387692-f40c-40df-9905-dcd904a24c9c",
      "name": "If fallback send succeeded"
    },
    {
      "parameters": {
        "jsCode": "const credentialResult = $('Evaluate credential attempt').item.json || {};\nconst fallbackResult = $('Evaluate fallback attempt').item.json || {};\nconst resolved = $('Resolve and validate payload').item.json || {};\n\nconst credentialMessage = credentialResult.response?.error || credentialResult.response?.message || credentialResult.response?.errcode || 'unknown credential error';\nconst fallbackMessage = fallbackResult.response?.error || fallbackResult.response?.message || fallbackResult.response?.errcode || 'unknown fallback error';\nconst fallbackMode = resolved.hasFallbackToken ? 'fallback token' : 'no auth';\n\nthrow new Error(`Matrix send failed. Credential attempt failed (${credentialMessage}). Fallback attempt (${fallbackMode}) failed (${fallbackMessage}).`);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6880,
        976
      ],
      "id": "55d6fb56-5237-44e5-8bef-0886a7ac0b2e",
      "name": "Fail send"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set test input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set test input": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Set Matrix config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Matrix config": {
      "main": [
        [
          {
            "node": "Resolve and validate payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve and validate payload": {
      "main": [
        [
          {
            "node": "If payload valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If payload valid": {
      "main": [
        [
          {
            "node": "Send Matrix message (Credential)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fail validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Matrix message (Credential)": {
      "main": [
        [
          {
            "node": "Evaluate credential attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate credential attempt": {
      "main": [
        [
          {
            "node": "If credential send succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If credential send succeeded": {
      "main": [
        [],
        [
          {
            "node": "Send Matrix message (Token/No Auth)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Matrix message (Token/No Auth)": {
      "main": [
        [
          {
            "node": "Evaluate fallback attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate fallback attempt": {
      "main": [
        [
          {
            "node": "If fallback send succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If fallback send succeeded": {
      "main": [
        [],
        [
          {
            "node": "Fail send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Bin1Me6S1IWNK7e7",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 1
  },
  "versionId": "49364b85-19a6-4929-95d9-227bf48259a5",
  "meta": {
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "wugbJHW95HgPU4aT",
  "tags": [
    {
      "updatedAt": "2026-03-02T19:00:13.283Z",
      "createdAt": "2026-03-02T19:00:13.283Z",
      "id": "22nfFEPAE3H7Nmyn",
      "name": "Matrix"
    }
  ]
}