workflows/Paperless-ngx - Upload Document.json
{
  "name": "Paperless-ngx - Upload Document",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        5152,
        1312
      ],
      "id": "063bc12f-1ff5-4af6-86c3-08ba6aa42a9d",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "content": "# Paperless API Token als Credential einrichten\n\nIn n8n gibt es kein eigenes \"Paperless\"-Credential im Dropdown.\nNutze stattdessen **Header Auth** mit API-Token:\n\n1) In Paperless-ngx: **My Profile** -> API-Token erzeugen/kopieren.\n2) In n8n ein Credential anlegen: **Header Auth** (`httpHeaderAuth`).\n3) Header-Name: `Authorization`\n4) Header-Wert: `Token <DEIN_PAPERLESS_TOKEN>`\n   (wichtig: Praefix `Token ` inklusive Leerzeichen)\n5) In den beiden HTTP-Request-Nodes \"Upload to Paperless\" und\n   \"Get Paperless task status\" dieses Header-Auth-Credential auswaehlen.\n\nUpload-Endpoint:\n`POST https://paperless.3x3cut0r.de/api/documents/post_document/`\nals `multipart/form-data` mit Feld `document` (Binary).",
        "height": 400,
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5152,
        864
      ],
      "id": "59885cfa-158c-4bf2-b8be-10a627e50f51",
      "name": "Credential setup note"
    },
    {
      "parameters": {
        "jsCode": "const allowedExtensions = new Set([\n  'pdf', 'png', 'jpg', 'jpeg', 'tif', 'tiff', 'gif', 'webp', 'txt',\n  'doc', 'docx', 'odt', 'ppt', 'pptx', 'odp', 'xls', 'xlsx', 'ods', 'eml'\n]);\n\nconst item = $input.first();\nconst binary = item?.binary ?? {};\nconst binaryKeys = Object.keys(binary);\nconst binaryFieldName = binary.data ? 'data' : binaryKeys[0];\nconst file = binaryFieldName ? binary[binaryFieldName] : null;\nconst fallbackName = binaryFieldName ? `datei-aus-${binaryFieldName}` : 'unbekannt';\nconst filename = file?.fileName || fallbackName;\nconst extension = filename.includes('.') ? filename.split('.').pop().toLowerCase() : '';\n\nif (!file) {\n  return [{\n    json: {\n      isValid: false,\n      done: true,\n      isSuccess: false,\n      status: 'failure',\n      filename: 'unbekannt',\n      errorReason: 'Keine Binary-Datei im Input gefunden.',\n      signalMessage: 'Paperless: unbekannt konnte nicht hochgeladen werden'\n    }\n  }];\n}\n\nif (!extension || !allowedExtensions.has(extension)) {\n  return [{\n    json: {\n      isValid: false,\n      done: true,\n      isSuccess: false,\n      status: 'failure',\n      filename,\n      errorReason: `Dateityp .${extension || 'unbekannt'} wird von diesem Workflow nicht unterstuetzt.`,\n      signalMessage: `Paperless: ${filename} konnte nicht hochgeladen werden`\n    },\n    binary,\n  }];\n}\n\nreturn [{\n  json: {\n    isValid: true,\n    done: false,\n    isSuccess: false,\n    status: 'ready',\n    filename,\n    extension,\n    binaryFieldName\n  },\n  binary,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5360,
        1312
      ],
      "id": "ae6cf406-6553-490a-8986-6af214206779",
      "name": "Prepare input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "24f85eec-6463-4f1e-8c9c-0cc72e2cb2b6",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5568,
        1312
      ],
      "id": "1a90ab3b-cf82-465c-b6a7-1ab2a9e6e1f9",
      "name": "If input valid"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paperless.3x3cut0r.de/api/documents/post_document/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "={{ $json.binaryFieldName }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5776,
        1296
      ],
      "id": "50dca91c-69ad-4cb6-a370-91cc664594e8",
      "name": "Upload to Paperless",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FTZ7UvOYYyINgp5P",
          "name": "Paperless-ngx"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const filename = $('Prepare input').item.json.filename || 'unbekannt';\nconst reason = $json.message || $json.error?.message || 'HTTP-Fehler beim Upload zu Paperless.';\n\nreturn [{\n  json: {\n    done: true,\n    isSuccess: false,\n    status: 'failure',\n    filename,\n    errorReason: reason,\n    signalMessage: `Paperless: ${filename} konnte nicht hochgeladen werden`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6000,
        1408
      ],
      "id": "c3d31ebe-8fea-4ef6-9b5f-0d12dc6617f2",
      "name": "Build upload failure"
    },
    {
      "parameters": {
        "jsCode": "const source = $('Prepare input').item.json;\nconst filename = source.filename || 'unbekannt';\nconst payload = $json;\n\nlet taskId = payload?.task_id ?? payload?.taskId ?? payload?.id ?? payload?.uuid ?? null;\nif (!taskId && typeof payload === 'string') taskId = payload;\nif (!taskId && typeof payload?.data === 'string') taskId = payload.data;\nif (!taskId && payload?.data?.task_id) taskId = payload.data.task_id;\n\nif (!taskId) {\n  return [{\n    json: {\n      done: true,\n      isSuccess: false,\n      status: 'failure',\n      filename,\n      errorReason: 'Paperless hat keine task_id fuer den Upload geliefert.',\n      signalMessage: `Paperless: ${filename} konnte nicht hochgeladen werden`\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    done: true,\n    isSuccess: true,\n    status: 'success',\n    filename,\n    taskId,\n    taskStatus: 'ACCEPTED',\n    attempts: 0,\n    maxAttempts: 36,\n    pollDelaySeconds: 5,\n    signalMessage: `Paperless: ${filename} wurde erfolgreich hochgeladen`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6000,
        1184
      ],
      "id": "8a7a242e-b412-400b-a434-fab1115112cb",
      "name": "Extract task metadata"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "39d53c04-b6fe-4cf8-a32d-c787b96da44d",
              "leftValue": "={{ $json.done }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6208,
        1184
      ],
      "id": "6e8130a3-9139-4812-aabe-de0ec92d5fd5",
      "name": "If processing finished"
    },
    {
      "parameters": {
        "amount": "={{ $json.pollDelaySeconds || 5 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6416,
        1200
      ],
      "id": "95fb1f72-a350-44b1-a01b-50f3028585e9",
      "name": "Wait before polling",
      "webhookId": "ca1dd12d-a83f-4cdb-967e-5c45c281e300"
    },
    {
      "parameters": {
        "url": "=https://paperless.3x3cut0r.de/api/tasks/?task_id={{ $json.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6624,
        1200
      ],
      "id": "f8ceb54d-f148-4ef0-8d17-38aa2b862853",
      "name": "Get Paperless task status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FTZ7UvOYYyINgp5P",
          "name": "Paperless-ngx"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Wait before polling').item.json;\nconst filename = ctx.filename || 'unbekannt';\nconst response = $json;\nconst results = Array.isArray(response.results) ? response.results : [];\nconst task = results[0] || response.task || null;\nconst statusRaw = (task?.status || task?.state || response.status || '').toString().toUpperCase();\n\nconst attempts = Number(ctx.attempts || 0) + 1;\nconst maxAttempts = Number(ctx.maxAttempts || 36);\n\nconst doneByStatus = statusRaw === 'SUCCESS' || statusRaw === 'FAILURE';\nconst timedOut = attempts >= maxAttempts && !doneByStatus;\nconst done = doneByStatus || timedOut;\nconst isSuccess = statusRaw === 'SUCCESS';\n\nlet errorReason = '';\nif (statusRaw === 'FAILURE') {\n  errorReason = task?.result || task?.error || 'Paperless meldet FAILURE.';\n}\nif (timedOut) {\n  errorReason = `Timeout nach ${attempts} Polling-Versuchen.`;\n}\n\nlet signalMessage = '';\nif (done) {\n  signalMessage = isSuccess\n    ? `Paperless: Dokument ${filename} wurde hinzugefuegt`\n    : `Paperless: ${filename} konnte nicht hochgeladen werden`;\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    attempts,\n    done,\n    isSuccess,\n    status: done ? (isSuccess ? 'success' : 'failure') : 'running',\n    taskStatus: statusRaw || 'UNKNOWN',\n    documentId: task?.related_document || task?.document_id || task?.documentId || null,\n    errorReason,\n    signalMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6832,
        1200
      ],
      "id": "a4016b2a-bd56-4741-9181-76251dadfd6c",
      "name": "Evaluate task status"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => ({\n  json: {\n    ...item.json,\n    message: item.json.signalMessage || '',\n    recipient: ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6416,
        1408
      ],
      "id": "91c629b6-f52e-4e92-8303-119af18d1576",
      "name": "Prepare Signal payload"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jEC35MXsssds8HOB",
          "mode": "list",
          "cachedResultUrl": "/workflow/jEC35MXsssds8HOB",
          "cachedResultName": "Signal - Send Message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        6624,
        1408
      ],
      "id": "34c281a0-4361-442c-849a-9573a3e55d5f",
      "name": "Signal - Send Message",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\nconst prepared = $('Prepare Signal payload').all();\n\nreturn inputItems.map((item, index) => {\n  const source = prepared[index]?.json || prepared[0]?.json || {};\n  const signal = item.json || {};\n\n  return {\n    json: {\n      status: source.status || (source.isSuccess ? 'success' : 'failure'),\n      filename: source.filename || null,\n      taskId: source.taskId || null,\n      taskStatus: source.taskStatus || null,\n      documentId: source.documentId || null,\n      errorReason: source.errorReason || null,\n      signal\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7056,
        1312
      ],
      "id": "ca38cc2d-7bc3-4f7f-9d26-592eb1278794",
      "name": "Return result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "727c3138-c137-4df1-b37a-522d17a9eba4",
              "leftValue": "={{ $('Prepare Signal payload').item.json.isSuccess }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6832,
        1408
      ],
      "id": "1391c54f-bd79-4afe-8709-6993b4e422fb",
      "name": "If final result succeeded"
    },
    {
      "parameters": {
        "errorMessage": "={{ $('Prepare Signal payload').item.json.errorReason || `Paperless-Upload fuer ${$('Prepare Signal payload').item.json.filename || 'unbekannt'} ist fehlgeschlagen.` }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        7056,
        1504
      ],
      "id": "70230d6a-ab49-4c17-b669-f484c49df7b4",
      "name": "Stop workflow on upload failure"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare input": {
      "main": [
        [
          {
            "node": "If input valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If input valid": {
      "main": [
        [
          {
            "node": "Upload to Paperless",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Signal payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Paperless": {
      "main": [
        [
          {
            "node": "Extract task metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build upload failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build upload failure": {
      "main": [
        [
          {
            "node": "Prepare Signal payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract task metadata": {
      "main": [
        [
          {
            "node": "If processing finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If processing finished": {
      "main": [
        [
          {
            "node": "Prepare Signal payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait before polling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait before polling": {
      "main": [
        [
          {
            "node": "Get Paperless task status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Paperless task status": {
      "main": [
        [
          {
            "node": "Evaluate task status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate task status": {
      "main": [
        [
          {
            "node": "If processing finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Signal payload": {
      "main": [
        [
          {
            "node": "Signal - Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signal - Send Message": {
      "main": [
        [
          {
            "node": "If final result succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If final result succeeded": {
      "main": [
        [
          {
            "node": "Return result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop workflow on upload failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Bin1Me6S1IWNK7e7",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 3
  },
  "versionId": "78c0eefe-de2e-4ed5-8f63-93a657f9a206",
  "meta": {
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "VY97ocet0nc0Lkpr",
  "tags": [
    {
      "updatedAt": "2026-03-01T07:53:37.792Z",
      "createdAt": "2026-03-01T07:53:37.792Z",
      "id": "26zzfx1aLFPZLhVr",
      "name": "Paperless"
    }
  ]
}
