workflows/Paperless-ngx - Upload Document.json
{
  "name": "Paperless-ngx - Upload Document",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1104,
        704
      ],
      "id": "62d37d6f-be82-4022-8768-a9fca1e7166a",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "content": "# Paperless API Token als Credential einrichten\n\nIn n8n gibt es kein eigenes \"Paperless\"-Credential im Dropdown.\nNutze stattdessen **Header Auth** mit API-Token:\n\n1) In Paperless-ngx: **My Profile** -> API-Token erzeugen/kopieren.\n2) In n8n ein Credential anlegen: **Header Auth** (`httpHeaderAuth`).\n3) Header-Name: `Authorization`\n4) Header-Wert: `Token <DEIN_PAPERLESS_TOKEN>`\n   (wichtig: Praefix `Token ` inklusive Leerzeichen)\n5) In den beiden HTTP-Request-Nodes \"Upload to Paperless\" und\n   \"Get Paperless task status\" dieses Header-Auth-Credential auswaehlen.\n\nUpload-Endpoint:\n`POST https://paperless.3x3cut0r.de/api/documents/post_document/`\nals `multipart/form-data` mit Feld `document` (Binary).",
        "height": 400,
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        256
      ],
      "id": "90e1e1b5-ec2e-4cd8-a121-31e1b51d3040",
      "name": "Credential setup note"
    },
    {
      "parameters": {
        "jsCode": "const allowedExtensions = new Set([\n  'pdf', 'png', 'jpg', 'jpeg', 'tif', 'tiff', 'gif', 'webp', 'txt',\n  'doc', 'docx', 'odt', 'ppt', 'pptx', 'odp', 'xls', 'xlsx', 'ods', 'eml'\n]);\n\nconst binary = $binary ?? {};\nconst binaryKeys = Object.keys(binary);\nconst binaryFieldName = binary.data ? 'data' : binaryKeys[0];\nconst file = binaryFieldName ? binary[binaryFieldName] : null;\nconst fallbackName = binaryFieldName ? `datei-aus-${binaryFieldName}` : 'unbekannt';\nconst filename = file?.fileName || fallbackName;\nconst extension = filename.includes('.') ? filename.split('.').pop().toLowerCase() : '';\n\nif (!file) {\n  return [{\n    json: {\n      isValid: false,\n      done: true,\n      isSuccess: false,\n      status: 'failure',\n      filename: 'unbekannt',\n      errorReason: 'Keine Binary-Datei im Input gefunden.',\n      signalMessage: 'Paperless: unbekannt konnte nicht hochgeladen werden'\n    }\n  }];\n}\n\nif (!extension || !allowedExtensions.has(extension)) {\n  return [{\n    json: {\n      isValid: false,\n      done: true,\n      isSuccess: false,\n      status: 'failure',\n      filename,\n      errorReason: `Dateityp .${extension || 'unbekannt'} wird von diesem Workflow nicht unterstuetzt.`,\n      signalMessage: `Paperless: ${filename} konnte nicht hochgeladen werden`\n    },\n    binary,\n  }];\n}\n\nreturn [{\n  json: {\n    isValid: true,\n    done: false,\n    isSuccess: false,\n    status: 'ready',\n    filename,\n    extension,\n    binaryFieldName\n  },\n  binary,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        704
      ],
      "id": "c952cc82-bd26-4fa9-953b-5ba34a2161ee",
      "name": "Prepare input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "24f85eec-6463-4f1e-8c9c-0cc72e2cb2b6",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        704
      ],
      "id": "255c515a-92db-491f-831a-75105fa0bcc2",
      "name": "If input valid"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paperless.3x3cut0r.de/api/documents/post_document/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "={{ $json.binaryFieldName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        688
      ],
      "id": "1928ba23-0576-4835-ac5e-4631ac91ce2d",
      "name": "Upload to Paperless",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FTZ7UvOYYyINgp5P",
          "name": "Paperless-ngx"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const filename = $('Prepare input').item.json.filename || 'unbekannt';\nconst reason = $json.message || $json.error?.message || 'HTTP-Fehler beim Upload zu Paperless.';\n\nreturn [{\n  json: {\n    done: true,\n    isSuccess: false,\n    status: 'failure',\n    filename,\n    errorReason: reason,\n    signalMessage: `Paperless: ${filename} konnte nicht hochgeladen werden`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        800
      ],
      "id": "5644c74b-2b9e-4c72-a673-1cf3a764d4bb",
      "name": "Build upload failure"
    },
    {
      "parameters": {
        "jsCode": "const source = $('Prepare input').item.json;\nconst filename = source.filename || 'unbekannt';\nconst payload = $json;\n\nlet taskId = payload?.task_id ?? payload?.taskId ?? payload?.id ?? payload?.uuid ?? null;\nif (!taskId && typeof payload === 'string') taskId = payload;\nif (!taskId && typeof payload?.data === 'string') taskId = payload.data;\nif (!taskId && payload?.data?.task_id) taskId = payload.data.task_id;\n\nif (!taskId) {\n  return [{\n    json: {\n      done: true,\n      isSuccess: false,\n      status: 'failure',\n      filename,\n      errorReason: 'Paperless hat keine task_id fuer den Upload geliefert.',\n      signalMessage: `Paperless: ${filename} konnte nicht hochgeladen werden`\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    done: false,\n    isSuccess: false,\n    status: 'running',\n    filename,\n    taskId,\n    taskStatus: 'PENDING',\n    attempts: 0,\n    maxAttempts: 36,\n    pollDelaySeconds: 5\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        576
      ],
      "id": "9d0c5c71-5087-401c-8c5f-f574aee84376",
      "name": "Extract task metadata"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "39d53c04-b6fe-4cf8-a32d-c787b96da44d",
              "leftValue": "={{ $json.done }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2240,
        576
      ],
      "id": "38755c1c-96e5-464c-9f2d-a1b3057a5b94",
      "name": "If processing finished"
    },
    {
      "parameters": {
        "amount": "={{ $json.pollDelaySeconds || 5 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2464,
        592
      ],
      "id": "33520431-d799-4213-9036-6c6f83d40f08",
      "name": "Wait before polling",
      "webhookId": "ca1dd12d-a83f-4cdb-967e-5c45c281e300"
    },
    {
      "parameters": {
        "url": "=https://paperless.3x3cut0r.de/api/tasks/?task_id={{ $json.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        592
      ],
      "id": "62646d61-7f8e-4a04-a18b-ca64bb2838a3",
      "name": "Get Paperless task status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FTZ7UvOYYyINgp5P",
          "name": "Paperless-ngx"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Wait before polling').item.json;\nconst filename = ctx.filename || 'unbekannt';\nconst response = $json;\nconst results = Array.isArray(response.results) ? response.results : [];\nconst task = results[0] || response.task || null;\nconst statusRaw = (task?.status || task?.state || response.status || '').toString().toUpperCase();\n\nconst attempts = Number(ctx.attempts || 0) + 1;\nconst maxAttempts = Number(ctx.maxAttempts || 36);\n\nconst doneByStatus = statusRaw === 'SUCCESS' || statusRaw === 'FAILURE';\nconst timedOut = attempts >= maxAttempts && !doneByStatus;\nconst done = doneByStatus || timedOut;\nconst isSuccess = statusRaw === 'SUCCESS';\n\nlet errorReason = '';\nif (statusRaw === 'FAILURE') {\n  errorReason = task?.result || task?.error || 'Paperless meldet FAILURE.';\n}\nif (timedOut) {\n  errorReason = `Timeout nach ${attempts} Polling-Versuchen.`;\n}\n\nlet signalMessage = '';\nif (done) {\n  signalMessage = isSuccess\n    ? `Paperless: Dokument ${filename} wurde hinzugefuegt`\n    : `Paperless: ${filename} konnte nicht hochgeladen werden`;\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    attempts,\n    done,\n    isSuccess,\n    status: done ? (isSuccess ? 'success' : 'failure') : 'running',\n    taskStatus: statusRaw || 'UNKNOWN',\n    documentId: task?.related_document || task?.document_id || task?.documentId || null,\n    errorReason,\n    signalMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        592
      ],
      "id": "977ab6fd-7563-4846-9100-6c129eb5c116",
      "name": "Evaluate task status"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => ({\n  json: {\n    ...item.json,\n    message: item.json.signalMessage || '',\n    recipient: ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        800
      ],
      "id": "4ed477f0-66ee-4b76-87d9-98b17dcac552",
      "name": "Prepare Signal payload"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jEC35MXsssds8HOB",
          "mode": "list",
          "cachedResultUrl": "/workflow/jEC35MXsssds8HOB",
          "cachedResultName": "Signal - Send Message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2672,
        800
      ],
      "id": "077fab15-2485-4ab6-8c63-f6ba92aba397",
      "name": "Signal - Send Message",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => ({\n  json: {\n    status: item.json.status || (item.json.isSuccess ? 'success' : 'failure'),\n    filename: item.json.filename || null,\n    taskId: item.json.taskId || null,\n    taskStatus: item.json.taskStatus || null,\n    documentId: item.json.documentId || null,\n    errorReason: item.json.errorReason || null\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3104,
        704
      ],
      "id": "baf6eaf0-e74b-43f1-b631-5951d840d8e0",
      "name": "Return result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "727c3138-c137-4df1-b37a-522d17a9eba4",
              "leftValue": "={{ $('Prepare Signal payload').item.json.isSuccess }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2880,
        800
      ],
      "id": "481d86ec-e8e5-42ae-bb96-0bafae284d9f",
      "name": "If final result succeeded"
    },
    {
      "parameters": {
        "errorMessage": "={{ $('Prepare Signal payload').item.json.errorReason || `Paperless-Upload fuer ${$('Prepare Signal payload').item.json.filename || 'unbekannt'} ist fehlgeschlagen.` }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3104,
        896
      ],
      "id": "d70b7670-c573-4a02-9ce9-1a02384d2626",
      "name": "Stop workflow on upload failure"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare input": {
      "main": [
        [
          {
            "node": "If input valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If input valid": {
      "main": [
        [
          {
            "node": "Upload to Paperless",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Signal payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Paperless": {
      "main": [
        [
          {
            "node": "Extract task metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build upload failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build upload failure": {
      "main": [
        [
          {
            "node": "Prepare Signal payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract task metadata": {
      "main": [
        [
          {
            "node": "If processing finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If processing finished": {
      "main": [
        [
          {
            "node": "Prepare Signal payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait before polling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait before polling": {
      "main": [
        [
          {
            "node": "Get Paperless task status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Paperless task status": {
      "main": [
        [
          {
            "node": "Evaluate task status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate task status": {
      "main": [
        [
          {
            "node": "If processing finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Signal payload": {
      "main": [
        [
          {
            "node": "Signal - Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signal - Send Message": {
      "main": [
        [
          {
            "node": "If final result succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If final result succeeded": {
      "main": [
        [
          {
            "node": "Return result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop workflow on upload failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Bin1Me6S1IWNK7e7",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 3
  },
  "versionId": "d42b5079-827e-4188-beb3-cb450c556160",
  "meta": {
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "VY97ocet0nc0Lkpr",
  "tags": [
    {
      "updatedAt": "2026-03-01T07:53:37.792Z",
      "createdAt": "2026-03-01T07:53:37.792Z",
      "id": "26zzfx1aLFPZLhVr",
      "name": "Paperless"
    }
  ]
}