workflows/Rocket.Chat - Send Giphy.json
{
  "name": "Rocket.Chat - Send Giphy",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Get preview.items array from $input\nconst previews = $input.first().json.preview.items;\n\nif (!Array.isArray(previews) || previews.length === 0) {\n  throw new Error(\"No preview items returned.\");\n}\n\n// Pick random index from all available items\nconst randomIndex = Math.floor(Math.random() * previews.length);\n\n// Pick the item\nconst selected = previews[randomIndex];\n\n// Return as new item\nreturn [\n  {\n    json: {\n      id: selected.id,\n      type: selected.type,\n      value: selected.value\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2976,
        224
      ],
      "id": "ebedcf55-1365-4182-abb4-2f1c2c53df61",
      "name": "Pick random preview"
    },
    {
      "parameters": {
        "url": "https://chat.3x3cut0r.de/api/v1/commands.preview",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "rocketchatApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "giphy"
            },
            {
              "name": "roomId",
              "value": "={{ $('Set roomId').item.json.roomId }}"
            },
            {
              "name": "params",
              "value": "={{ $('Get a keyword or phrase').item.json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        240
      ],
      "id": "5b62261c-b9f4-45dd-bee8-a174e9df1264",
      "name": "Get Giphy preview",
      "credentials": {
        "rocketchatApi": {
          "id": "MOy67U60d183CN6f",
          "name": "Rocket account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.3x3cut0r.de/api/v1/commands.preview",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "rocketchatApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  command: \"giphy\",\n  roomId: $node[\"Set roomId\"].json.roomId,\n  params: $node[\"Get a keyword or phrase\"].json.message.content,\n  triggerId: \"auto-\" + Date.now(),\n  previewItem: {\n    id: $node[\"Pick random preview\"].json.id,\n    type: $node[\"Pick random preview\"].json.type,\n    value: $node[\"Pick random preview\"].json.value\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        224
      ],
      "id": "4158f61b-8477-48c2-956a-91ff472d8936",
      "name": "Send picked preview",
      "executeOnce": true,
      "credentials": {
        "rocketchatApi": {
          "id": "MOy67U60d183CN6f",
          "name": "Rocket account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05fed64f-a3aa-4602-b044-20a10c5e79b3",
              "name": "roomId",
              "value": "eQTPRwGLAaPaCBkJz",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        224
      ],
      "id": "80cb93d6-76fb-4520-9c78-daa7dca968ce",
      "name": "Set roomId"
    },
    {
      "parameters": {
        "cityName": "Dornstadt",
        "language": "de"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        656,
        224
      ],
      "id": "dc1cc171-f445-45ba-b22d-f2b87fb77366",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "aQTh3GhtBRk6LGt9",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const date = new Date();\nconst weekday = date.toLocaleDateString('de-DE', { weekday: 'long' }); // z. B. \"Montag\"\n\nconst iso = date.toISOString().slice(0, 10); // \"2025-07-12\"\n\nconst month = date.getMonth(); // 0 = Januar\nconst season =\n  month < 2 || month === 11 ? 'Winter' :\n  month < 5              ? 'Frühling' :\n  month < 8              ? 'Sommer'  :\n                           'Herbst';\n\nreturn {\n  json: {\n    weekday,\n    date_iso: iso,\n    season\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        224
      ],
      "id": "48681455-5876-4840-8d06-c73712741e3b",
      "name": "Get weekday, date and season"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "messages": {
          "values": [
            {
              "content": "=You are **GifKeywordBot**.\nTask:\n1. Generate 1–3 short keywords (at least 1, but max 3 words total) for the `/giphy` command in Rocket.Chat. Try to use less than more words.\n2. Base your choice on:\n   • the current weekday,\n   • German public holidays (if today is one),\n   • moods at work, like: \"i need coffee\", \"boring meeting\", \"i am stressed\" ...\n   • moods at waking up, like: \"i am tired\", \"today i feel fit\"\n   • the current weather in Germany,\n3. Keep it workplace-safe.\n\nOutput format:\n• English keywords.\n• One single line, no bullet points.\n• Only the keyword phrase(s), separated by a single space if multiple.\n• No quotation marks, hashtags or other punctuation.\n\nExample outputs:\n• sunshine coffee\n• rainy monday\n• beach vibes\n• Merry Christmas\n\nContext variables:\n  • Weekday: {{ $json[\"weekday\"] }}\n  • Date-ISO: {{ $json[\"date_iso\"] }}\n  • Season: {{ $json[\"season\"] }}\n  • Weather: ({{ $('OpenWeatherMap').item.json.weather[0].main }}, Temp: {{ $('OpenWeatherMap').item.json.main.temp }} °C, Feels lile: {{ $('OpenWeatherMap').item.json.main.feels_like }} °C, Windspeed: {{ $('OpenWeatherMap').item.json.wind.speed }} m/s, Windgust: {{ $('OpenWeatherMap').item.json.wind.gust }} m/s)\n\nNow think briefly and return the keywords only.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1088,
        224
      ],
      "id": "63f6b887-aa79-4e47-9633-370c135f7fad",
      "name": "Get a keyword or phrase",
      "credentials": {
        "openAiApi": {
          "id": "OpKdnL4SPopfN0cn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const delayMinutes = Math.floor(Math.random() * 30); // 0–29 Minuten\n\nreturn {\n  json: {\n    delayMinutes\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        224
      ],
      "id": "4446f41e-29b3-4857-a7f5-49b71826c0c5",
      "name": "Get a random minute (0-9)"
    },
    {
      "parameters": {
        "amount": "={{ $json.delayMinutes }}",
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        432,
        224
      ],
      "id": "f1aa4dfd-69b1-458e-879c-96bd3123e8dd",
      "name": "Wait minutes",
      "webhookId": "c1955a8a-6e21-411b-a970-daaa5d2ec135"
    },
    {
      "parameters": {
        "content": "# Trigger at 09:00, wait 0-29 mins to look more human",
        "height": 544,
        "width": 580
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "8ca6d8bf-4c47-4136-b515-0036bf944218",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Get weather and date for gpt context",
        "height": 544,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        0
      ],
      "typeVersion": 1,
      "id": "c07a31dd-439c-4f4b-9a59-f9e20e979ca5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Get 1-3 keywords from gpt api with given context",
        "height": 544,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        0
      ],
      "typeVersion": 1,
      "id": "21dd3023-9a6f-493d-b228-759b07d76168",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Get 10 giphy previews (retry 3 times)",
        "height": 544,
        "width": 1364
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        0
      ],
      "typeVersion": 1,
      "id": "8a491c8d-6436-4865-8bbe-430d9b5386f0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Pick and send a random gif from given previews",
        "height": 544,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2912,
        0
      ],
      "typeVersion": 1,
      "id": "3506be49-4f75-4e85-a4b5-acd740379fb1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2032,
        224
      ],
      "id": "109efe7e-9747-45f7-ac16-d15f16e10b58",
      "name": "Loop up to 3 times on failure",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f74feefa-cb17-4714-b54a-4c670141de44",
              "leftValue": "={{ ($json.preview?.items?.length || 0) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2480,
        240
      ],
      "id": "e942070f-9ee3-47d1-9e7b-2f377dba78aa",
      "name": "Has preview?",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2688,
        304
      ],
      "id": "652041bc-dd47-4db5-b69a-0bc6c4ebc267",
      "name": "Wait 2s",
      "webhookId": "e2f5fa83-fceb-492e-a066-fd224571ca9a"
    },
    {
      "parameters": {
        "jsCode": "throw new Error('No Giphy preview after 3 attempts');"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        96
      ],
      "id": "f91c1701-1d5f-453c-a156-508a964f1005",
      "name": "Error Message"
    },
    {
      "parameters": {
        "jsCode": "// outputs 3 items: { try: 1 }, { try: 2 }, { try: 3 }\nreturn Array.from({ length: 3 }, (_, i) => ({ json: { try: i + 1 } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        224
      ],
      "id": "fcc6cad0-c742-42c3-b71c-24d1248907f0",
      "name": "Generate 3 json objects"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        432,
        384
      ],
      "id": "3fe27b7d-f28a-4d3a-9bc3-ab4e25e2c084",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        224
      ],
      "id": "948f1f53-cd93-43a1-a03d-2e8523a931d0",
      "name": "Trigger at 09:00"
    }
  ],
  "pinData": {
    "Trigger at 09:00": [
      {
        "json": {
          "timestamp": "2025-08-04T07:00:13.019+02:00",
          "Readable date": "August 4th 2025, 7:00:13 am",
          "Readable time": "7:00:13 am",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "August",
          "Day of month": "04",
          "Hour": "07",
          "Minute": "00",
          "Second": "13",
          "Timezone": "Europe/Berlin (UTC+02:00)"
        }
      }
    ]
  },
  "connections": {
    "Get Giphy preview": {
      "main": [
        [
          {
            "node": "Has preview?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick random preview": {
      "main": [
        [
          {
            "node": "Send picked preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set roomId": {
      "main": [
        [
          {
            "node": "Generate 3 json objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Get weekday, date and season",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get weekday, date and season": {
      "main": [
        [
          {
            "node": "Get a keyword or phrase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a keyword or phrase": {
      "main": [
        [
          {
            "node": "Set roomId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a random minute (0-9)": {
      "main": [
        [
          {
            "node": "Wait minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait minutes": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop up to 3 times on failure": {
      "main": [
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Giphy preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has preview?": {
      "main": [
        [
          {
            "node": "Pick random preview",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s": {
      "main": [
        [
          {
            "node": "Loop up to 3 times on failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate 3 json objects": {
      "main": [
        [
          {
            "node": "Loop up to 3 times on failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger at 09:00": {
      "main": [
        [
          {
            "node": "Get a random minute (0-9)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Bin1Me6S1IWNK7e7",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate",
    "timeSavedPerExecution": 2,
    "executionTimeout": -1
  },
  "versionId": "f1c5421f-7ed5-46ad-bf63-7bed2e488499",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "cMtb5UL_ETErKRqaHmZ5i",
  "tags": []
}