workflows/Telegram - Send Message.json
{
  "name": "Telegram - Send Message",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        224
      ],
      "id": "2f672fc1-a77a-4091-9195-7f255c2099b4",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        432
      ],
      "id": "0113fc6c-ba82-4af2-a092-b3e9edddf888",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3c4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
              "name": "message",
              "value": "n8n: This is a test message",
              "type": "string"
            },
            {
              "id": "e4d5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
              "name": "recipient",
              "value": "=",
              "type": "string"
            },
            {
              "id": "f5e6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
              "name": "parseMode",
              "value": "",
              "type": "string"
            },
            {
              "id": "a6f7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
              "name": "disableNotification",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "b7a8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d",
              "name": "disableWebPagePreview",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        432
      ],
      "id": "10920a50-4097-4f09-a389-1355928499aa",
      "name": "Set test input"
    },
    {
      "parameters": {
        "jsCode": "const rawMessage = $json.message;\nconst rawRecipient = $json.recipient;\nconst rawParseMode = $json.parseMode;\nconst rawDisableNotification = $json.disableNotification;\nconst rawDisableWebPagePreview = $json.disableWebPagePreview;\n\nconst message = typeof rawMessage === 'string' ? rawMessage.trim() : '';\nconst recipient = typeof rawRecipient === 'string' ? rawRecipient.trim() : '';\nconst parseMode = typeof rawParseMode === 'string' ? rawParseMode.trim() : '';\nconst disableNotification = rawDisableNotification === true;\nconst disableWebPagePreview = rawDisableWebPagePreview === true;\n\nreturn [{\n  json: {\n    message,\n    recipient,\n    parseMode,\n    disableNotification,\n    disableWebPagePreview\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        336
      ],
      "id": "f6793fa8-83d8-4f14-b1be-a3b445b42805",
      "name": "Normalize input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0d1f2a3-b4c5-4d6e-7f8a-9b0c1d2e3f4a",
              "name": "defaultRecipient",
              "value": "-5213840069",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        336
      ],
      "id": "ec5c7114-e2f3-4f69-b262-d72635610a2a",
      "name": "Set default recipient"
    },
    {
      "parameters": {
        "content": "# Konfiguration\n\nTrage im Set-Node \"Set default recipient\" die Telegram chat_id ein\n(z. B. 123456789 oder @meinkanal).\nAlternativ kann der Empfaenger per Input-Feld \"recipient\" uebergeben werden.\n\nOptionale Felder (per Input oder leer lassen):\n- parseMode: HTML (Standard), MarkdownV2, Markdown (Legacy)\n- disableNotification: true/false\n- disableWebPagePreview: true/false\n\nCredentials: Telegram Bot-Token muss in n8n als Telegram Credential hinterlegt sein.",
        "height": 336,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -32
      ],
      "id": "28d8e782-dc9e-4fd4-a788-f62fcedfd105",
      "name": "Config note"
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize input').item.json || {};\nconst recipientConfig = $('Set default recipient').item.json || {};\n\nconst message = typeof normalized.message === 'string' ? normalized.message.trim() : '';\nconst inputRecipient = typeof normalized.recipient === 'string' ? normalized.recipient.trim() : '';\nconst configuredDefaultRecipient = typeof recipientConfig.defaultRecipient === 'string' ? recipientConfig.defaultRecipient.trim() : '';\n\nconst usedRecipient = inputRecipient || configuredDefaultRecipient;\nconst parseMode = typeof normalized.parseMode === 'string' && normalized.parseMode.trim() !== '' ? normalized.parseMode.trim() : 'HTML';\nconst disableNotification = normalized.disableNotification === true;\nconst disableWebPagePreview = normalized.disableWebPagePreview === true;\n\nlet error = '';\nif (!message) {\n  error = 'Input field message is required and must be a non-empty string.';\n} else if (!usedRecipient) {\n  error = 'No recipient configured. Pass recipient or set value in node Set default recipient.';\n}\n\nreturn [{\n  json: {\n    message,\n    usedRecipient,\n    parseMode,\n    disableNotification,\n    disableWebPagePreview,\n    okToSend: !error,\n    error\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        336
      ],
      "id": "0ae346b2-5935-493e-adc8-f76560bf0883",
      "name": "Resolve and validate payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c4d5e6f7-a8b9-4c0d-1e2f-3a4b5c6d7e8f",
              "leftValue": "={{ $json.okToSend }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        336
      ],
      "id": "e901d430-901c-4db2-a1c7-b08a66b3ed2a",
      "name": "If payload valid"
    },
    {
      "parameters": {
        "chatId": "={{ $json.usedRecipient }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": "={{ $json.disableNotification }}",
          "disable_web_page_preview": "={{ $json.disableWebPagePreview }}",
          "parse_mode": "={{ $json.parseMode }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        224
      ],
      "id": "14a964f7-76cd-4181-ad00-ec7f2b4d57c3",
      "name": "Send Telegram message",
      "webhookId": "c42eabb7-4034-4f4b-a6b7-36ddae38f768",
      "credentials": {
        "telegramApi": {
          "id": "GDgNBbrcug5Zhn5p",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const resolved = $('Resolve and validate payload').item.json || {};\nconst response = $json;\nconst messageId = response.result && response.result.message_id ? response.result.message_id : null;\nconst hasError = !!response.error || !!response.error_code;\nconst ok = !hasError && messageId !== null;\n\nreturn [{\n  json: {\n    ok,\n    messageId,\n    usedRecipient: resolved.usedRecipient,\n    response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        208
      ],
      "id": "16837a28-e229-4039-9758-33e60cce670a",
      "name": "Build send result"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: false,\n    messageId: null,\n    usedRecipient: $json.usedRecipient || null,\n    response: {\n      error: $json.error || 'Invalid input'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        448
      ],
      "id": "afac8e48-baf1-42a2-a87e-17f89f769499",
      "name": "Build validation error result"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set test input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set test input": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Set default recipient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set default recipient": {
      "main": [
        [
          {
            "node": "Resolve and validate payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve and validate payload": {
      "main": [
        [
          {
            "node": "If payload valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If payload valid": {
      "main": [
        [
          {
            "node": "Send Telegram message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build validation error result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram message": {
      "main": [
        [
          {
            "node": "Build send result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Bin1Me6S1IWNK7e7",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 3
  },
  "versionId": "f1cd1a4c-a4d3-4059-ad8d-5ecfb1679250",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "FmZEMyUH4jsC3Qxf",
  "tags": [
    {
      "name": "Telegram",
      "id": "Xm8IXOGX7oofEptt",
      "updatedAt": "2026-04-19T10:48:56.814Z",
      "createdAt": "2026-04-19T10:48:56.814Z"
    }
  ]
}