workflows/Workflow - Error.json
{
  "name": "Workflow - Error",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e6c05af8-efcd-483a-8d35-08de64b99df8",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "jsCode": "const workflowName = $json.workflow?.name || $json.execution?.workflowData?.name || 'unknown';\nconst errorMessage = $json.error?.message || $json.execution?.error?.message || $json.message || 'unknown error';\n\nreturn [{\n  json: {\n    message: `n8n: ERROR: workflow = ${workflowName}: ${errorMessage}`,\n    recipient: '-5213840069'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "8bd78810-4f64-438c-a3a9-d3f445866fa4",
      "name": "Build message payload"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FmZEMyUH4jsC3Qxf",
          "mode": "list",
          "cachedResultUrl": "/workflow/FmZEMyUH4jsC3Qxf",
          "cachedResultName": "Telegram - Send Message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        0
      ],
      "id": "4c40ae89-7b8c-4025-9d45-28c74c8c1068",
      "name": "Send Message",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Build message payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build message payload": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Bin1Me6S1IWNK7e7",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 5
  },
  "versionId": "63fc14a4-d329-4da1-a452-503aac9a3db9",
  "meta": {
    "instanceId": "9a86e2e169064cb50265681a96c982c97ed621c99e4666faa548d134581fb6a5"
  },
  "id": "Bin1Me6S1IWNK7e7",
  "tags": [
    {
      "name": "Telegram",
      "id": "Xm8IXOGX7oofEptt",
      "updatedAt": "2026-04-19T10:48:56.814Z",
      "createdAt": "2026-04-19T10:48:56.814Z"
    }
  ]
}